<div class="blog-list panel" nb-panel-hfill>

    <div class="panel-heading navbar navbar-default">
        <div>
            <div class="navbar-text">
                <i class="fa fa-tree fa-lg fa-fw text-muted" style="margin-left: 10px; margin-right: 15px"></i>NooBaa Blog
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div>
            <div ng-repeat="blog in blogs" class="blog-item">
                <a ng-href="item/{{blog.headline}}">
                    <h3 style="margin-top: 0">{{blog.subject}}</h3>
                </a>
                <p>
                    <small class="text-muted">
                        By {{blog.author.name}} &nbsp;&ndash;&nbsp; {{moment(blog.time).fromNow()}}
                    </small>
                </p>
                <hr />
                <a ng-href="item/{{blog.headline}}">
                    <img ng-src="{{blog.image_url}}" class="img-responsive" style="max-height: 30%" />
                </a>
                <div ng-show="blog.summary" style="margin-top: 10px">
                    <p>{{blog.summary}}</p>
                    <a ng-href="item/{{blog.headline}}">
                        <b>Continue reading</b>
                    </a>
                </div>
            </div>

            <div class="text-center">
                <button ng-if="has_more_blogs" class="btn btn-default">Load More...</button>
            </div>
        </div>
    </div>

</div>
