<div>
    <div ng-repeat="blog in blogs" class="blog-item">

        <div class="clearfix">
            <div class="pull-left">
                <a ng-href="item/{{blog.headline}}">
                    <img ng-src="{{blog.image_url}}" style="max-height: 60px; max-width: 60px; margin-right: 20px" />
                </a>
            </div>
            <div class="hflow">
                <a ng-href="item/{{blog.headline}}">
                    <h4 style="margin-top: 0">{{blog.subject}}</h4>
                    <div class="text-muted" style="font-size: 14px; line-height: 20px">
                        By {{blog.author.name}} &nbsp;&ndash;&nbsp; {{moment(blog.time).fromNow()}}
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix" ng-show="blog.summary">
            <hr />
            <div style="margin-top: 10px">
                <small>{{blog.summary}}</small>
                <a ng-href="item/{{blog.headline}}" class="a-link">
                    Continue reading
                </a>
            </div>
        </div>
    </div>

    <div class="text-center">
        <button ng-if="has_more_blogs" class="btn btn-default">Load More...</button>
    </div>
</div>
