<div class="browser panel" nb-panel-hfill ng-init="search_in_folder=''">

    <div class="panel-heading clearfix">

        <div class="navbar clearfix">
            <a class="btn btn-link pull-right" ng-click="toggle_edit_mode()">
                <i class="fa fa-fw fa-2x fa-bars"></i>
            </a>
            <a class="btn btn-link pull-right" ng-click="refresh_current('force')">
                <i class="fa fa-fw fa-2x fa-repeat {{current_inode.is_loading && 'fa-spin' || ''}}"></i>
            </a>
            <a class="btn btn-link pull-left" style="padding-left: 10px; padding-right: 20px" ng-click="go_up_level()" ng-disabled="!has_parent(current_inode)">
                <span ng-show="has_parent(current_inode)">
                    <!-- <i class="fa fa-arrow-circle-o-up fa-2x"></i> -->
                    
                    <span class="fa-stack">
                        <i class="fa fa-folder fa-stack-2x"></i>
                        <i class="fa fa-arrow-up fa-stack-1x fa-inverse" style="font-size: 0.8em"></i>
                    </span>
                    
                </span>
                <span ng-hide="has_parent(current_inode)" class="text-muted">
                    <i class="fa fa-home fa-2x"></i>
                </span>
            </a>
            <!-- 
            <div class="btn-group">
                <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" ng-disabled="!has_parent(current_inode)">
                    <span ng-show="has_parent(current_inode)">
                        <span class="fa-stack">
                            <i class="fa fa-folder fa-stack-2x"></i>
                            <i class="fa fa-caret-down fa-stack-1x text-success"></i>
                        </span>
                        <span class="text-muted">&nbsp;/</span>
                    </span>
                    <span ng-hide="has_parent(current_inode)" class="text-muted">
                        <i class="fa fa-home fa-2x"></i>
                    </span>
                </a>
                <ul ng-if="has_parent(current_inode)" class="dropdown-menu" role="menu" style="border: 1px solid hsl(0,0%,50%)">
                    <li ng-repeat="parent in path = nbInode.parents_path(current_inode)">
                        <a ng-click="open_inode(parent)" style="padding-left: {{10+((path.length-1-$index) * 15)}}px; font-size: 1.1em">
                            <i class="fa {{!parent.id && 'fa-home' || 'fa-folder-open'}} fa-fw"></i>
                            {{parent.name || '...'}}
                        </a>
                    </li>
                </ul>
            </div>
             -->
            <div class="hflow">
                <div class="navbar-text text-left text-ellipses text-color">
                    {{current_inode.name}}
                </div>
            </div>
        </div>

        <div ng-if="edit_mode" class="clearfix" style="padding: 0 10px 8px 10px">
            <div ng-if="num_selected() != 0">
                <div class="club-msg-mine" ng-include="'file_menu.html'" ng-init="inode = get_selection_leader()"></div>
            </div>
            <div ng-if="num_selected() == 0">
                <div class="club-msg-mine" ng-include="'file_menu.html'" ng-init="inode = current_inode"></div>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div ng-if="!current_inode.isdir" Xstyle="padding-top: 8px">
            <div nb-media="current_inode" media-events="media_events" show-content="true"></div>
        </div>
        <div ng-repeat="inode in filter_entries = ( current_inode.entries | filter:{name: search_in_folder} )">
            <div class="well line clickable {{inode.is_selected && 'active'}}" ng-click="click_inode(inode, $index, $event)">
                <div class="clearfix">
                    <a ng-if="edit_mode" class="pull-right btn btn-link">
                        <i ng-hide="inode.is_selected" class="fa fa-square-o fa-fw"></i>
                        <i ng-show="inode.is_selected" class="fa fa-check-square-o fa-fw"></i>
                    </a>
                    <div class="pull-right hidden-xs">
                        <span ng-show="inode.uploading">
                            <i title="Incomplete upload..." rel="tooltip" ng-click="inode_resume_upload(inode)" class="fa fa-cloud-upload fa-lg fa-fw"></i>
                        </span>
                        <span ng-show="!inode.isdir" style="margin-right: 10px">
                            {{human_size(inode.size)}}
                        </span>
                        <span ng-if="!!inode.ref_owner" style="margin-right: 10px">
                            {{inode.ref_owner.first_name}} &nbsp;
                            <img ng-src="{{nbUser.user_pic_url(inode.ref_owner)}}" class="user-image"></img>
                        </span>
                        <span>
                            {{moment(inode.ctime).fromNow(true)}}
                        </span>
                        <a class="btn btn-sm {{!inode.shr && 'btn-link' || inode.shr=='f' && 'btn-warning' || 'btn-warning btn-hover-only'}}" ng-if="nbInode.can_share_inode(inode)" ng-click="share_inode(inode)" ng-attr-title="{{!inode.shr && 'Click to invite' || inode.shr=='f' && 'Invited all friends' || 'Invited some friends'}}" rel="tooltip" style="margin-left: 5px">
                            <i class="fa fa-{{!inode.shr && 'lock' || 'user'}} fa-lg fa-fw {{!inode.shr && 'text-muted'}}"></i>
                        </a>
                    </div>
                    <div class="text-wrap" style="cursor: pointer">
                        <i class="fa fa-{{nbUtil.icon_by_kind(inode.content_kind)}} fa-fw fa-lg"></i>
                        <a class="btn btn-link" style="padding-left: 0; display: inline">
                            <span style="white-space: pre-wrap">{{inode.name}}</span>
                        </a>
                    </div>
                </div>
                <div class="clearfix" ng-if="inode.content_kind=='image'">
                    <div nb-media="inode" media-events="media_events" show-content="true"></div>
                </div>
            </div>
            <!-- <hr/> -->
        </div>
        <div ng-if="current_inode.isdir && !filter_entries.length" style="padding-left: 20px; line-height: 60px; vertical-align: middle">
            <span ng-if="current_inode.is_loading">
                Loading ...
            </span>
            <span ng-if="!current_inode.is_loading && !current_inode.entries.length">
                ( Empty )
            </span>
            <span ng-if="!current_inode.is_loading && current_inode.entries.length">
                ( Filtered items exist )
            </span>
        </div>
    </div>

    <div class="panel-footer text-center">
        <div ng-if="num_selected() != 0" class="text-warning">
            {{num_selected()}} items selected
        </div>
        <div ng-if="num_selected() == 0">
            {{current_inode.entries.length}} items
        </div>
    </div>
</div>
