<div class="club-panel navbar-top-pad">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="clearfix">
            <div ng-include="'action_bar_nav.html'" class="pull-left"></div>
            <div class="pull-right">
                <button class="btn btn-link navbar-btn" ng-click="nbClub.poll_clubs()">
                    <i class="fa fa-repeat fa-lg fa-fw"></i>
                </button>
                <div class="btn-group">
                    <a class="btn btn-link navbar-btn dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-ellipsis-v fa-lg fa-fw"></i>
                    </a>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li ng-if="club.admin">
                            <a ng-click="change_club_name()">Change club title</a>
                        </li>
                        <li>
                            <a ng-click="leave_club()">Leave club</a>
                        </li>
                    </ul>
                </div>
                <a class="btn btn-link navbar-btn" href="club/">
                    <span class="close">&times;</span>
                </a>
            </div>
        </div>
        <div ng-include="'action_bar_progress.html'"></div>
    </nav>

    <div class="view-animate-area">

        <div ng-style="club.style" class="club-bg clearfix" style="padding: 10px">
            <div class="clearfix">
                <div class="text-center club-title hflow" style="vertical-align: middle">
                    <!-- <img style="width: 0; height: 100%" src="" /> -->
                    <span>{{club.title}}</span>
                </div>
            </div>

            <div class="clearfix">
                <div ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]">
                    <a ng-click="click_club_member(i)">
                        <div ng-if="club.members[i]" style="position: relative" class="pull-left">
                            <div style="padding: 10px">
                                <img class="user-image-lg" ng-src="{{nbUser.user_pic_url(club.members[i].user_info)}}" style="Xopacity: 0.3; vertical-align: top" />
                            </div>
                            <span class="label bg-white text-color" style="position: absolute; top: 0; right: 0">2</span>
                        </div>
                        <div ng-if="!club.members[i]" style="padding: 4px" class="pull-left">
                            <div class="user-image-lg text-center" style="font-size: 30px; padding: 10px; background-color: hsl(0,0%,10%); border: 1px solid white; color: white">+</div>
                        </div>
                    </a>
                    <div ng-if="i==4">
                        <div class="clearfix"></div>
                        <div style="height: 200px; background-color: black"></div>
                    </div>
                </div>
            </div>

        </div>

        <div ng-if="!edit_mode">
            <div class="club-input">
                <div class="club-msg-btn pull-right">
                    <div class="btn-group">
                        <button ng-if="!club.message_input.length" class="btn btn-link dropdown-toggle" Xstyle="padding: 2px" data-toggle="dropdown" type="button">
                            <i class="fa fa-paperclip fa-2x fa-rotate-90 fa-fw" style="line-height: 0; vertical-align: -5px"></i>
                            <!-- ATTACH -->
                            <!-- <i class="fa fa-caret-down"></i> -->
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a ng-click="select_files_to_club()" style="padding-left: 10px">
                                    <i class="fa fa-folder-open fa-lg fa-fw"></i>
                                    Select from files
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a ng-click="upload_files_to_club()" style="padding-left: 10px">
                                    <i class="fa fa-cloud-upload fa-lg fa-fw"></i>
                                    Upload files
                                </a>
                            </li>
                        </ul>
                    </div>
                    <button ng-if="club.message_input.length" ng-click="send_club_text()" class="btn btn-default" ng-disabled="sending_message">
                        POST
                    </button>
                </div>
                <div style="overflow: hidden">
                    <textarea placeholder="Share something..." ng-model="club.message_input" nb-enter="send_club_text()" nb-auto-height="club.message_input" nb-focus="false" ng-disabled="sending_message"></textarea>
                </div>
            </div>
        </div>

        <div ng-if="!edit_mode">
            <div class="club-content">
                <div ng-repeat="msg in club.msgs track by $index" class="clearfix">
                    <div ng-if="club.seen_msg == msg._id && !$first">
                        <hr/>
                        <div class="text-center">
                            <div class="clearfix"></div>
                            <div class="bggray-lighter text-muted hflow">
                                <span>new messages</span>
                                <i class="fa fa-caret-up fa-lg"></i>
                            </div>
                        </div>
                        <hr/>
                    </div>
                    <div class="line" ng-style="msg_style(msg)">
                        <!-- <img style="width: 0; min-height: 70px" src="" /> -->
                        <img class="pull-left user-image" style="margin-right: 10px" ng-src="{{nbUser.user_pic_url(msg.user_info)}}" />
                        <a class="pull-right" ng-click="msg.liked = !msg.liked" style="padding-left: 10px">
                            <i class="fa fa-fw fa-2x {{msg.liked && 'fa-star text-danger' || msg.inode && 'fa-star text-white' || 'fa-star text-white'}} transition-fast"></i>
                        </a>
                        <a class="hflow hfill" ng-href="{{msg.inode && ('files/'+msg.inode.id) || ''}}">
                            <span ng-if="msg.text.length" class="text-wrap">
                                <span ng-bind-html="msg.text | linky:'_blank'" style="white-space: pre-wrap"></span>
                            </span>
                            <div ng-if="msg.inode && msg.inode.content_kind != 'image'" class="hflow">
                                <div class="text-ellipses">
                                    <i class="fa fa-{{nbUtil.icon_by_kind(msg.inode.content_kind)}} fa-fw club-msg-muted" style="margin-right: 5px"></i>
                                    <span>{{msg.inode.name}}</span>
                                </div>
                            </div>
                            <div>
                                <span class="club-msg-time">
                                    {{msg.user == nbUser.user.id && 'me' || msg.user_info.first_name}} &middot; {{moment(msg.time).fromNow()}}
                                </span>
                            </div>
                        </a>
                        <!--  
                    <a ng-if="msg.inode" ng-href="files/{{msg.inode.id}}" style="height: 80px">
                            <i class="fa fa-{{nbUtil.icon_by_kind(msg.inode.content_kind)}} fa-fw club-msg-muted" style="margin-right: 5px"></i>
                            <span style="white-space: pre-wrap">{{msg.inode.name}}</span>
                        <div nb-media="msg.inode" autoplay="false"></div>
                    </a>
                    -->

                    </div>
                </div>
            </div>
        </div>

        <div ng-if="edit_mode">
            <hr class="headline" />
            <div class="line headline">
                <b>MEMBERS</b>
                <a ng-if="club.admin" class="btn btn-success" ng-click="add_member()">
                    <!-- <i class="fa fa-user fa-2x text-muted"></i> -->
                    <!-- <i class="fa fa-plus text-success" style="margin-left: -7px; vertical-align: 14px"></i> -->
                    ADD FRIEND
                </a>
                <a ng-if="!is_new" class="btn btn-link" ng-click="leave_club()">
                    LEAVE CLUB
                </a>
            </div>

            <div ng-repeat="member in club.members track by $index">
                <div class="line">
                    <img class="pull-left user-image" ng-src="{{nbUser.user_pic_url(member.user_info)}}" />
                    <div class="pull-right" style="padding-left: 10px">
                        <button ng-click="remove_member($index)" ng-if="club.admin && !member.admin" class="close" style="margin-top: -15px">&times;</button>
                        <span ng-show="member.admin" Xclass="text-success">ADMIN</span>
                    </div>
                    <div class="hflow" style="padding-left: 10px">
                        <div class="text-ellipses">{{member.user_info.name}}</div>
                        <div>
                            <i ng-show="!member.user_info.id && member.user_info.fbid" class="fa fa-lg fa-facebook-square text-primary"></i>
                            <i ng-show="!member.user_info.id && member.user_info.googleid" class="fa fa-lg fa-google-plus-square text-danger"></i>
                        </div>
                    </div>
                </div>
                <!-- <hr /> -->
            </div>
        </div>

    </div>

</div>
