<div class="club-panel panel" nb-panel-hfill>

    <div class="panel-heading Xnavbar Xnavbar-default clearfix">
        <div>
            <!-- 
            <a class="btn btn-link btn-back pull-left" href="club/">
                <i class="fa fa-angle-left"></i>
            </a>
            <img class="user-image pull-left" ng-src="{{club.logo}}" />

            <div class="hflow">
                <div class="navbar-text text-left text-ellipses text-color">{{club.title}}</div>
            </div>
         -->
            <div class="clearfix bgnoise2" ng-style="club.style">
                <div class="btn-group pull-right">
                    <a class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-fw fa-2x fa-bars"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a ng-href="club/info/{{club._id}}">
                                <i class="fa fa-info-circle"></i>
                                <span>Club info and members</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="hflow text-center">
                    <div class="club-title text-ellipses">
                        {{club.title}}
                    </div>
                </div>
            </div>
            <div class="club-input">
                <div class="club-msg-btn pull-right">
                    <div class="btn-group">
                        <button ng-if="!club.message_input.length" class="btn btn-default dropdown-toggle" Xstyle="padding: 2px" data-toggle="dropdown" type="button">
                            <!-- <i class="fa fa-paperclip fa-2x fa-rotate-90 fa-fw"></i> -->
                            ATTACH
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a ng-click="select_files_to_club()" style="padding-left: 10px">
                                    <i class="fa fa-folder-open fa-lg fa-fw"></i>
                                    Select from files
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a ng-click="upload_files_to_club()" style="padding-left: 10px">
                                    <i class="fa fa-cloud-upload fa-lg fa-fw"></i>
                                    Upload files
                                </a>
                            </li>
                        </ul>
                    </div>
                    <button ng-if="club.message_input.length" ng-click="send_club_text()" class="btn btn-default" ng-disabled="sending_message">
                        POST
                    </button>
                </div>
                <div style="overflow: hidden">
                    <textarea placeholder="Say something interesting..." ng-model="club.message_input" nb-enter="send_club_text()" nb-auto-height="club.message_input" nb-focus="false" ng-disabled="sending_message"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="club-content">
            <div ng-repeat="msg in club.msgs track by $index" class="clearfix">
                <div ng-if="club.seen_msg == msg._id && !$first">
                    <hr/>
                    <div class="text-center">
                        <div class="clearfix"></div>
                        <div class="bggray-lighter text-muted hflow">
                            <span>new messages</span>
                            <i class="fa fa-caret-up fa-lg"></i>
                        </div>
                    </div>
                    <hr/>
                </div>
                <div class="line" ng-style="msg_style(msg)">
                    <!-- <img style="width: 0; min-height: 70px" src="" /> -->
                    <img class="pull-left user-image" style="margin-right: 10px" ng-src="{{nbUser.user_pic_url(msg.user_info)}}" />
                    <a class="pull-right" ng-click="msg.liked = !msg.liked" style="padding-left: 10px">
                        <i class="fa fa-fw fa-2x {{msg.liked && 'fa-star text-danger' || msg.inode && 'fa-star text-white' || 'fa-star text-white'}} transition-fast"></i>
                    </a>
                    <a class="hflow hfill" ng-href="{{msg.inode && ('files/'+msg.inode.id) || ''}}">
                        <span ng-if="msg.text.length" class="text-wrap">
                            <span ng-bind-html="msg.text | linky:'_blank'" style="white-space: pre-wrap"></span>
                        </span>
                        <div ng-if="msg.inode && msg.inode.content_kind != 'image'" class="hflow">
                            <div class="text-ellipses">
                                <i class="fa fa-{{nbUtil.icon_by_kind(msg.inode.content_kind)}} fa-fw club-msg-muted" style="margin-right: 5px"></i>
                                <span>{{msg.inode.name}}</span>
                            </div>
                        </div>
                        <div>
                            <span class="club-msg-time">
                                {{msg.user == nbUser.user.id && 'me' || msg.user_info.first_name}} &middot; {{moment(msg.time).fromNow()}}
                            </span>
                        </div>
                    </a>
                    <!--  
                    <a ng-if="msg.inode" ng-href="files/{{msg.inode.id}}" style="height: 80px">
                            <i class="fa fa-{{nbUtil.icon_by_kind(msg.inode.content_kind)}} fa-fw club-msg-muted" style="margin-right: 5px"></i>
                            <span style="white-space: pre-wrap">{{msg.inode.name}}</span>
                        <div nb-media="msg.inode" autoplay="false"></div>
                    </a>
                    -->

                </div>
            </div>
        </div>
    </div>

</div>
