<div class="club-info panel" ng-controller="ClubInfoCtrl" nb-panel-hfill>

    <div class="panel-heading">
        <button ng-click="back()" class="btn btn-link pull-left" title="Back" rel="tooltip" nb-tooltip="{container: 'body'}">
            <i class="fa fa-angle-left fa-3x pull-left"></i>
            <i class="fa fa-cube fa-2x pull-left" style="margin-top: 7px; margin-left: 3px"></i>
            <div class="pull-left club-title" style="padding: 5px; vertical-align: top">
                {{is_new && 'NEW CLUB' || 'CLUB INFO'}}
            </div>
        </button>
        <button ng-click="save_club()" ng-if="club.admin" class="btn btn-success pull-right" style="margin: 6px 10px; height: 40px">
            <i class="fa fa-check fa-lg"></i>
            {{is_new && 'CREATE' || 'SAVE'}}
        </button>
    </div>

    <div class="panel-body">

        <div class="line bgnoise2 bggray-lighter" ng-init="edit_mode={on: is_new}">
            <button class="btn btn-link pull-left" style="padding: 0; margin-right: 10px" ng-click="" title="Choose logo" rel="tooltip" nb-tooltip="{container: 'body'}">
                <img class="user-image-lg" ng-src="{{club.logo}}" />
                <!-- <i class="fa fa-paw fa-2x text-muted"></i> -->
            </button>
            <div class="animate-switch-container" style="height: 50px" ng-switch="edit_mode.on">
                <div ng-switch-when="true" class="animate-switch">
                    <button class="btn btn-link pull-right" style="padding-right:0" ng-click="edit_mode.on=false" ng-hide="is_new">
                        <i class="fa fa-check fa-2x"></i>
                    </button>
                    <div class="hflow">
                        <input type="text" class="form-control input-lg" ng-model="club.title" placeholder="Enter club title (e.g. fight club)" nb-focus="true" />
                    </div>
                </div>
                <div ng-switch-when="false" class="animate-switch">
                    <a class="btn btn-link btn-block" ng-click="edit_mode.on=true" title="Edit title" rel="tooltip" nb-tooltip="{container: 'body'}">
                        <i class="fa fa-pencil fa-2x pull-right"></i>
                        <div class="hflow club-title text-left text-ellipses" Xstyle="line-height: 50px">
                            {{club.title}}
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="headline">
            <div class="line"><b>members</b>
            </div>
            <hr />
        </div>

        <div ng-repeat="member in club.members track by $index">
            <div class="line line-p1">
                <img class="pull-left user-image-lg" ng-src="{{nbUser.user_pic_url(member.user_info)}}" />
                <div class="pull-right">
                    <button ng-click="remove_member($index)" ng-if="club.admin && !member.admin" class="close">&times;</button>
                </div>
                <div class="hflow" style="padding: 5px 0 0 10px">
                    <div class="text-ellipses">{{member.user_info.name}}</div>
                    <div>
                        <i ng-show="!member.user_info.id && member.user_info.fbid" class="fa fa-lg fa-facebook-square text-primary"></i>
                        <i ng-show="!member.user_info.id && member.user_info.googleid" class="fa fa-lg fa-google-plus-square text-danger"></i>
                        <span ng-show="member.admin" class="text-success">CLUB ADMIN</span>
                    </div>
                </div>
            </div>
            <hr />
        </div>

        <div ng-if="club.admin">
            <a class="line line-p1 clickable text-center" ng-click="add_member()">
                <i class="fa fa-user fa-2x text-muted"></i>
                <i class="fa fa-plus text-success" style="margin-left: -7px; vertical-align: 14px"></i>
                ADD FRIEND
            </a>
            <hr />
        </div>

    </div>

</div>
