<div class="club-panel panel" nb-panel-hfill>

    <div class="panel-heading navbar navbar-default clearfix">
        <div>
            <a class="btn btn-link btn-back pull-left" href="club/">
                <i class="fa fa-angle-left"></i>
            </a>
            <img class="user-image pull-left" ng-src="{{club.logo}}" />

            <div class="btn-group pull-right">
                <a class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-fw fa-2x fa-bars"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a ng-href="club/info/{{club._id}}">
                            <i class="fa fa-info-circle"></i>
                            <span>Club info and members</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="hflow">
                <div class="navbar-text text-left text-ellipses text-color">{{club.title}}</div>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="club-content">

            <div class="club-input well">
                <div class="club-msg-btn pull-right">
                    <div class="btn-group">
                        <button ng-if="!club.message_input.length" class="btn btn-link dropdown-toggle" style="padding: 2px" data-toggle="dropdown" type="button">
                            <i class="fa fa-paperclip fa-2x fa-rotate-90 fa-fw"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a ng-click="select_files_to_club()" style="padding-left: 10px">
                                    <i class="fa fa-folder-open fa-lg fa-fw"></i>
                                    Select from files
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a ng-click="upload_files_to_club()" style="padding-left: 10px">
                                    <i class="fa fa-cloud-upload fa-lg fa-fw"></i>
                                    Upload files
                                </a>
                            </li>
                        </ul>
                    </div>
                    <button ng-if="club.message_input.length" ng-click="send_club_text()" class="btn btn-success" ng-disabled="sending_message">
                        <i class="fa fa-paper-plane fa-lg fa-fw"></i>
                    </button>
                </div>
                <div style="overflow: hidden">
                    <textarea placeholder="Enter message" ng-model="club.message_input" nb-enter="send_club_text()" nb-auto-height nb-focus="false" ng-disabled="sending_message"></textarea>
                </div>
            </div>

            <div ng-repeat="msg in club.msgs track by $index" class="clearfix">
                <div ng-if="club.seen_msg == msg._id && !$first" class="text-center club-bottom-margin">
                    <div class="clearfix"></div>
                    <div class="alert alert-info hflow">
                        <span>new messages</span>
                        <i class="fa fa-caret-up fa-lg"></i>
                    </div>
                </div>
                <div class="{{(msg.user != nbUser.user.id) && 'club-msg-user' || 'club-msg-mine'}}" ng-init="show_img = false">
                    <div ng-show="msg.user != nbUser.user.id" class="clearfix" style="color: hsl({{msg.user_info.color}}, 70%, 55%)" ng-click="show_img=!show_img">
                        <img ng-show="show_img" class="pull-left user-image" style="margin-right: 10px" ng-src="{{nbUser.user_pic_url(msg.user_info)}}" />
                        <span>{{msg.user_info.first_name}}</span>
                    </div>
                    <div ng-if="msg.text" class="text-wrap">
                        <span ng-bind-html="msg.text | linky:'_blank'" style="white-space: pre-wrap"></span>
                        <span class="club-msg-time">&nbsp;{{moment(msg.time).format('HH:mm')}}</span>
                    </div>
                    <div ng-if="msg.inode">
                        <div nb-media="msg.inode" show-content="true" autoplay="false"></div>
                        <a ng-href="files/{{msg.inode.id}}">
                            <div class="text-ellipses">
                                <i class="fa fa-{{nbUtil.icon_by_kind(msg.inode.content_kind)}} fa-fw club-msg-muted" style="margin-right: 5px"></i>
                                <b><span style="white-space: pre-wrap">{{msg.inode.name}}</span></b>
                            </div>
                            <div>
                                <span ng-show="!msg.inode.isdir" class="club-msg-muted">{{human_size(msg.inode.size)}}</span>
                                <span class="club-msg-time">&nbsp;{{moment(msg.time).format('HH:mm')}}</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- 
        <div class="clearfix">
            <div class="alert alert-info text-center" ng-if="club.user && !club.user.id && club.msgs.length">
                <a ng-click="nbUser.send_friend_reminder(club.user)">
                    Send {{nbUser.user_first_name(club.user)}} a reminder to join
                </a>
            </div>
        </div>
         -->
        </div>
    </div>

</div>
