<div>
    <div class="line headline">
        MEMBERS
        <a class="pull-right" ng-click="back()">
            <span class="close">&times;</span>
        </a>
    </div>
    <hr class="headline" />
    <div ng-repeat="member in club.members track by $index">
        <div class="line">
            <img class="pull-left user-image" ng-src="{{nbUser.user_pic_url(member.user_info)}}" />
            <div class="pull-right" style="padding-left: 10px">
                <button ng-click="remove_member(member)" ng-if="club.admin && !member.admin" style="margin-top: -10px" class="btn btn-link">
                    <i class="fa fa-trash-o fa-lg fa-fw"></i>
                </button>
                <span ng-show="member.admin">ADMIN</span>
            </div>
            <div class="hflow" style="padding-left: 10px">
                <div class="text-ellipses">{{member.user_info.name}}</div>
                <div>
                    <i ng-show="!member.user_info.id && member.user_info.fbid" class="fa fa-lg fa-facebook-square text-primary"></i>
                    <i ng-show="!member.user_info.id && member.user_info.googleid" class="fa fa-lg fa-google-plus-square text-danger"></i>
                </div>
            </div>
        </div>
        <hr />
    </div>
    <div class="line text-center">
        <a ng-if="club.admin" class="btn btn-info" ng-click="add_member()">
            <!-- <i class="fa fa-user fa-2x text-muted"></i> -->
            <!-- <i class="fa fa-plus text-success" style="margin-left: -7px; vertical-align: 14px"></i> -->
            ADD FRIEND
        </a>
    </div>
</div>
