<div class="club-list navbar-top-pad">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="clearfix">
            <div ng-include="'action_bar_nav.html'" class="pull-left"></div>
            <div class="pull-right">
                <a class="btn btn-link navbar-btn" ng-click="nbClub.create_new_club()">
                    NEW CLUB
                </a>
                <div class="btn-group">
                    <a class="btn btn-link navbar-btn dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-ellipsis-v fa-lg fa-fw"></i>
                    </a>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a ng-click="nbClub.poll_clubs()">
                                <i class="fa fa-repeat fa-lg fa-lg"></i>
                                Refresh
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-include="'action_bar_progress.html'"></div>
    </nav>

    <div class="view-animate-area">
        <div ng-repeat="club in nbClub.clubs_arr track by $index">
            <a ng-href="club/{{club._id}}" class="club-bg line club-title" style="background-color: hsl({{club.color}},50%,45%); padding: 80px 20px">
                <span ng-show="club.new_msgs">
                    <!-- hidden bell on left for balance of title center -->
                    <i class="pull-left fa fa-bell fa-fw fa-lg" style="visibility: hidden"></i>
                    <i class="pull-right fa fa-bell fa-fw fa-lg tossing"></i>
                </span>
                <div class="hflow text-center text-ellipses">
                    {{club.title}}
                </div>
            </a>
            <hr class="headline" />
        </div>
    </div>
</div>
