<div class="club-list panel" nb-panel-hfill>

    <div class="panel-heading" style="padding: 10px">
        <button class="btn btn-default btn-lg text-light" ng-click="nbClub.start_new_club()">
            <i class="fa fa-plus fa-lg"></i>
            NEW CLUB
        </button>
    </div>

    <div class="panel-body">

        <div ng-repeat="club in filtered_clubs = (nbClub.clubs_arr | filter:{title:club_search_input}) track by $index">
            <a class="line clickable" ng-click="nbClub.open_club(club._id)">
                <img class="pull-left user-image-lg" ng-src="{{nbUser.user_pic_url(club.user)}}" />
                <div class="pull-right text-center" style="padding: 15px 5px 0 5px; width: 55px">
                    <span class="label label-success" ng-show="club.new_msgs">{{club.new_msgs}}</span>
                </div>
                <div class="hflow" style="padding: 5px 0 0 10px">
                    <div class="text-ellipses">{{club.title}}</div>
                    <div class="text-ellipses {{club.new_msgs && 'text-success' || 'text-muted'}}" ng-if="club.msgs.length">
                        <i class="fa fa-fw {{club.msgs[club.msgs.length-1].user != nbUser.user.id && 'fa-caret-right fa-lg' || 'fa-check'}}"></i>
                        <span>{{club.msgs[club.msgs.length-1].text}}</span>
                    </div>
                </div>
            </a>
            <hr />
        </div>

    </div>

</div>
