<div class="panel files-panel {{dialog && 'files-dialog'}}" nb-panel-hfill>

    <div class="panel-heading navbar navbar-default clearfix">
        <div>

            <div ng-if="!dialog && select_mode" class="btn-group pull-right">
                <a ng-disabled="selection_menu_disabled()" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    ACTIONS
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li class="text-center">
                        <span class="badge">{{num_selected()}} items selected</span>
                    </li>
                    <li>
                        <a ng-click="share_inodes_with_club()">
                            <i class="fa fa-cube"></i>
                            <span>Share with CLUB</span>
                        </a>
                    </li>
                    <li>
                        <a ng-click="move_inodes()">
                            <i class="fa fa-arrows"></i>
                            Move items
                        </a>
                    </li>
                    <li>
                        <a ng-click="delete_inodes()">
                            <i class="fa fa-trash-o"></i>
                            Delete items
                        </a>
                    </li>
                </ul>
            </div>
            <button ng-if="!dialog && select_mode" class="btn btn-default pull-right" ng-click="clear_select_mode()">
                UNSELECT
            </button>
            <button ng-if="!!dialog" ng-click="dialog.run(selection)" ng-disabled="dialog.run_disabled(selection)" ng-if="has_selected()" class="btn btn-success pull-right">
                OK
            </button>
            <button ng-if="!!dialog" class="btn btn-default pull-right" ng-click="dialog.cancel()">
                CANCEL
            </button>
            <div ng-if="!dialog && !select_mode" class="btn-group pull-right">
                <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" Xng-click="toggle_select_mode()">
                    <i class="fa fa-fw fa-2x fa-bars"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-if="nbInode.can_share_inode(current_inode)">
                        <a ng-click="share_inode_with_club(current_inode)">
                            <i class="fa fa-cube"></i>
                            <span>Share with CLUB</span>
                        </a>
                    </li>
                    <li ng-if="nbInode.can_keep_inode(current_inode)">
                        <a ng-disabled="current_inode.running_keep || current_inode.done_keep" ng-click="keep_inode(current_inode)">
                            <i class="fa fa-{{current_inode.done_keep && 'check' || 'plus'}}"></i>
                            <span>Keep</span>
                        </a>
                    </li>

                    <li ng-if="nbInode.can_share_inode(current_inode) || nbInode.can_keep_inode(current_inode)" class="divider"></li>

                    <div nb-if-replace="current_inode.isdir">
                        <li ng-if="!!current_inode.id && entries.length">
                            <a ng-click="set_select_mode()">
                                <i class="fa fa-square-o"></i>
                                <span>Select Items</span>
                            </a>
                        </li>
                        <li ng-if="nbInode.can_upload_to_dir(current_inode)">
                            <a ng-click="nbUploadSrv.open_file_input()">
                                <i class="fa fa-cloud-upload"></i>
                                <span>Upload Files</span>
                            </a>
                        </li>
                        <li ng-if="nbInode.can_upload_to_dir(current_inode)">
                            <a ng-click="nbInode.new_folder(current_inode)">
                                <span class="fa-stack">
                                    <i class="fa fa-folder fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                                <span>New Folder</span>
                            </a>
                        </li>
                    </div>

                    <li ng-if="!current_inode.isdir && !current_inode.uploading && current_inode.size">
                        <a href="{{nbInode.download_url(current_inode)}}" download="{{current_inode.name}}" target="_blank">
                            <i class="fa fa-cloud-download"></i>
                            <span>Download</span>
                        </a>
                    </li>
                    <li ng-if="nbInode.can_upload_file(current_inode)">
                        <a ng-click="resume_upload(current_inode)">
                            <i class="fa fa-cloud-upload"></i>
                            <span>Resume Upload</span>
                        </a>
                    </li>
                    <li ng-if="!current_inode.ref_owner && nbInode.can_change_inode(current_inode)">
                        <a ng-click="nbInode.rename_inode(current_inode)">
                            <i class="fa fa-pencil fa-rotate-270"></i>
                            Rename
                        </a>
                    </li>

                    <li ng-if="current_inode.isdir && !!current_inode.id" class="divider"></li>

                    <li>
                        <a ng-click="refresh_current('force')">
                            <i class="fa fa-repeat"></i>
                            <span>Refresh</span>
                        </a>
                    </li>

                    <!-- 
                    <li>
                        <div style="display: inline-block; max-width: 120px; vertical-align:middle">
                            <div ng-show="inode.isdir" Xclass="input-group" style="position: relative">
                                <input type="text" class="form-control {{search_in_folder && 'label-primary'}}" maxlength="100" placeholder="Search folder" ng-model="search_in_folder" />
                                <i ng-show="search_in_folder" class="fa fa-times fa-fw" style="cursor: pointer; position: absolute; right: 8px; top: 10px" ng-click="search_in_folder=''"></i>
                            </div>
                        </div>
                    </li>
                     -->
                    <!-- 
                    <li ng-if="num_selected() <= 1">
                        <a ng-click="play_inode(inode)">
                            <i class="fa fa-play"></i>
                            <span>Play</span>
                        </a>
                    </li>
                     -->
                </ul>
            </div>
            <button class="btn btn-link btn-back pull-left" ng-click="go_up_level()" ng-disabled="!has_parent(current_inode)">
                <!-- 
                <span ng-show="has_parent(current_inode)">
                    <span class="fa-stack">
                        <i class="fa fa-folder fa-stack-2x"></i>
                        <i class="fa fa-arrow-up fa-stack-1x fa-inverse" style="font-size: 0.8em"></i>
                    </span>
                </span>
                -->
                <i ng-show="has_parent(current_inode)" class="fa fa-angle-left"></i>
                <i ng-hide="has_parent(current_inode)" class="fa fa-home text-muted"></i>
            </button>
            <div class="hflow">
                <div class="navbar-text text-left text-ellipses text-color">
                    {{current_inode.name}}
                </div>
            </div>

        </div>
    </div>

    <div class="panel-body">
        <div ng-if="!current_inode.isdir" Xstyle="padding-top: 8px">
            <div nb-media="current_inode" media-events="media_events" show-content="true"></div>
        </div>
        <div ng-repeat="inode in entries">
            <div class="btn-line {{is_selected(inode) && 'active'}} {{select_mode && !is_selected(inode) && 'select-pulse'}} {{is_clickable(inode) || 'disabled'}}" ng-click="click_inode(inode, $index, $event)" nb-right-click="right_click_inode(inode, $index, $event)">
                <div class="clearfix">
                    <div class="pull-right" style="margin-left: 10px">
                        <i ng-show="select_mode && !is_selected(inode)" class="fa fa-square-o fa-fw fa-lg"></i>
                        <i ng-show="select_mode && is_selected(inode)" class="fa fa-check-square-o fa-fw fa-lg"></i>
                        <i ng-hide="select_mode" class="fa fa-chevron-circle-right fa-fw fa-lg text-muted"></i>
                    </div>
                    <div class="pull-right text-center" ng-switch="inode.content_kind" style="margin: -5px 0 -5px 10px; max-height: 1.5cm; width: 1.5cm">
                        <img ng-switch-when="image" ng-src="{{nbInode.fobj_get_url(inode)}}" style="vertical-align: top; max-width: 100%; max-height: 100%" />
                        <!-- <i ng-switch-when="video" class="fa fa-play-circle text-muted" style="font-size: 1cm"></i> -->
                        <!-- <i ng-switch-when="audio" class="fa fa-play-circle text-muted" style="font-size: 1cm"></i> -->
                        <!-- <i ng-switch-default class="fa fa-chevron-circle-right text-muted" style="font-size: 1cm"></i> -->
                    </div>
                    <div class="pull-right hidden-xs hidden" style="margin-left: 10px">
                        <span ng-show="inode.uploading">
                            <i title="Incomplete upload..." rel="tooltip" class="fa fa-cloud-upload fa-lg fa-fw"></i>
                        </span>
                        <span ng-show="!inode.isdir" style="margin-right: 10px">
                            {{human_size(inode.size)}}
                        </span>
                        <span ng-if="!!inode.ref_owner" style="margin-right: 10px">
                            {{inode.ref_owner.first_name}} &nbsp;
                            <img ng-src="{{nbUser.user_pic_url(inode.ref_owner)}}" class="user-image"></img>
                        </span>
                        <span>
                            {{moment(inode.ctime).fromNow()}}
                        </span>
                        <!-- 
                        <a class="btn btn-sm {{!inode.shr && 'btn-link' || inode.shr=='f' && 'btn-warning' || 'btn-warning btn-hover-only'}}" ng-if="nbInode.can_share_inode(inode)" ng-click="share_inode(inode)" ng-attr-title="{{!inode.shr && 'Click to invite' || inode.shr=='f' && 'Invited all friends' || 'Invited some friends'}}" rel="tooltip" style="margin-left: 5px">
                            <i class="fa fa-{{!inode.shr && 'lock' || 'user'}} fa-lg fa-fw {{!inode.shr && 'text-muted'}}"></i>
                        </a>
                         -->
                    </div>
                    <div class="text-wrap">
                        <i class="fa fa-{{nbUtil.icon_by_kind(inode.content_kind)}} fa-fw fa-lg"></i>
                        <span style="white-space: pre-wrap">{{inode.name}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="current_inode.isdir && !entries.length">
            <div ng-if="!current_inode.loaded || current_inode.is_loading">
                <h3 class="text-center text-muted">
                    Loading <i class="fa fa-circle-o-notch fa-spin"></i>
                </h3>
            </div>
            <div ng-if="current_inode.loaded && !current_inode.is_loading && !current_inode.entries.length">
                <h3 class="text-center text-muted">
                    Folder is empty
                </h3>
                <div class="text-center" ng-if="!dialog && nbInode.can_upload_to_dir(current_inode)">
                    <a class="btn btn-default" ng-click="nbUploadSrv.open_file_input()">
                        <i class="fa fa-cloud-upload"></i>
                        Upload files
                    </a>
                </div>
            </div>
            <div ng-if="current_inode.loaded && !current_inode.is_loading && current_inode.entries.length">
                <h3 class="text-center text-muted">
                    Filtered items exist
                </h3>
            </div>
        </div>
    </div>

    <!-- 
    <div class="panel-footer text-center">
        <div ng-if="num_selected() != 0" class="text-warning">
            {{num_selected()}} items selected
        </div>
        <div ng-if="num_selected() == 0">
            {{current_inode.entries.length}} items
        </div>
    </div>
     -->
</div>
