<div ng-controller="FriendChooserCtrl" class="friend-chooser panel" nb-panel-hfill nb-escape="back()">

    <div class="panel-heading">
        <a ng-click="back()" class="btn btn-link btn-lg pull-left" style="padding: 5px 10px">
            <i class="fa fa-angle-left fa-3x text-muted"></i>
        </a>
        <div class="hflow" style="padding: 10px">
            <div class="search-control form-control input-lg clearfix">
                <a class="btn btn-link pull-left" style="padding: 0 10px 0 0" ng-click="start_search_friend()">
                    <i class="fa fa-search fa-lg text-muted"></i>
                </a>
                <button ng-show="friend_input" class="pull-right close" ng-click="reset_search_friend()" style="margin: -10px -10px 0 0">&times;</button>
                <div class="hflow relpos">
                    <input type="text" class="inner-input" placeholder="Friend Name or Email" ng-model="friend_input" nb-focus="search_friend" ng-focus="start_search_friend()" />
                </div>
            </div>
        </div>

    </div>

    <div class="panel-body">

        <div ng-hide="filtered_friends.length || nbUtil.valid_email(friend_input)">
            <div class="headline text-center">
                <div class="line line-p2 text-muted">
                    <span class="lead">NO FRIENDS FOUND</span>
                </div>
            </div>
        </div>

        <div ng-repeat="friend in filtered_friends = (nbUser.friends.all | filter:{name:friend_input} | orderBy:'name' | limitTo:100) track by $index">
            <a class="line clickable {{was_chosen(friend) && 'disabled'}}" ng-click="choose_friend(friend)">
                <img class="pull-left user-image-lg" ng-src="{{nbUser.user_pic_url(friend)}}" />
                <div class="pull-right show-on-disabled">
                    <i class="fa fa-lg fa-check"></i>
                </div>
                <div class="hflow" style="padding: 5px 0 0 10px">
                    <div class="text-ellipses">{{friend.name}}</div>
                    <div>
                        <i ng-show="!friend.id && friend.fbid" class="fa fa-lg fa-facebook-square text-primary"></i>
                        <i ng-show="!friend.id && friend.googleid" class="fa fa-lg fa-google-plus-square text-danger"></i>
                    </div>
                </div>
            </a>
            <hr />
        </div>

        <div class="headline">
            <div class="line line-p2">
                <b>FIND MORE FRIENDS</b>
            </div>
            <hr />
        </div>
        <a ng-click="choose_friend_email(friend_input)" class="line line-p2 clickable">
            <i class="fa fa-envelope fa-lg fa-fw"></i>
            <span ng-show="nbUtil.valid_email(friend_input)">
                Invite {{friend_input}}
            </span>
            <span ng-hide="nbUtil.valid_email(friend_input)">
                Invite by email
            </span>
        </a>
        <hr />
        <a ng-click="nbUser.connect_facebook()" ng-hide="nbUser.user.fbid" class="line line-p2 clickable">
            <i class="fa fa-facebook-square fa-lg fa-fw"></i>
            Connect Facebook
        </a>
        <div ng-show="nbUser.user.fbid" class="line line-p2 text-muted">
            <i class="fa fa-check fa-fw"></i>
            Connected with Facebook
        </div>
        <hr />
        <a ng-click="nbUser.connect_google()" ng-hide="nbUser.user.googleid" class="line line-p2 clickable">
            <i class="fa fa-google-plus-square fa-lg fa-fw"></i>
            Connect Google+
        </a>
        <div ng-show="nbUser.user.googleid" class="line line-p2 text-muted">
            <i class="fa fa-check fa-fw"></i>
            Connected with Google+
        </div>
        <hr />

    </div>

</div>
