<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="row">

        <div class="hidden-xs col-sm-4"></div>

        <div class="hidden-xs col-sm-4 text-center">
            <a class="navbar-brand" href="/">
                <img src="/public/images/noobaa_logo.png"></img>
                <div>beta</div>
            </a>
        </div>

        <div class="visible-xs col-xs-6 text-left">
            <a class="navbar-brand" href="/">
                <img src="/public/images/noobaa_logo.png"></img>
                <div>beta</div>
            </a>
        </div>

        <div class="col-sm-4 col-xs-6 text-right">
            <div class="navbar-user text-ellipses" ng-if="nbUser.user">
                <a class="navbar-link btn btn-link" ng-click="click_profile()">
                    <img ng-src="{{nbUser.user_pic_url(nbUser.user)}}" class="user-image" />
                    <span class="hidden-xs">
                        {{nbUser.user.first_name}}
                    </span>
                </a>
            </div>
            <div ng-if="!nbUser.user" style="padding-top: 5px">
                <button class="navbar-btn btn btn-default" style="margin-right: 10px">
                    Login
                </button>
                <button class="navbar-btn btn btn-default" style="margin-right: 10px">
                    Sign Up
                </button>
            </div>
        </div>

    </div>

</nav>
