<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Start using your account</h4>
            </div>


            <div class="modal-body">
                <div class="center-block" style="padding: 20px 40px">
                    <div class="text-center" ng-hide="ready">
                        <p>Preparing...</p>
                        <i class="fa fa-spin fa-circle-o-notch fa-3x"></i>
                    </div>
                    <div ng-show="ready">
                        <div class="clearfix">
                            <form class="form text-center" role="form" ng-submit="login_email(email,password)">
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputEmail2">Email</label>
                                    <input type="email" class="form-control input-lg" id="exampleInputEmail2" placeholder="Email" ng-model="email" required />
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputPassword2">Password</label>
                                    <input type="password" class="form-control input-lg" id="exampleInputPassword2" placeholder="Password" ng-model="password" required />
                                </div>
                                <button type="submit" class="btn btn-default btn-lg" ng-disabled="running_signin">
                                    Sign in
                                    <span ng-if="running_signin">
                                        <i class="fa fa-circle-o-notch fa-spin"></i>
                                    </span>
                                </button>
                            </form>
                        </div>
                        <hr/>
                        <div class="center-block" style="max-width: 300px">
                            <div class="clearfix">
                                <button ng-click="login_facebook()" class="btn btn-primary btn-block">
                                    <i class="fa fa-facebook fa-lg" style="margin-right: 10px"></i>
                                    Sign in with Facebook
                                </button>
                            </div>
                            <div class="pad-10"></div>
                            <div class="clearfix">
                                <button ng-click="login_google()" class="btn btn-danger btn-block">
                                    <i class="fa fa-google-plus fa-lg" style="margin-right: 5px"></i>
                                    Sign in with Google+
                                </button>
                            </div>
                            <div class="pad-10"></div>
                            <div class="nb-facepile">
                                <div class="fb-facepile" data-width="290" data-max-rows="1" data-colorscheme="light" data-size="large" data-show-count="false" nb-xfbml></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
