<div class="uploads navbar-top-pad">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="clearfix">
            <div ng-include="'action_bar_nav.html'" ng-repeat="menu_open in [0,1]" class="pull-left navmenu {{menu_open && 'navmenu-open visible-md visible-lg' || 'visible-xs visible-sm'}}"></div>
            <div ng-repeat="menu_open in [0,1]" class="pull-right navmenu {{menu_open && 'navmenu-open visible-md visible-lg' || 'visible-xs visible-sm'}}">
                <div class="btn-group">
                    <a class="btn btn-link navbar-btn dropdown-toggle navmenu-title" data-toggle="dropdown">
                        <i class="fa fa-ellipsis-v fa-2x fa-fw"></i>
                    </a>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a ng-click="upsrv.clear_completed()">
                                <i class="fa fa-eraser"></i>
                                <span>Clear Completed</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="app-container">
                <div ng-if="select_mode" class="btn-group pull-right">
                    <a class="btn btn-default navbar-btn" ng-click="clear_select_mode()">
                        <i class="fa fa-square-o"></i>
                        <!-- UNSELECT -->
                    </a>
                    <a class="btn btn-default navbar-btn" ng-click="resume_selected()">
                        <i class="fa fa-play"></i>
                        <!-- <span>Resume Selected</span> -->
                    </a>
                    <a class="btn btn-default navbar-btn" ng-click="pause_selected()">
                        <i class="fa fa-pause"></i>
                        <!-- <span>Pause Selected</span> -->
                    </a>
                    <a class="btn btn-default navbar-btn" ng-click="remove_selected()">
                        <i class="fa fa-trash-o text-danger"></i>
                        <!-- <span>Remove Selected</span> -->
                    </a>
                </div>
                <button ng-if="!select_mode" class="btn btn-primary navbar-btn pull-right" ng-click="upsrv.open_file_input()">
                    UPLOAD
                </button>
            </div>
        </div>
        <div ng-include="'action_bar_progress.html'"></div>
    </nav>

    <div class="view-animate-area app-container">

        <div ng-if="!has_uploads()">
            <div class="line headline">
                START UPLOADING
            </div>
            <hr class="headline" />
            <a class="line clickable" ng-click="upsrv.open_file_input()">
                Click to choose files from your computer
            </a>
            <hr/>
            <div class="line text-muted">
                <i class="fa fa-copy fa-fw"></i>
                Drag &amp; Drop files from your computer
            </div>
        </div>

        <div ng-if="has_uploads()">
            <div class="line">
                <div class="progress pull-right text-center" style="vertical-align: middle; margin: 10px; height: 25px; width: 70px; position: relative">
                    <div ng-show="upsrv.root.total_size-upsrv.root.total_upsize>0" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{100 * upsrv.root.total_upsize / upsrv.root.total_size}}" aria-valuemin="0" aria-valuemax="100" style="width: {{100 * upsrv.root.total_upsize / upsrv.root.total_size}}%">
                    </div>
                    <div ng-show="upsrv.root.total_size-upsrv.root.total_upsize>0" class="cover">
                        {{(100 * upsrv.root.total_upsize / upsrv.root.total_size).toFixed(0)}}%
                    </div>
                </div>

                <div class="pull-left text-center" style="margin: 5px 10px">
                    <div class="text-muted">items left</div>
                    <small>{{upsrv.root.total_sons- upsrv.root.total_completed}}</small>
                </div>
                <div class="pull-left text-center" style="margin: 5px 10px">
                    <div class="text-muted">size left</div>
                    <small>{{human_size(upsrv.root.total_size-upsrv.root.total_upsize)}}</small>
                </div>
                <div class="pull-left text-center" style="margin: 5px 10px">
                    <div class="text-muted">up speed</div>
                    <small>{{human_size(upsrv.speed)}}/sec</small>
                </div>
                <!-- 
                <button ng-show="false" class="btn btn-default btn-sm"
                    ng-click="upsrv.show_advanced = !upsrv.show_advanced"
                    title="Advanced Stats">
                    <i style="color: black" class="icon-bar-chart"></i>
                </button>
                <div ng-show="upsrv.show_advanced">
                    <canvas width=50 height=20 id="upload_speed_gauge"></canvas>
                    <p><b>Load queue</b> {{upsrv.jobq_load.length}}</p>
                    <p><b>Small queue</b> {{upsrv.jobq_upload_small.length}}</p>
                    <p><b>Medium queue</b> {{upsrv.jobq_upload_medium.length}}</p>
                    <p><b>Large queue</b> {{upsrv.jobq_upload_large.length}}</p>
                    <p><b>Loading</b> {{upsrv.list_loading.length}}</p>
                    <p><b>Uploading</b> {{upsrv.list_uploading.length}}</p>
                    <p><b>Retrying</b> {{upsrv.list_retrying.length}}</p>
                </div>
                 -->
            </div>
            <hr/>
        </div>

        <div ng-repeat="(id,upload) in (upload | upload_sons_filter)">
            <a class="line clickable Xbtn-line {{(upload.is_selected || upsrv.selected_all) && 'active'}} {{select_mode && !upload.is_selected && !upsrv.selected_all && 'select-pulse'}}" ng-click="click_upload(upload)" nb-right-click="click_upload(upload)">
                <span class="pull-right" style="margin-left: 10px">
                    <i ng-hide="upload.is_selected || upsrv.selected_all" class="fa fa-square-o fa-fw fa-lg"></i>
                    <i ng-show="upload.is_selected || upsrv.selected_all" class="fa fa-check-square-o fa-fw fa-lg"></i>
                </span>
                <div class="pull-right" style="margin: 0 10px">
                    {{upsrv.get_status(upload)}}
                </div>
                <div class="pull-right" style="margin: 0 10px">
                    {{ human_size(upload.item.isDirectory && upload.total_size || upload.item.size) }}
                </div>
                <div class="hflow">
                    <div class="text-ellipses">
                        <i ng-show="upload.item.isDirectory" class="fa fa-folder-open fa-fw"></i>
                        <i ng-show="!upload.item.isDirectory" class="fa fa-file-o fa-fw"></i>
                        {{upload.item.name}}
                    </div>
                </div>
            </a>
            <hr/>
        </div>
    </div>

</div>
