<div class="modal" ng-controller="FeedbackCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>
                    <i class="fa fa-comments fa-lg text-primary"></i>
                    "Talk To Me Goose"
                </h4>
            </div>
            <div class="modal-body">
                <textarea ng-hide="feedback_send_done" ng-model="feedback_text" class="form-control" autofocus style="resize: none; height: 100%" rows="5"></textarea>
                <p ng-show="feedback_send_done" class="lead text-center">
                    My Precious...
                    <br/>Thank you!
                </p>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" ng-hide="feedback_send_done" class="btn btn-default">Cancel</button>
                <button class="btn btn-primary pull-right" ng-hide="feedback_send_done" ng-click="send_feedback()">Send</button>
                <button data-dismiss="modal" class="btn btn-success pull-right" ng-show="feedback_send_done">Close</button>
            </div>
        </div>
    </div>
</div>
