<div class="chat-panel panel Xpanel-default" nb-panel-hfill>

    <div class="panel-heading clearfix" style="padding: 6px 20px 3px 0">
        <button class="btn btn-link pull-left" ng-click="nbChat.open_chats()" style="padding: 0 10px">
            <i class="fa fa-angle-left fa-3x"></i>
        </button>
        <div class="text-center text-ellipses" style="overflow: hidden; padding: 5px">
            <img class="user-image" style="margin-right: 10px; vertical-align: middle" ng-src="{{nbUser.user_pic_url(chat.user)}}" />
            <b>{{chat.title}}</b>
        </div>
    </div>

    <div class="panel-body">
        <div ng-repeat="msg in chat.msgs track by $index" class="clearfix">
            <div class="{{(msg.user != nbUser.user.id) && 'chat-msg-user' || 'chat-msg-mine'}}">
                <span ng-if="msg.text" class="text-overflow">
                    <span ng-bind-html="msg.text | linky:'_blank'" style="white-space: pre-wrap"></span>
                    <span class="chat-msg-time">&nbsp;{{moment(msg.time).format('HH:mm')}}</span>
                </span>
                <div ng-if="msg.inode">
                    <div nb-media="msg.inode" show-content="true" autoplay="false"></div>
                    <a ng-click="open_msg_inode(msg)">
                        <div class="text-ellipses">
                            <i class="fa fa-{{nbUtil.icon_by_kind(msg.inode.content_kind)}} fa-fw chat-msg-muted" style="margin-right: 5px"></i>
                            <b><span style="white-space: pre-wrap">{{msg.inode.name}}</span></b>
                        </div>
                        <div>
                            <span ng-show="!msg.inode.isdir" class="chat-msg-muted">{{human_size(msg.inode.size)}}</span>
                            <span class="chat-msg-time">&nbsp;{{moment(msg.time).format('HH:mm')}}</span>
                        </div>
                    </a>
                </div>
            </div>
            <div ng-if="chat.seen_msg == msg._id && !$last" class="text-center">
                <span class="label label-default">New messages</span>
            </div>
        </div>
        <!-- 
        <div class="clearfix">
            <div class="alert alert-info text-center" ng-if="chat.user && !chat.user.id && chat.msgs.length">
                <a ng-click="nbUser.send_friend_reminder(chat.user)">
                	Send {{nbUser.user_first_name(chat.user)}} a reminder to join
                </a>
            </div>
        </div>
         -->
    </div>

    <div class="panel-footer clearfix" style="padding: 0">
        <div class="pull-right" style="padding: 5px">
            <div class="btn-group dropup">
                <button ng-if="!chat.message_input.length" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                    <i class="fa fa-paperclip fa-lg fa-fw"></i>
                </button>
                <ul class="dropdown-menu pull-right nav" role="menu">
                    <li>
                        <a ng-click="select_files_to_chat()" style="padding-left: 10px">
                            <i class="fa fa-folder-open fa-lg fa-fw"></i>
                            Select from files
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a ng-click="upload_files_to_chat()" style="padding-left: 10px">
                            <i class="fa fa-cloud-upload fa-lg fa-fw"></i>
                            Upload files
                        </a>
                    </li>
                </ul>
            </div>
            <button ng-if="chat.message_input.length" ng-click="send_chat_text()" class="btn btn-success" ng-disabled="sending_message">
                <i class="fa fa-paper-plane fa-lg fa-fw"></i>
            </button>
        </div>
        <div style="overflow: hidden">
            <textarea placeholder="Enter message" ng-model="chat.message_input" nb-enter="send_chat_text()" nb-auto-height nb-focus="false" ng-disabled="sending_message"></textarea>
        </div>
    </div>

</div>
