<div class="chat-panel panel panel-default" nb-panel-hfill>

    <div class="panel-heading clearfix" style="padding: 0">
        <button class="btn btn-link pull-left" ng-click="open_chats()" style="padding: 0 10px">
            <i class="fa fa-angle-left fa-3x"></i>
        </button>
        <div class="text-center" style="overflow: hidden; padding: 5px">
            <img class="user-image" style="margin-right: 10px; vertical-align: middle" ng-src="{{nbUser.user_pic_url(chat.user)}}" />
            <b>{{chat.title}}</b>
        </div>
    </div>

    <div class="panel-body">
        <div ng-repeat="msg in chat.messages track by $index" class="clearfix">
            <div class="{{msg.user && 'chat-msg-user' || 'chat-msg-mine'}}">
                <span class="text-overflow" style="white-space: pre-wrap" ng-bind-html="msg.text | linky:'_blank'"></span>
                <div ng-if="msg.inode" style="cursor: pointer" ng-click="open_chat_inode(msg.inode)">
                    <div class="pull-left" style="margin-right: 10px">
                        <i class="fa fa-{{nbUtil.icon_by_kind(msg.inode.content_kind)}} fa-fw fa-3x" style="color: hsl(0,0%,30%)"></i>
                    </div>
                    <div style="overflow: hidden">
                        <div class="text-ellipses" rel="tooltip" ng-attr-title="{{msg.inode.name}}">
                            <b><span style="white-space: pre-wrap">{{msg.inode.name}}</span></b>
                        </div>
                        <div class="text-muted">
                            <span ng-show="!msg.inode.isdir">
                                {{human_size(msg.inode.size)}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer clearfix" style="padding: 0">
        <div class="pull-right" style="padding: 5px">
            <div class="btn-group dropup">
                <button ng-if="!chat.message_input.length" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                    <i class="fa fa-paperclip fa-lg fa-fw"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a ng-click="upload_files_to_chat()" style="padding-left: 10px">
                            <i class="fa fa-cloud-upload fa-lg fa-fw"></i>
                            Upload from desktop
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a ng-click="select_files_to_chat()" style="padding-left: 10px">
                            <i class="fa fa-cloud fa-lg fa-fw"></i>
                            Select from cloud
                        </a>
                    </li>
                </ul>
            </div>
            <button ng-if="chat.message_input.length" ng-click="send_chat_text()" class="btn btn-success">
                <i class="fa fa-paper-plane fa-lg fa-fw"></i>
            </button>
        </div>
        <div style="overflow: hidden">
            <textarea class="form-control Xinput-lg" placeholder="Enter message" ng-model="chat.message_input" nb-enter="send_chat_text()" style="padding: 10px 10px 0 10px; resize: none; border: none; box-shadow: none; background-color: transparent" nb-auto-height nb-focus="false"></textarea>
        </div>
    </div>

</div>
