<div class="panel panel-default hfill">

    <div class="panel-heading" style="padding: 10px">
        <button class="btn btn-default btn-lg pull-right" style="margin-left: 20px" rel="tooltip" title="Create Group">
            <i class="fa fa-users fa-lg text-muted"></i>
        </button>
        <div style="overflow: hidden; position: relative">
            <input type="text" class="form-control input-lg" placeholder="Enter name or email to chat" ng-model="start_chat_input" />
        </div>
    </div>

    <div class="panel-body" style="padding: 0">
        <div ng-repeat="chat in chats track by $index" class="clearfix chatline" style="padding: 10px;  {{$first || 'border-top: 1px solid hsl(0,0%,90%);'}} position: relative; cursor: pointer" ng-click="open_chat(chat)">
            <img class="pull-left user-image" style="width: 50px; height: 50px; vertical-align: top" ng-src="{{nbUser.user_pic_url(chat.user)}}" />
            <div class="pull-right text-center" style="padding: 10px 5px; width: 55px">
                <span class="label label-success">2</span>
            </div>
            <div style="overflow: hidden; padding: 5px 0 0 10px">
                <div class="text-ellipses"><b><small>{{chat.title}}</small></b>
                </div>
                <div class="text-ellipses" ng-if="chat.messages.length">
                    <small>{{chat.messages[chat.messages.length-1].text}}</small>
                </div>
            </div>
        </div>
    </div>

</div>
