<div>
	<div ng-if="show_content" ng-switch="inode.content_kind">
		<h4 ng-switch-default class="text-center">
			<span class="label label-default">No preview</span>
		</h4>
		<h4 ng-switch-when="dir" class="text-center">
			<span class="label label-default">Folder</span>
		</h4>
		<img ng-switch-when="image" ng-src="{{media_url(inode)}}" class="content-item img-responsive center-block" style="vertical-align: middle; max-height: 100%" nb-events="media_events" />
		<div ng-switch-when="video">
			<video controls ng-attr-autoplay="autoplay" ng-src="{{media_url(inode)}}" class="content-item img-responsive center-block" nb-events="media_events" nb-video="{{inode.content_type}}">
				<source ng-src="{{media_url(inode)}}" ng-attr-type="{{inode.content_type}}" />
				<object ng-attr-data="{{media_url(inode)}}" ng-attr-type="{{inode.content_type}}">
					<embed ng-src="{{media_url(inode)}}">
				</object>
				<track ng-if="media_subtitles" ng-src="{{media_url(media_subtitles)}}" kind="subtitle" srclang="he" charset="UTF-8" default />
			</video>
		</div>
		<div ng-switch-when="audio">
			<audio controls ng-attr-autoplay="autoplay" ng-src="{{media_url(inode)}}" style="padding: 30px 5px 5px 5px" class="content-item img-responsive center-block" nb-events="media_events">
				<source ng-src="{{media_url(inode)}}" ng-attr-type="{{inode.content_type}}">
			</audio>
		</div>
		<div ng-switch-when="text">
			<object ng-attr-data="{{media_url(inode)}}" type="text/plain" style="width: 100%; min-height: 90%" class="content-item Xcenter-block bggrey" nb-events="media_events" </object>
		</div>
	</div>
</div>
