<div class="user-menu text-left">
    <ul>
        <li ng-class="nbUtil.active_link('/home/chat/')">
            <a ng-click="click_chats()">
                <i class="fa fa-comment"></i>
                <span>CHAT</span>
            </a>
        </li>
        <li ng-class="nbUtil.active_link('/home/watch/')">
            <a ng-click="click_my_feed()">
                <i class="fa {{fetching_feeds && 'fa-refresh fa-spin' || 'fa-play'}}"></i>
                <span>WATCH</span>
            </a>
        </li>
        <li ng-class="nbUtil.active_link('/home/items/')">
            <a ng-click="click_my_items()">
                <i class="fa fa-folder-open"></i>
                <span>FILES</span>
            </a>
        </li>
        <li ng-class="nbUtil.active_link('/home/friends/')">
            <a ng-click="click_friends()">
                <i class="fa fa-user"></i>
                <span>FRIENDS</span>
            </a>
        </li>
    </ul>
    <hr />
    <ul>
        <li ng-class="nbUtil.active_link('/home/upload/')">
            <a ng-click="open_upload_file()">
                <i class="fa fa-cloud-upload"></i>
                <span>UPLOAD</span>
                <span class="badge" ng-show="nbUploadSrv.root.total_sons - nbUploadSrv.root.total_completed">
                    {{nbUploadSrv.root.total_sons - nbUploadSrv.root.total_completed}}
                    <i class="fa fa-cog fa-spin"></i>
                </span>
            </a>
        </li>
        <li ng-if="nbPlanet.on" ng-class="nbUtil.active_link('/home/upload/')">
            <a ng-click="open_upload_dir()">
                <i class="fa fa-folder"></i>
                <span>UPLOAD A FOLDER</span>
            </a>
        </li>
        <li ng-if="!nbPlanet.on" ng-class="nbUtil.active_link('/home/install/')">
            <a ng-click="show_client_installation()">
                <i class="fa fa-wrench"></i>
                <span>INSTALL</span>
            </a>
        </li>
        <li ng-if="nbPlanet.on" ng-class="nbUtil.active_link('/home/expand/')">
            <a ng-click="show_client_expansion()">
                <i class="fa fa-wrench"></i>
                <span>EXPAND SPACE</span>
            </a>
        </li>
    </ul>
    <hr/>
    <div class="text-center" style="padding: 10px">
        <small>
            <span class="text-muted">Using</span>
            <span>{{human_size(nbUser.user_usage)}} / {{human_size(nbUser.user_quota)}}</span>
        </small>
        <div class="progress text-center bggrey" style="vertical-align: middle; margin: 0">
            <div class="progress-bar progress-bar-{{nbUser.usage_percents < 70 && 'success' || usage_percents < 90 && 'warning' || 'danger'}}" role="progressbar" aria-valuenow="{{nbUser.usage_percents}}" aria-valuemin="0" aria-valuemax="100" style="width: {{nbUser.usage_percents}}%">
                <!-- <span ng-show="usage_percents >= 15" style="height: 100%; vertical-align: middle">{{usage_percents}}% Used</span> -->
            </div>
            <!-- <small ng-show="usage_percents < 85" style="height: 100%; color: black">{{100-usage_percents}}% Free</small> -->
        </div>
    </div>
    <hr />
    <ul>
        <li>
            <a id="feedback_button" role="button" ng-click="nbUserFeedback.show()">
                <i class="fa fa-pencil"></i>
                <span>Give feedback</span>
            </a>
        </li>
        <li ng-if="nbUser.user">
            <a ng-click="nbUser.logout()" Xhref="/auth/logout/?state=/home/" Xtarget="_self">
                <i class="fa fa-sign-out"></i>
                <span>Logout</span>
            </a>
        </li>
        <li ng-if="!nbUser.user">
            <a ng-click="nbUser.open_signin()">
                <i class="fa fa-sign-in"></i>
                <span>Sign In</span>
            </a>
        </li>
    </ul>
</div>
