<!DOCTYPE html>
<html ng-app="noobaa_app" xmlns:fb="http://ogp.me/ns/fb#" lang="en">

<head>
	<?# def.include('common_head.html') ?>
</head>

<body ng-cloak ng-controller="AdminoobaaCtrl" class="bglight">

	<div class="container">
		<table class="table">
			<thead>
				<th>#</th>
				<th>User</th>
				<!-- <th>Alpha</th> -->
				<th>
					Files
					<span class="badge">{{totals.num_files}}</span>
				</th>
				<th>
					Consumption
					<span class="badge">{{human_size(totals.usage)}}</span>
				</th>
				<th>
					Quota
					<span class="badge">{{human_size(totals.quota)}}</span>
				</th>
				<th>
					Device
					<span class="badge">{{totals.num_devices}}</span>
				</th>
			</thead>
			<tbody>

				<tr ng-repeat="(row_index,user) in users_array | orderBy:'_id':true ">
					<td>{{users_array.length-row_index}}</td>
					<td title="{{user.email}}">
						<span>{{user.name}}</span>
						<span ng-show="user.fb">[FB]</span>
						<span ng-show="user.google">[G+]</span>
						<span ng-show="user.email">(@)</span>
					</td>
					<!-- 
					<td>
						<button 
						ng-class="{true: ' btn btn-success', false:'btn btn-warning'}[!!user.alpha_tester]"
							ng-click="toggle_alpha(user)">
							{{user.alpha_tester || 'false'}}
						</button>
					</td>
					 -->
					<td>{{user.files}}</td>
					<td ng-style="style_usage(user)">
						{{human_size(user.consumption)}}
					</td>
					<td ng-style="style_quota(user)">
						{{human_size(user.quota)}}
					</td>
					<td ng-style="style_dev_time(user)">
						<span ng-repeat="(dev_id,dev) in user.devices" title="[{{dev.host_info.platform}}] {{dev.host_info.hostname}}">
						{{locale_date(dev.last_update)}}
						</span>
					</td>
					<!-- 
					<td>
						<table
							class="table table-condensed">
							<thead>
								<th>Device</th>
								<th>Host</th>
								<th>OS</th>
								<th>Last Update</th>
								<th>#Updates</th>
								<th>CoShare</th>
							</thead>
							<tbody>
								<tr ng-repeat="(dev_id,dev) in user.devices">
									<td>{{dev.name}}</td>
									<td>{{dev.host_info.hostname}}</td>
									<td>{{dev.host_info.platform}}</td>
									<td>{{locale_date(dev.last_update)}}</td>
									<td>{{dev.total_updates}}</td>
									<td>{{human_size(dev.coshare_space)}}</td>
								</tr>
							</tbody>
						</table>
					</td>
					-->
				</tr>


			</tbody>
		</table>
	</div>

	<?# def.include('common_scripts.html') ?>

	<!-- server data is safely embedded in a JSON type script -->
	<script id="users_data" type="application/json">
		<?= JSON.stringify(it.users) ?>
	</script>

	<script type="text/javascript">
		
		AdminoobaaCtrl.$inject = ['$scope', '$http', '$window', '$timeout'];
		
		function AdminoobaaCtrl($scope, $http, $window, $timeout) {
			// parse user data from safe json in html
			$scope.users = JSON.parse($('#users_data').html());
			$scope.users_array = _.values($scope.users);
			$scope.totals = {
				num_devices: 0,
				quota: 0,
				usage: 0,
				num_files: 0
			};
			for (var user_id in $scope.users) {
				var user = $scope.users[user_id];
				for (var dev_id in user.devices) {
					$scope.totals.num_devices++;
				}
				if (user.quota > 1024*1024*1024) {
					$scope.totals.quota += user.quota;
				}
				if (user.consumption) {
					$scope.totals.usage += user.consumption;
				}
				if (user.files) {
					$scope.totals.num_files += user.files;
				}
			}
			console.log('USERS AND DEVICES DATA:', $scope.users, $scope.totals);
			
			$scope.style_usage = function(user) {
				if (user.consumption >= 1024*1024*1024) {
					return {
						'background-color': 'red'
					};
				}
				if (user.consumption >= 1024*1024) {
					return {
						'background-color': 'yellow'
					};
				}
			};
			$scope.style_quota = function(user) {
				if (user.quota >= 100*1024*1024*1024) {
					return {
						'background-color': 'red'
					};
				}
				if (user.quota >= 10*1024*1024*1024) {
					return {
						'background-color': 'yellow'
					};
				}
			};
			$scope.style_dev_time = function(user) {
				var now = (new Date()).getTime();
				for (var dev_id in user.devices) {
					var dev = user.devices[dev_id];
					if (dev.last_update) {
						var time = (new Date(dev.last_update)).getTime();
						if (now - time <= 3600000*24) { // 24 hours
							return {
								'background-color': 'red'
							};
						}
						if (now - time <= 3600000*24*7) { // 1 week
							return {
								'background-color': 'yellow'
							};
						}						
					}
				}
			}

			$scope.locale_date = function(date) {
				if (!date) {
					return '';
				}
				// convert using Locale to have proper timezone displayed
				date = new Date(date);
				return date.toLocaleString();
			}
			$scope.toggle_alpha = function(user) {
				var question = 'Change alpha to ' + !user.alpha_tester + ' ?';
				if (!$window.confirm(question)) {
					return;
				}
				$http({
					method: 'PUT',
					url: '/adminoobaa/',
					data: {
						updates: [{
							user_id: user._id,
							args: {
								alpha_tester: !user.alpha_tester
							}
						}]
					}
				}).success(function(data, status, headers, config) {
					console.log('[ok] toggle_alpha', data);
					$window.location.reload();
				}).error(function(data, status, headers, config) {
					console.error('[ERR] toggle_alpha failed', data, status);
					$window.alert(JSON.stringify(data));
				});
			}
		}
	</script>

</body>

</html>