<!DOCTYPE html>
<html ng-app="noobaa_app" xmlns:fb="http://ogp.me/ns/fb#" lang="en">

<head>
	<?# def.include( 'common_head.html') ?>
</head>

<body ng-cloak ng-controller="AdminoobaaCtrl">

	<nav class="navbar navbar-static-top navbar-inverse home_navbar" role="navigation" style="margin: 0">
		<div class="container clearfix">
			<div class="navbar-header pull-left">
				<a id="logo_link" class="navbar-brand" href="/adminoobaa/">
					<span class="lead text-success fntpaint" style="vertical-align: middle">Admi</span>
					<img src="/public/images/noobaa_logo.png" style="vertical-align: middle"></img>
					<small>BETA</small>
				</a>
			</div>
			<p class="navbar-text pull-right" ng-show="!!loading">
				<span class="text-warning">
					Loading
					<i class="fa fa-spinner fa-spin fa-fw fa-lg"></i>
				</span>
			</p>
		</div>
	</nav>

	<div class="container">
		<ul class="nav nav-pills" style="margin: 15px 0">
			<li ng-class="active_tab('users')">
				<a class="btn-link btn-lg" style="padding: 5px 10px; cursor: pointer" ng-click="activate_tab('users')">
					<span class="fa-stack" rel="tooltip">
						<i class="fa fa-circle fa-stack-2x text-muted"></i>
						<i class="fa fa-user fa-inverse fa-stack-1x text-white"></i>
					</span>
					<span>Users</span>
				</a>
			</li>
			<li ng-class="active_tab('tracks')">
				<a class="btn-link btn-lg" style="padding: 5px 10px; cursor: pointer" ng-click="activate_tab('tracks')">
					<span class="fa-stack" rel="tooltip">
						<i class="fa fa-circle fa-stack-2x text-muted"></i>
						<i class="fa fa-bar-chart-o fa-inverse fa-stack-1x text-white"></i>
					</span>
					<span>Charts</span>
				</a>
			</li>
			<!-- 
			<li ng-class="active_tab('funnels')">
				<a class="btn-link btn-lg" style="padding: 5px 10px; cursor: pointer" ng-click="activate_tab('funnels')">
					<span class="fa-stack" rel="tooltip">
						<i class="fa fa-circle fa-stack-2x text-muted"></i>
						<i class="fa fa-filter fa-inverse fa-stack-1x text-white"></i>
					</span>
					<span>Funnels</span>
				</a>
			</li>
			 -->
		</ul>
	</div>

	<div class="container" ng-show="current_tab=='users'">
		<div class="text-center" style="padding: 10px 0">
			<button class="btn btn-default" ng-click="refresh_users()">
				<i class="fa fa-refresh fa-fw fa-lg"></i>
				Refresh Users
			</button>
			<button class="btn btn-default" ng-click="calculate_users_usage()">
				<i class="fa fa-tachometer fa-fw fa-lg"></i>
				Calculate Usage
			</button>
		</div>
		<table class="table">
			<thead>
				<th>#</th>
				<th>User</th>
				<!-- <th>Alpha</th> -->
				<th>
					Files
					<span class="badge">{{totals.num_files}}</span>
				</th>
				<th>
					Usage
					<span class="badge">{{human_size(totals.usage)}}</span>
				</th>
				<th>
					Quota
					<span class="badge">{{human_size(totals.quota)}}</span>
				</th>
				<th>
					Device
					<span class="badge">{{totals.num_devices}}</span>
				</th>
			</thead>
			<tbody>

				<tr ng-repeat="(row_index,user) in users_array | orderBy:'_id':true ">
					<td>
						{{users_array.length-row_index}}
						<div class="btn-group">
							<a type="button" class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer">
								<i class="fa fa-cog fa-lg fa-fw"></i>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li class="text-center">
									<small>{{user.email_addr}}</small>
								</li>
								<li class="text-center" ng-show="user.fb">
									<small>FB id {{user.fb.id}}</small>
								</li>
								<li class="text-center" ng-show="user.google">
									<small>Google id {{user.google.id}}</small>
								</li>
								<li class="divider"></li>
								<li>
									<a ng-click="toggle_email_silent(user)" ng-switch="user.email_policy">
										Email policy: {{user.email_policy=='silent' && 'silent' || 'normal'}} (click to toggle)
									</a>
								</li>
								<li>
									<a ng-click="send_recent_swm(user)">
										Send Recent SWM
									</a>
								</li>
								<li class="divider"></li>
								<li>
									<a ng-click="calculate_user_usage(user)">
										Calculate Usage
									</a>
								</li>
							</ul>
						</div>
					</td>
					<td>
						<span>{{user.name}}</span>
						<span ng-show="user.fb">[FB]</span>
						<span ng-show="user.google">[G+]</span>
						<span ng-switch="user.email_policy" ng-click="toggle_email_silent(user)" style="cursor: pointer" title="{{user.email_addr}}" rel="tooltip">
							<span ng-switch-when="silent">(@silent)</span>
							<span ng-switch-default>(@)</span>
						</span>
					</td>
					<!-- 
					<td>
						<button 
						ng-class="{true: ' btn btn-success', false:'btn btn-warning'}[!!user.alpha_tester]"
							ng-click="toggle_alpha(user)">
							{{user.alpha_tester || 'false'}}
						</button>
					</td>
					 -->
					<td>{{user.files}}</td>
					<td ng-style="style_usage(user)">
						<a ng-click="calculate_user_usage(user)"><i class="fa fa-tachometer fa-fw text-muted"></i></a>
						{{human_size(user.usage)}}
					</td>
					<td ng-style="style_quota(user)">
						{{human_size(user.quota)}}
					</td>
					<td ng-style="style_dev_time(user)">
						<span ng-repeat="(dev_id,dev) in user.devices" title="[{{dev.host_info.platform}}] {{dev.host_info.hostname}}">
							{{locale_date(dev.last_update)}}
						</span>
					</td>
					<!-- 
					<td>
						<table
							class="table table-condensed">
							<thead>
								<th>Device</th>
								<th>Host</th>
								<th>OS</th>
								<th>Last Update</th>
								<th>#Updates</th>
								<th>CoShare</th>
							</thead>
							<tbody>
								<tr ng-repeat="(dev_id,dev) in user.devices">
									<td>{{dev.name}}</td>
									<td>{{dev.host_info.hostname}}</td>
									<td>{{dev.host_info.platform}}</td>
									<td>{{locale_date(dev.last_update)}}</td>
									<td>{{dev.total_updates}}</td>
									<td>{{human_size(dev.coshare_space)}}</td>
								</tr>
							</tbody>
						</table>
					</td>
					-->
				</tr>


			</tbody>
		</table>
	</div>


	<div class="container" ng-show="current_tab=='tracks'">
		<div style="padding: 10px 0">
			<button class="btn btn-default pull-right" ng-click="export_tracks()">
				Export CSV
			</button>
			<div>
				<small>Resolution:</small>
				<div class="btn-group">
					<label class="btn btn-default btn-sm">
						<input type="radio" ng-model="track_params.resolution" value="hour" ng-change="refresh_tracks()" />
						<span>Hour</span>
					</label>
					<label class="btn btn-default btn-sm">
						<input type="radio" ng-model="track_params.resolution" value="day" ng-change="refresh_tracks()" />
						<span>Day</span>
					</label>
					<label class="btn btn-default btn-sm">
						<input type="radio" ng-model="track_params.resolution" value="week" ng-change="refresh_tracks()" />
						<span>Week</span>
					</label>
					<label class="btn btn-default btn-sm">
						<input type="radio" ng-model="track_params.resolution" value="month" ng-change="refresh_tracks()" />
						<span>Month</span>
					</label>
				</div>
			</div>
			<div style="padding-top: 10px">
				<small>Frame:</small>
				<div class="btn-group">
					<label class="btn btn-default btn-sm">
						<input type="radio" ng-model="time_frame" value="day" Xng-change="refresh_tracks()" />
						<span>Day</span>
					</label>
					<label class="btn btn-default btn-sm">
						<input type="radio" ng-model="time_frame" value="week" Xng-change="refresh_tracks()" />
						<span>Week</span>
					</label>
					<label class="btn btn-default btn-sm">
						<input type="radio" ng-model="time_frame" value="month" Xng-change="refresh_tracks()" />
						<span>Month</span>
					</label>
					<label class="btn btn-default btn-sm">
						<input type="radio" ng-model="time_frame" value="all" Xng-change="refresh_tracks()" />
						<span>All</span>
					</label>
					<label class="btn btn-default btn-sm">
						<input type="radio" ng-model="time_frame" value="custom" Xng-change="refresh_tracks()" />
						<span>Custom</span>
					</label>
				</div>
			</div>
			<div style="padding-top: 10px" ng-show="time_frame=='custom'">
				<label>
					<small>From</small>
					<input type="datetime-local" ng-model="track_params.from" ng-change="refresh_tracks()">
				</label>
				<label>
					<small>To</small>
					<input type="datetime-local" ng-model="track_params.till" ng-change="refresh_tracks()">
				</label>
			</div>
			<div style="padding-top: 10px">
				<small>Query:</small>
				<div class="btn-group">
					<label class="btn btn-default btn-sm">
						<input type="checkbox" ng-model="track_params.uniq_user" ng-change="refresh_tracks()" />
						<span>Uniq User</span>
					</label>
					<label class="btn btn-default btn-sm">
						<input type="checkbox" ng-model="track_params.uniq_ip" ng-change="refresh_tracks()" />
						<span>Uniq IP</span>
					</label>
					<label class="btn btn-default btn-sm">
						<input type="checkbox" ng-model="track_params.mgmt" ng-change="refresh_tracks()" />
						<span>Mgmt</span>
					</label>
				</div>
			</div>
		</div>
		<div id="chart_div"></div>
		<div id="table_div"></div>
	</div>


	<div class="container" ng-show="current_tab=='funnels'">
		<div class="text-center" style="padding: 10px 0">
			<button class="btn btn-default" ng-click="refresh_funnels()">
				<i class="fa fa-refresh fa-fw fa-lg"></i>
				Refresh Funnels
			</button>
		</div>
	</div>


	<div>
		<?# def.include( 'common_scripts.html') ?>
	</div>

	<!-- // <script src="/vendor/d3.v3.min.js" type="text/javascript"></script> -->
	<script src="//www.google.com/jsapi" type="text/javascript"></script>


	<script type="text/javascript">
	(function() {
		'use strict';

		google.load('visualization', '1', {
			packages: ['corechart', 'table']
		});

		var noobaa_app = angular.module('noobaa_app');

		noobaa_app.controller('AdminoobaaCtrl', [
			'$scope', '$http', '$window', '$timeout', 'JobQueue',
			function AdminoobaaCtrl($scope, $http, $window, $timeout, JobQueue) {

				$scope.loading = 0;
				$scope.refresh_users = refresh_users;
				$scope.calculate_user_usage = calculate_user_usage;
				$scope.calculate_users_usage = calculate_users_usage;
				$scope.send_recent_swm = send_recent_swm;
				$scope.export_tracks = export_tracks;
				$scope.refresh_tracks = refresh_tracks;

				$scope.current_tab = 'users';
				$scope.active_tab = function(name) {
					if ($scope.current_tab === name) {
						return 'active';
					}
				};
				$scope.activate_tab = function(name) {
					$scope.current_tab = name;
					if (name === 'tracks') {
						refresh_tracks();
					}
				};

				refresh_users();

				function refresh_users() {
					$scope.loading++;
					return $http({
						method: 'GET',
						url: '/adminoobaa/user/'
					}).then(function(res) {
						$scope.loading--;
						var old_users = $scope.users || {};
						$scope.users = res.data;
						$scope.users_array = _.values($scope.users);
						$scope.totals = {
							num_devices: 0,
							quota: 0,
							usage: 0,
							num_files: 0
						};
						for (var user_id in $scope.users) {
							var user = $scope.users[user_id];
							var old_user = old_users[user_id];
							if (old_user) {
								user.usage = old_user.usage;
							}
							user.email_addr = user.email ||
								(user.google && user.google.email) ||
								(user.fb && user.fb.email);
							for (var dev_id in user.devices) {
								$scope.totals.num_devices++;
							}
							if (user.quota > 1024 * 1024 * 1024) {
								$scope.totals.quota += user.quota;
							}
							if (user.usage) {
								$scope.totals.usage += user.usage;
							}
							if (user.files) {
								$scope.totals.num_files += user.files;
							}
						}
						console.log('USERS AND DEVICES DATA:', $scope.users, $scope.totals);
					}, function(err) {
						$scope.loading--;
						handle_error('GET USERS', err);
					});
				}

				function calculate_user_usage(user) {
					if (!user._id) {
						return;
					}
					$scope.loading++;
					return $http({
						method: 'GET',
						url: '/adminoobaa/user/' + user._id + '/usage/'
					}).then(function(res) {
						$scope.loading--;
						// console.log('USAGE', res.data);
						if (user.usage) {
							$scope.totals.usage -= user.usage;
						}
						user.usage = res.data.usage;
						$scope.totals.usage += user.usage;
					}, function(err) {
						$scope.loading--;
						handle_error('GET USAGE', err);
					});
				}

				function calculate_users_usage() {
					var jobq = new JobQueue(10);
					for (var user_id in $scope.users) {
						var user = $scope.users[user_id];
						jobq.add({
							run: calculate_user_usage.bind(null, user)
						});
					}
				}

				function send_recent_swm(user) {
					var question = 'Send Email with Recent-SWM to ' + user.name + '?'
					if (!$window.confirm(question)) {
						return;
					}
					console.log('RECENT SWM', user.name);
					$scope.loading++;
					return $http({
						method: 'POST',
						url: '/adminoobaa/user/' + user._id + '/recent_swm/'
					}).then(function(res) {
						$scope.loading--;
						console.log('RECENT SWM', res);
					}, function(err) {
						$scope.loading--;
						handle_error('RECENT SWM', err);
					});
				}

				$scope.track_params = {
					resolution: 'day',
					uniq_user: true,
					uniq_ip: true,
					mgmt: false,
				};
				$scope.time_frame = 'month';

				function refresh_tracks() {
					console.log('REFRESH TRACKS', $scope.track_params);
					$scope.loading++;
					$http({
						method: 'POST',
						url: '/adminoobaa/track/',
						data: $scope.track_params
					}).then(function(res) {
						$scope.loading--;
						$scope.tracks = res.data;
						draw_tracks_chart();
					}, function(err) {
						$scope.loading--;
						handle_error('GET TRACKS', err);
					});
				}

				var RESTIMES = {
					minute: 60000,
					hour: 3600000
				};
				RESTIMES.day = 24 * RESTIMES.hour;
				RESTIMES.week = 7 * RESTIMES.day;
				RESTIMES.month = 30 * RESTIMES.day;

				function format_datetime(datetime) {
					var d = new Date(datetime);
					return d.toISOString().slice(0, 16);
				}

				$scope.$watch('time_frame', function(frame) {
					var now = Date.now();
					now -= (now % RESTIMES.minute);
					console.log('CHANGE TIME FRAME', frame, now);
					if (frame === 'day') {
						$scope.track_params.from = format_datetime(now - RESTIMES.day);
						$scope.track_params.till = undefined;
					} else if (frame === 'week') {
						$scope.track_params.from = format_datetime(now - RESTIMES.week);
						$scope.track_params.till = undefined;
					} else if (frame === 'month') {
						$scope.track_params.from = format_datetime(now - RESTIMES.month);
						$scope.track_params.till = undefined;
					} else if (frame === 'all') {
						$scope.track_params.from = undefined;
						$scope.track_params.till = undefined;
					} else if (frame === 'custom') {
						// leave custome values
					} else {
						console.error('UNKNOWN TIME FRAME', frame);
					}
					refresh_tracks();
				});

				function draw_tracks_chart() {
					var i;
					var restime = RESTIMES[$scope.track_params.resolution] || RESTIMES.day;
					var events_map = {};
					_.each($scope.tracks, function(tr) {
						tr.date = new Date(tr._id.time);
						tr.time = tr.date.getTime();
						tr.ev = tr._id.event;
						delete tr._id;
						events_map[tr.ev] = true;
					});
					var tracks_sorted_by_time = _.sortBy($scope.tracks, 'time');
					var events = _.keys(events_map).sort();

					var data = new google.visualization.DataTable();
					data.addColumn('datetime', 'Time');
					for (i = 0; i < events.length; i++) {
						data.addColumn('number', events[i]);
					}
					var ticks = [];
					var last_time;
					var last_row = -1;
					_.each(tracks_sorted_by_time, function(tr) {
						var k = _.indexOf(events, tr.ev, true /*sorted*/ ) + 1;
						if (tr.time !== last_time) {
							while (last_time + restime < tr.time) {
								last_row++;
								last_time += restime;
								var row = new Array(events.length + 1);
								row[0] = new Date(last_time);
								for (i = 1; i <= events.length; i++) {
									row[i] = 0;
								}
								data.addRow(row);
							}
							// add new time row
							last_row++;
							last_time = tr.time;
							var row = new Array(events.length + 1);
							row[0] = tr.date;
							for (i = 1; i <= events.length; i++) {
								row[i] = 0;
							}
							data.addRow(row);
							// console.log('DATA', last_row, 0, tr.date);
						}
						data.setCell(last_row, k, tr.count);
						// console.log('DATA', last_row, k, tr.count, tr.ev);
					});
					var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
					google.visualization.events.addListener(chart, 'select', function() {
						var selection = chart.getSelection();
						if (!selection) {
							return;
						}
						var selected = selection[0];
						if (!selected) {
							return;
						}
						console.log('CHART SELECTION', selected);
						/*
						if (!selected.column) {
						}
						if (!selected.row) {
						}
						if (selected.column && selected.row) {
							var value = data.getValue(selected.row, selected.column);
						}
						*/
					});
					chart.draw(data, {
						pointSize: 5,
						height: 500,
						vAxis: {
							title: '#events'
						},
						hAxis: {
							title: 'Time',
						},
						legend: {
							position: 'top'
						}
					});

					var table_div = document.getElementById('table_div');
					var table = new google.visualization.Table(table_div);
					table.draw(data, {
						showRowNumber: true,
						width: $(table_div).parent().width(),
						page: 'enable',
						pageSize: 10,
						sortColumn: 0
					});
				}


				function export_tracks() {
					window.open('/adminoobaa/track/csv/', '_blank');
				}


				function handle_error(action, err) {
					if (!err) {
						return;
					}
					console.error(action, err);
					var msg = action + err.toString();
					$.bootstrapGrowl(msg, {
						ele: 'body',
						type: 'error',
						offset: {
							from: 'top',
							amount: 60
						},
						align: 'right',
						width: 'auto',
						delay: 5000,
						allow_dismiss: true,
						stackup_spacing: 20
					});
				}

				$scope.style_usage = function(user) {
					if (user.usage >= 1024 * 1024 * 1024) {
						return {
							'background-color': 'red'
						};
					}
					if (user.usage >= 1024 * 1024) {
						return {
							'background-color': 'yellow'
						};
					}
				};
				$scope.style_quota = function(user) {
					if (user.quota >= 100 * 1024 * 1024 * 1024) {
						return {
							'background-color': 'red'
						};
					}
					if (user.quota >= 10 * 1024 * 1024 * 1024) {
						return {
							'background-color': 'yellow'
						};
					}
				};
				$scope.style_dev_time = function(user) {
					var now = (new Date()).getTime();
					for (var dev_id in user.devices) {
						var dev = user.devices[dev_id];
						if (dev.last_update) {
							var time = (new Date(dev.last_update)).getTime();
							if (now - time <= 3600000 * 24) { // 24 hours
								return {
									'background-color': 'red'
								};
							}
							if (now - time <= 3600000 * 24 * 7) { // 1 week
								return {
									'background-color': 'yellow'
								};
							}
						}
					}
				}

				$scope.locale_date = function(date) {
					if (!date) {
						return '';
					}
					// convert using Locale to have proper timezone displayed
					date = new Date(date);
					return date.toLocaleString();
				}

				$scope.toggle_alpha = function(user) {
					var question = 'Change alpha to ' + !user.alpha_tester + ' ?';
					if (!$window.confirm(question)) {
						return;
					}
					$http({
						method: 'PUT',
						url: '/adminoobaa/',
						data: {
							updates: [{
								user_id: user._id,
								args: {
									alpha_tester: !user.alpha_tester
								}
							}]
						}
					}).success(function(data, status, headers, config) {
						console.log('[ok] toggle_alpha', data);
						// $window.location.reload();
						refresh_users();
					}).error(function(data, status, headers, config) {
						console.error('[ERR] toggle_alpha failed', data, status);
						$window.alert(JSON.stringify(data));
					});
				}

				$scope.toggle_email_silent = function(user) {
					var policy = user.email_policy === 'silent' ? '' : 'silent';
					var question = 'Change email_policy to ' + (policy || 'loud') + ' ?';
					if (!$window.confirm(question)) {
						return;
					}
					$http({
						method: 'PUT',
						url: '/adminoobaa/',
						data: {
							updates: [{
								user_id: user._id,
								args: {
									email_policy: policy
								}
							}]
						}
					}).then(function(res) {
						console.log('[ok] toggle_email_silent', res);
						// $window.location.reload();
						refresh_users();
					}, function(err) {
						console.error('[ERR] toggle_email_silent failed', err);
						$window.alert(JSON.stringify(err));
					});
				}
			}

		])
	})();
	</script>

</body>

</html>
