<div>
	<div class="panel panel-primary">
		<div class="panel-heading" style="padding: 0 10px 10px 10px; background-color: #f2f2f2; color: black">
			<div ng-repeat="parent in parents_path(dir_inode)" style="display: inline-block; margin-top: 10px">
				<i ng-show="!$first" class="fa fa-angle-double-right fa-fw"></i>
				<button class="btn btn-primary {{$last && 'active' || ''}}" ng-click="open_inode(parent)">
					<div class="text-ellipses" style="max-width: 150px">{{parent.name}}</div>
				</button>
			</div>
			<span ng-if="dir_inode.is_loading">
				&nbsp;
				<i class="fa fa-refresh fa-spin fa-fw"></i>
			</span>
		</div>

		<div class="panel-body" style="padding: 0">
			<div ng-repeat="inode in dir_inode.sons" class="file_line notextselect {{selections[inode.id] && 'active' || ''}}" style="border-bottom-width: 1px; border-top-width: 1px" ng-click="select_inode(inode, $event, $index)">
				<div style="overflow: scroll; margin-right: 30px">
					<i ng-show="!!inode.isdir" class="fa fa-folder fa-fw fa-lg text-info"></i>
					<i ng-show="!inode.isdir" class="fa fa-file-o fa-fw fa-lg text-muted"></i>
					<a class="btn btn-link" ng-click="open_inode(inode)" style="padding-left: 0; display: inline">
						{{inode.name}}
					</a>
				</div>
				<div ng-if="playing === inode">
					<div class="text-center">
						<a class="btn btn-default" href="{{inode_source_url(inode)}}?is_download=true" target="_blank">
							<i class="fa fa-cloud-download fa-fw"></i>
							Download
						</a>
						<button class="btn btn-default" ng-click="open_inode(inode)">
							Close
						</button>
					</div>
					<iframe ng-src="{{inode_source_url(inode)}}" width="100%" height="500px" seamless="seamless"></iframe>
				</div>
			</div>
			<div ng-if="!dir_inode.sons.length">
				<div class="file_line text-center">
					- No files -
				</div>
			</div>
		</div>
	</div>
</div>
