<!-- META -->

<!-- charset needs to appear as early as possible -->
<meta charset="utf-8" />
<meta name="description" content="NooBaa is a Crowd Cloud where users create the cloud service by Co-Sharing computer resources" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
<title>NooBaa - Connecting The Dots</title>

<!-- 'https://developers.facebook.com/docs/opengraph/'       -->
<meta content="NooBaa - Connecting The Dots" property="og:title" />
<meta content="website" property="og:type" />
<meta content="https://www.noobaa.com/welcome" property="og:url" />
<meta content="http://www.noobaa.com/public/images/noobaa_logo.png" property="og:image" />
<meta content="NooBaa" property="og:site_name" />
<meta content="NooBaa - Share Your Media With Your Friends" property="og:description" />
<meta content="<?= it.app_id ?>" property="fb:app_id" />
<meta name="google-site-verification" content="b9-qjbu-C0OP5e7s-CzA0z02i-xggvWs-Op9hlJikL0" />

<link rel="shortcut icon" href="/public/images/noobaa_icon16.ico" />

<!-- STYLES -->

<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/vendor/bootstrap/css/bootstrap-cyborg.min.css" rel="stylesheet">
<link href="/vendor/font-awesome/css/font-awesome.css" type="text/css" rel="stylesheet" />
<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"> -->
<!-- <link href="//bootswatch.com/cosmo/bootstrap.min.css" rel="stylesheet"> -->
<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css" rel="stylesheet"> -->
<!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" rel="stylesheet" /> -->
<!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" type="text/css" rel="stylesheet" /> -->


<link href="/vendor/bootstrap-tour/css/bootstrap-tour.min.css" type="text/css" rel="stylesheet" />
<!-- <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet" /> -->

<link href="/public/css/noobaa_style.css" type="text/css" rel="stylesheet" />

<!-- Google Fonts -->
<link href='//fonts.googleapis.com/css?family=Finger+Paint|Ubuntu' rel='stylesheet' type='text/css'>

<!-- Google analytics snippet - best included as soon as possible -->
<script>
(function(i, s, o, g, r, a, m) {
	i['GoogleAnalyticsObject'] = r;
	i[r] = i[r] || function() {
		(i[r].q = i[r].q || []).push(arguments)
	}, i[r].l = 1 * new Date();
	a = s.createElement(o),
	m = s.getElementsByTagName(o)[0];
	a.async = 1;
	a.src = g;
	m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
ga('create', 'UA-42330226-1', 'noobaa.com');
ga('send', 'pageview');
</script>


<!--[if IE]>
<script type="text/javascript">
	var tags = ['header', 'section'];
	while(tags.length)
		document.createElement(tags.pop());
</script>
<![endif]-->



<!-- start Mixpanel - - >
<script type="text/javascript">
(function(e, b) {
	if (!b.__SV) {
		var a, f, i, g;
		window.mixpanel = b;
		a = e.createElement("script");
		a.type = "text/javascript";
		a.async = !0;
		a.src = ("https:" === e.location.protocol ? "https:" : "http:") + '//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';
		f = e.getElementsByTagName("script")[0];
		f.parentNode.insertBefore(a, f);
		b._i = [];
		b.init = function(a, e, d) {
			function f(b, h) {
				var a = h.split(".");
				2 == a.length && (b = b[a[0]], h = a[1]);
				b[h] = function() {
					b.push([h].concat(Array.prototype.slice.call(arguments, 0)))
				}
			}
			var c = b;
			"undefined" !==
				typeof d ? c = b[d] = [] : d = "mixpanel";
			c.people = c.people || [];
			c.toString = function(b) {
				var a = "mixpanel";
				"mixpanel" !== d && (a += "." + d);
				b || (a += " (stub)");
				return a
			};
			c.people.toString = function() {
				return c.toString(1) + ".people (stub)"
			};
			i = "disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
			for (g = 0; g < i.length; g++) f(c, i[g]);
			b._i.push([a, e, d])
		};
		b.__SV = 1.2
	}
})(document, window.mixpanel || []);
mixpanel.init("3d665008b89e33420b7bf831b5fbd694");
</script>
< ! - - end Mixpanel -->


<?## def.facebook_init_body: <!-- facebook init - best be included right after body tag -->
	<div id="fb-root"></div>
	<script type="text/javascript">
	// Facebook initialization code
	window.fbAsyncInit = function() {
		FB.init({
			appId: '<?= it.app_id ?>', // App ID
			channelUrl: '<?= it.channel_url ?>', // Channel File
			status: true, // check login status
			cookie: true, // enable cookies to allow the server to access the session
			xfbml: true // parse XFBML
		});

		// Here we subscribe to the auth.authResponseChange JavaScript event. This event is fired
		// for any authentication related change, such as login, logout or session refresh. This means that
		// whenever someone who was previously logged out tries to log in again, the correct case below 
		// will be handled. 
		FB.Event.subscribe('auth.authResponseChange', function(response) {
			// Here we specify what we do with the response anytime this event occurs. 
			if (response.status === 'connected') {
				// The response object is returned with a status field that lets the app know the current
				// login status of the person. In this case, we're handling the situation where they 
				// have logged in to the app.
				// testAPI();
			} else if (response.status === 'not_authorized') {
				// In this case, the person is logged into Facebook, but not into the app, so we call
				// FB.login() to prompt them to do so. 
				// In real-life usage, you wouldn't want to immediately prompt someone to login 
				// like this, for two reasons:
				// (1) JavaScript created popup windows are blocked by most browsers unless they 
				// result from direct interaction from people using the app (such as a mouse click)
				// (2) it is a bad experience to be continually prompted to login upon page load.
				// FB.login();
			} else {
				// In this case, the person is not logged into Facebook, so we call the login() 
				// function to prompt them to do so. Note that at this stage there is no indication
				// of whether they are logged into the app. If they aren't then they'll see the Login
				// dialog right after they log in to Facebook. 
				// The same caveats as above apply to the FB.login() call here.
				// FB.login();
			}
		});
	};

	// Load the SDK Asynchronously
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s);
		js.id = id;
		js.src = "//connect.facebook.net/en_US/all.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>
	#?>

	<?## def.clicktale_top: <!-- ClickTale Top part -->
		<script type="text/javascript">
		var WRInitTime = (new Date()).getTime();
		</script>
		<!-- ClickTale end of Top part -->
		#?>

		<?## def.clicktale_bottom: <!-- ClickTale Bottom part -->

			<script type='text/javascript'>
			// The ClickTale Balkan Tracking Code may be programmatically customized using hooks:
			 // 
			 //   function ClickTalePreRecordingHook() { /* place your customized code here */  }
			 //
			 // For details about ClickTale hooks, please consult the wiki page http://wiki.clicktale.com/Article/Customizing_code_version_2

			document.write(unescape("%3Cscript%20src='" +
				(document.location.protocol == 'https:' ?
					"https://clicktalecdn.sslcs.cdngc.net/www02/ptc/05b0658f-0532-40f2-8362-dbae32f0a2e7.js" :
					"http://cdn.clicktale.net/www02/ptc/05b0658f-0532-40f2-8362-dbae32f0a2e7.js") + "'%20type='text/javascript'%3E%3C/script%3E"));
			</script>

			<!-- ClickTale end of Bottom part -->
			#?>
