<nav class="navbar navbar-inverse navbar-static-top"
	role="navigation"
	ng-controller="MenuBarCtrl">
	<div class="nb_page_pad">
		<div class="navbar-header">
			<button type="button" 
				class="navbar-toggle" 
				data-toggle="collapse" 
				data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a id="logo_link" class="navbar-brand" href="/">
				<img src="/public/images/noobaa_logo.png"></img>
			</a>
		</div>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul id="menu_right" class="nav navbar-nav navbar-right">
				<li ng-class="active_link('/mydata')">
					<a href="/mydata" id="my_data_link">MY DATA</a>
				</li>
				<li ng-controller="GuideCtrl" class="dropdown">
					<a id="my_guides"
						href="#"
						class="dropdown-toggle"
						role="button"
						data-toggle="dropdown"
						title="My Guides..."
						rel="tooltip">
						<i class="icon-info-sign icon-large text-info"></i>
					</a>
					<ul class="dropdown-menu"
						role="menu"
						aria-labelledby="my_guides">
						<li ng-repeat="guide in guides_list">
							<a href="#" ng-click="guide.run()">
								<span class="icon-li icon-stack">
									<i class="icon-check-empty icon-stack-base"></i>
									<i ng-show="guide.is_completed()" 
										class="icon-trophy"></i>
								</span>
								{{guide.title}}
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a id="feedback_button"
						href="#"
						role="button"
						ng-click="click_feedback()"
						title="Give feedback..."
						rel="tooltip">
						<i class="icon-comments icon-large text-info"></i>
					</a>
				</li>
				<li ng-controller="UserCtrl"  class="dropdown">
					<a class="dropdown-toggle"
						id="user_label" role="button"
						data-toggle="dropdown" href="#">
						<div class="text-ellipses" style="max-width: 200px">
							<span class="icon-user icon-white"></span>
							<?! it.user.name ?>
						</div>
					</a>
					<ul class="dropdown-menu"
						role="menu"
						aria-labelledby="user_label">
						<li align="center">
							<img src="https://graph.facebook.com/<?! it.user.fbid ?>/picture\" style="height: 40px"></img>
						</li>
						<li class="divider"></li>
						<li>
							<a>
								Quota: {{human_size(user_quota)}}
							</a>
						</li>
						<li>
							<a>
								Used: {{human_size(user_usage)}}
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="/settings">
								<i class="icon-li icon-cog"></i>
								Account Settings
							</a>
						</li>
						<li >
							<a href="/auth/logout/">
								<i class="icon-li icon-signout"></i>
								Logout
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div ng-controller="FeedbackCtrl"
	id="feedback_dialog"
	class="nbdialog fntmd">
	<div class="nbdialog_header nbdialog_drag">
		<i class="icon-comments icon-large text-info"></i>
		"Talk To Me Goose"
		<a class="pull-right nbdialog_close btn btn-default btn-xs"
			title="Cancel">
			<span class="close">x</span>
		</a>
	</div>
	<div class="nbdialog_content">
		<textarea ng-hide="send_done" 
			ng-model="feedback"
			class="form-control" autofocus
			style="resize: none; height: 100%"></textarea>
		<p ng-show="send_done" class="lead text-center">
			My Precious...<br/>
			Thanks you!
		</p>
	</div>
	<div class="nbdialog_footer">
		<button ng-hide="send_done"
			class="nbdialog_close btn btn-default">Cancel</button>
		<button class="btn btn-primary pull-right"
			ng-hide="send_done" ng-click="send()">Send</button>
		<button class="nbdialog_close btn btn-success pull-right"
			ng-show="send_done">Close</button>
	</div>
</div>
