<!-- SCRIPTS -->

<!-- jquery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script> -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- angular -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-touch.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.min.js"></script>
<!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.min.js"></script> -->
<!-- <script src="/vendor/angular-ui/build/angular-ui.min.js" type="text/javascript"></script> -->


<!-- utils -->
<script src="/vendor/bowser/bowser.min.js" type="text/javascript"></script>
<script src="/vendor/bootstrap-growl/jquery.bootstrap-growl.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script> -->
<!-- <script src="/vendor/gauge.min.js" type="text/javascript"></script> -->
<!-- <script src="/vendor/jquery.parallax.min.js" type="text/javascript"></script> -->
<!-- <script src="/vendor/jquery.scrolling-parallax.js" type="text/javascript"></script> -->
<script src="/public/js/nb_util.js" type="text/javascript"></script>

<!-- server data is safely embedded in a JSON type script -->
<script id="server_data" type="application/json">
<?= JSON.stringify(it) ?>
</script>

<!-- crazyegg -->
<script type="text/javascript">
setTimeout(function() {
	var a = document.createElement("script");
	var b = document.getElementsByTagName("script")[0];
	a.src = document.location.protocol + "//dnn506yrbagrg.cloudfront.net/pages/scripts/0018/8760.js?" + Math.floor(new Date().getTime() / 3600000);
	a.async = true;
	a.type = "text/javascript";
	b.parentNode.insertBefore(a, b)
}, 1);
</script>
