<script type="text/javascript">
	function MenuBarCtrl($scope, $location) {
		$scope.active_link = function(link) {
			return link === $location.path() ? 'active' : '';
		};
	}
	MenuBarCtrl.$inject = ['$scope', '$location'];
</script>

<div class="nb_navbar navbar navbar-inverse navbar-fixed-top"
	ng-controller="MenuBarCtrl">
	<div class="nb_page_pad navbar-inner fntread fntwht">
		<a id="logo_link" class="brandy pull-left scroller" href="/">
			<img src="/public/images/noobaa_logo2.png"></img>
		</a>
		<ul class="nav pull-left">
			<li ng-class="active_link('/mydata')">
				<a href="/mydata" id="my_data_link">MY DATA</a>
			</li>
			<li ng-class="active_link('/mydevices')">
				<a href="/mydevices" id="my_dev_link">MY DEVICES</a>
			</li>
		</ul>
		<ul class="nav pull-right">
			<li>
				<a id="tour_link"
					style="cursor: pointer"
					data-title="Start the Tour..."
					data-placement="bottom" rel="tooltip">
					<i class="icon-info-sign icon-large text-info"></i>
				</a>
			</li>
			<li>
				<a class="dropdown-toggle"
					id="userLabel" role="button"
					data-toggle="dropdown" href="#">
					<div class="text-ellipses" style="max-width: 200px">
						<span class="icon-user icon-white"></span>
						<?! it.user.name ?>
					</div>
				</a>
				<ul class="dropdown-menu"
					role="menu"
					aria-labelledby="userLabel">
					<li align="center">
						<img src="https://graph.facebook.com/<?! it.user.fbid ?>/picture\" style="height: 40px"></img>
					</li>
					<li class="divider"></li>
					<li>
						<a class="btn btn-link disabled" href="#">
							<i class='icon-cog pull-left'></i>
							Account
						</a>
					</li>
					<li>
						<a class="btn btn-link" href="/auth/logout/">
							<i class='icon-signout pull-left'></i>
							Logout
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>