<div class="nb_navbar navbar navbar-inverse">
	<div class="navbar-inner fntread fntwht">
		<a class="brand scroller" href="/" style="width: 80px">
			<img src="/public/nblib/img/noobaa_logo.png"></img>
		</a>
		<ul class="nav pull-left">
			<li><a href="/mydata">MY DATA</a></li>
			<li><a href="#/mydevices">MY DEVICES</a></li>
		</ul>
		<ul class="nav pull-right">
			<li>
				<a href="#"><i class="icon-bell icon-large"></i></a>
			</li>
			<li>
				<button class="dropdown-toggle btn btn-primary"
					id="userLabel" role="button"
					data-toggle="dropdown" href="#">
					<div style="max-width: 200px;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;">
						<span class="icon-user icon-white"></span>
						<?! it.user.name ?>
					</div>
				</button>
				<ul class="dropdown-menu"
					role="menu"
					aria-labelledby="userLabel">
					<li align="center">
						<img src="https://graph.facebook.com/<?! it.user.fbid ?>/picture\" style="height: 40px"></img>
					</li>
					<li class="divider"></li>
					<li>
						<a class="btn btn-link" href="#">
							<i class='icon-cog pull-left'></i>
							Account
						</a>
					</li>
					<li>
						<a class="btn btn-link" href="/auth/logout/">
							<i class='icon-signout pull-left'></i>
							Logout
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>