<!DOCTYPE html>
<html ng-app="noobaa_app" xmlns:fb="http://ogp.me/ns/fb#" lang="en">

<head>
	<?# def.include('common_head.html') ?>
	<style>
		body {
			background-color: #f2f2f2 !important;
		}
		#sketch {
			background-image: url('/public/images/sketch_skate.png');
			background-repeat: no-repeat;
			background-attachment: scroll;
			background-size: cover;
			background-position: 0 0;
			height: 300px;
			margin-bottom: 50px
		}
	</style>
</head>

<body class="bglight">

	<div class="navbar navbar-inverse navbar-static-top"
		role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
					<img src="/public/images/noobaa_logo.png"></img>
				</a>
			</div>
		</div>
	</div>

	<div class="container text-center">
		<div id="pic">
			<div id="sketch"></div>
		</div>
		<h1>
			<?! it.data ?>
		</h1>
		<div class="H1 fntpaint">
			&lt;<?! it.status ?>&gt;
		</div>
		<div>
			<?! it.stack ?>
		</div>
	</div>

	<?# def.include('common_scripts.html') ?>

	<script type="text/javascript">
		function ErrorCtrl($scope) {
		}
	</script>

</body>

</html>