<div class="feeder">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<a class="btn btn-primary btn-sm" ng-click="go_up_level()" title="Refresh" nb-tooltip>
				<i class="fa fa-refresh fa-lg"></i>
			</a>
			&nbsp;
			News Feed
		</div>
		<div class="panel-body" style="padding: 0">
			<div class="text-center" ng-click="show_feeds = !show_feeds">
				<a class="btn btn-link btn-sm">
					<span ng-show="show_feeds">- Hide -</span>
					<span ng-hide="show_feeds">- Show -</span>
				</a>
			</div>
			<div ng-if="show_feeds">
				<div ng-repeat="feed in feeds" class="feed_line">
					<span class="lead">{{feed.name}}</span>
				</div>
			</div>
		</div>
	</div>
</div>
