<!DOCTYPE html>
<html ng-app="noobaa_app" xmlns:fb="http://ogp.me/ns/fb#" lang="en">

<head>
	<?# def.include( 'common_head.html') ?>
		<base href="/home/">
</head>

<body ng-cloak ng-controller="HomeCtrl">

	<div>
		<?# def.facebook_init_body ?>
	</div>

	<nav class="navbar navbar-static-top navbar-inverse home_navbar" role="navigation">
		<div class="container clearfix">
			<div class="navbar-header pull-left">
				<a id="logo_link" class="navbar-brand" href="/">
					<img src="/public/images/noobaa_logo.png"></img>
					<small>BETA</small>
				</a>
			</div>
			<ul ng-if="nbUser.user" class="nav navbar-nav navbar-right pull-right" style="margin-top: 0; margin-bottom: 0">
				<li>
					<a role="button" nb-popover="{element: '#user_menu', container: 'body', placement: 'bottom'}" style="padding-top: 9px; padding-bottom: 9px">
						<img ng-src="{{nbUser.user_pic_url(nbUser.user)}}" style="height: 32px" class="img-rounded">
						<div class="text-ellipses" style="max-width: 160px; vertical-align: middle; height: 100%; display: inline-block; margin-left: 10px">
							{{nbUser.user.name}}
						</div>
					</a>
					<div style="display: none" ng-non-bindable>
						<div id="user_menu">
							<!-- 
							<div class="text-center">
								<a href="/home/mydata/" class="btn btn-block btn-info" style="margin-bottom: 5px">
									My-Data
								</a>
							</div>
							 -->
							<div class="text-center">
								<small>
									<span class="text-muted">Using</span>
									<span class="text-white">{{human_size(nbUser.user_usage)}} / {{human_size(nbUser.user_quota)}}</span>
								</small>
							</div>
							<div class="progress text-center bggrey" style="vertical-align: middle; margin: 0">
								<div class="progress-bar progress-bar-{{nbUser.usage_percents < 70 && 'success' || usage_percents < 90 && 'warning' || 'danger'}}" role="progressbar" aria-valuenow="{{nbUser.usage_percents}}" aria-valuemin="0" aria-valuemax="100" style="width: {{nbUser.usage_percents}}%">
									<!-- <span ng-show="usage_percents >= 15" style="height: 100%; vertical-align: middle">{{usage_percents}}% Used</span> -->
								</div>
								<!-- <small ng-show="usage_percents < 85" style="height: 100%; color: black">{{100-usage_percents}}% Free</small> -->
							</div>
							<hr style="margin: 10px 0 5px 0" />
							<ul class="nav Xnav-pills Xnav-stacked" style="padding: 0; margin: 0">
								<li class="divider"></li>
								<!-- 
									<div hidden class="nav navbar-nav navbar-left">
										<button class="navbar-btn btn btn-danger" ng-click="open_local_planet()" id="space_button" style="margin-left: 30px; Xbackground-color: hsl(357, 100%, 45%)">
											Install
										</button>
										<button class="navbar-btn btn btn-success" ng-click="toggle_uploads_view()" id="upload_button" style="margin-left: 15px; Xbackground-color: hsl(193, 76%, 67%)">
											Upload
										</button>
									</div>
									 -->
								<li>
									<a id="feedback_button" role="button" ng-click="click_feedback()">
										<i class="fa fa-comments fa-fw"></i>
										Give feedback
									</a>
								</li>
								<!-- 
								<li ng-controller="GuideCtrl" class="dropdown">
									<a id="my_guides"
										class="dropdown-toggle"
										role="button"
										data-toggle="dropdown"
										title="My Guides"
										rel="tooltip"
										nb-tooltip="{placement: 'bottom'}">
										<i class="icon-info-sign icon-large text-info"></i>
									</a>
									<ul class="dropdown-menu"
										role="menu"
										aria-labelledby="my_guides">
										<li ng-repeat="guide in guides_list">
											<a ng-click="guide.run()">
												<span class="icon-li icon-stack">
													<i class="icon-check-empty icon-stack-base"></i>
													<i ng-show="guide.is_completed()" 
														class="icon-trophy"></i>
												</span>
												{{guide.title}}
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="/settings" target="_self">
										<i class="fa fa-cog fa-fw"></i>
										Account Settings
									</a>
								</li>
								<li>
									<a href="/help" target="_blank">
										<i class="fa fa-question fa-fw"></i>
										Help (FAQ)
									</a>
								</li>
								 -->
								<li>
									<a ng-click="nbUser.logout()" Xhref="/auth/logout/?state=/home/" Xtarget="_self">
										<i class="fa fa-sign-out fa-fw"></i>
										Logout
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</nav>

	<div ng-if="nbUser.user">

		<div id="nb-menu" class="text-center" style="margin: 15px">
			<div class="container">
				<ul class="nav nav-pills center-block" style="max-width: 600px">
					<li ng-class="nbUtil.active_link('/home/feed/')">
						<a class="btn-link btn-lg" style="padding: 10px; cursor: pointer" ng-click="click_my_feed()" Xhref="/home/feed/">
							<i class="fa fa-rss fa-lg fa-fw text-muted"></i>
							<span>My Feed</span>
						</a>
					</li>
					<li ng-class="nbUtil.active_link('/home/items/')">
						<a class="btn-link btn-lg" style="padding: 10px; cursor: pointer" ng-click="click_my_items()" Xhref="/home/items/">
							<i class="fa fa-file fa-lg fa-fw text-muted"></i>
							<span>My Items</span>
						</a>
					</li>
					<li ng-class="nbUtil.active_link('/home/upload/')">
						<a class="btn-link btn-lg" style="padding: 10px; cursor: pointer" Xhref="/home/upload/" ng-click="nbUploadSrv.open_file_input()">
							<i class="fa fa-cloud-upload fa-lg fa-fw text-muted"></i>
							<span>
								Upload
								<span class="badge" ng-show="nbUploadSrv.root.total_sons - nbUploadSrv.root.total_completed">
									{{nbUploadSrv.root.total_sons - nbUploadSrv.root.total_completed}}
									<i class="fa fa-cog fa-spin"></i>
								</span>
							</span>
						</a>
					</li>
					<li ng-if="nbPlanet.on" ng-class="nbUtil.active_link('/home/upload/')">
						<a class="btn-link btn-lg" style="padding: 10px; cursor: pointer" ng-click="nbUploadSrv.open_dir_input()">
							<i class="fa fa-folder fa-lg fa-fw text-muted"></i>
							<span>Upload Folder</span>
						</a>
					</li>
					<li ng-if="!nbPlanet.on" ng-class="nbUtil.active_link('/home/install/')">
						<a class="btn-link btn-lg" style="padding: 10px; cursor: pointer" Xhref="/home/install/" ng-click="show_client_installation()">
							<i class="fa fa-anchor fa-lg fa-fw text-muted"></i>
							<span>Install</span>
						</a>
					</li>
					<li ng-if="nbPlanet.on" ng-class="nbUtil.active_link('/home/expand/')">
						<a class="btn-link btn-lg" style="padding: 10px; cursor: pointer" ng-click="show_client_expansion()">
							<i class="fa fa-rocket fa-lg fa-fw text-muted"></i>
							Expand Space
						</a>
					</li>
					<li ng-class="nbUtil.active_link('/home/friends/')">
						<a class="btn-link btn-lg" style="padding: 10px; cursor: pointer" href="/home/friends/">
							<i class="fa fa-users fa-lg fa-fw text-muted"></i>
							<span>Friends</span>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div nb-effect-toggle="nbUploadSrv.has_uploads()" nb-effect-options="{effect: 'blind'}" class="container">
			<div ng-include="'/public/html/upload_template.html'"></div>
		</div>

		<div Xstyle="position: relative">
			<div ng-view Xclass="view-animate"></div>
		</div>
	</div>

	<div ng-if="!nbUser.user">
		<div class="text-center" style="padding: 20px">
			<div style="display: inline-block; background-color: hsla(0,0%,100%,0.3); border-radius: 10px; padding: 5px 10px 10px 10px" class="center-block text-center">
				<h4 class="fntpaint shades" style="margin-bottom: 15px">
					Sign in, It's free
				</h4>
				<div>
					<div class="fb-facepile" data-width="300" data-max-rows="1" data-colorscheme="light" data-size="small" data-show-count="true"></div>
				</div>
				<div style="margin-top: 10px">
					<a ng-click="nbUser.login_facebook()" Xhref="/auth/facebook/login/">
						<img src="/public/images/facebook_sign_in.png" class="img-rounded img-responsive center-block" style="width: 300px" />
					</a>
				</div>
				<h4 class="fntpaint shades">or</h4>
				<div style="margin-top: 10px">
					<a ng-click="nbUser.login_google()" Xhref="/auth/google/login/">
						<img src="/public/images/google_sign_in.png" class="img-rounded img-responsive center-block" style="width: 300px" />
					</a>
				</div>
			</div>
		</div>
	</div>


	<!-- FEEDBACK -->

	<div id="feedback_dialog" class="modal fade fntmd">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<i class="fa fa-comments fa-lg text-primary"></i>
					"Talk To Me Goose"
				</div>
				<div class="modal-body">
					<textarea ng-hide="feedback_send_done" ng-model="feedback_text" class="form-control" autofocus style="resize: none; height: 100%" rows="5"></textarea>
					<p ng-show="feedback_send_done" class="lead text-center">
						My Precious...
						<br/>Thank you!
					</p>
				</div>
				<div class="modal-footer">
					<button data-dismiss="modal" ng-hide="feedback_send_done" class="Xnbdialog_close btn btn-default">Cancel</button>
					<button class="btn btn-primary pull-right" ng-hide="feedback_send_done" ng-click="send_feedback()">Send</button>
					<button data-dismiss="modal" class="Xnbdialog_close btn btn-success pull-right" ng-show="feedback_send_done">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- INSTALL  -->

	<div style="display: none" ng-non-bindable>
		<div id="client_installation">
			<div style="padding: 10px">
				<p class="text-left">
					Experience with the NooBaa client:
					<ul class="fa-ul">
						<li><i class="fa fa-li fa-rocket"></i>
							Expand your account space as much as you want!</li>
						<li><i class="fa fa-li fa-refresh"></i>
							Automatic resume of uploads (even on disconnection or reboot)</li>
						<li><i class="fa fa-li fa-folder-open"></i>
							Upload / Download entire folders</li>
					</ul>
				</p>
				<div class="text-center">
					<a class="btn btn-link" href="https://noobaa-download.s3.amazonaws.com/noobaa-windows-setup-0.1.exe">
						<img src="/public/images/windows_logo.png" style="margin: 5px; width: 60px; height: 60px"></img>
						<div>Download for Windows</div>
					</a>
					<a class="btn btn-link" href="https://noobaa-download.s3.amazonaws.com/noobaa-osx-0.1.zip" style="border-radius: 0; margin: 0">
						<img src="/public/images/mac_logo_small.png" style="margin: 5px; width: 60px; height: 60px"></img>
						<div>Download for Mac</div>
					</a>
					<a class="btn btn-link" href="https://noobaa-download.s3.amazonaws.com/noobaa-linux-0.1.tar.gz">
						<img src="/public/images/linux_logo.png" style="margin: 5px; width: 60px; height: 60px"></img>
						<div>Download for Linux</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- EXPAND -->

	<div style="display: none" ng-non-bindable>
		<div id="client_expansion">
			<div class="text-center" style="padding: 10px">
				<span ng-repeat="plan in nbPlanet.coshare_options">
					<button href="#" class="btn btn-lg Xbtn-block" ng-click="nbPlanet.select_coshare_option($index)" ng-class="nbPlanet.coshare_options_class($index)">
						{{plan.title}}
					</button>
				</span>
			</div>
			<button ng-if="false" class="btn btn-link btn-block" ng-click="nbUtil.coming_soon()" Xonclick="$('#coshare_path').trigger('click')">
				Advanced...
			</button>
			<input id="coshare_path" style="display: none" type="file" name="file" nwdirectory>
			</input>
		</div>
	</div>

	<!-- SHARE MODAL -->

	<div style="display: none" ng-non-bindable>
		<div id="share_modal" style="max-height: 100%" ng-init="filter_friend_name=''">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4>Share {{share_inode.name}}</h4>
			</div>
			<div class="modal-body" style="padding: 0">
				<div style="max-height: 100%" >
					<div style="padding: 10px">
						<div style="padding-left: 20px">Comments:</div>
						<div style="border-radius: 10px; border: 1px solid hsl(0,0%,20%); padding: 10px; margin: 5px">
							<div ng-repeat="msg in share_inode.messages">
								<img class="img-rounded pull-left" ng-src="{{nbUser.user_pic_url(msg.user)}}" style="width: 30px; margin: 0 5px 5px 0" />
								<div style="overflow: hidden">
									<span class="text-primary">
										<small>{{msg.user.name}}</small>
									</span>
									<a ng-click="delete_inode_message(share_inode, msg)">
										<i class="fa fa-times fa-fw text-muted"></i>
									</a>
									<!-- 
								<a ng-if="msg.user.id == nbUser.user.id">
									<i class="fa fa-pencil fa-fw text-muted"></i>
								</a>
								 -->
									<div style="padding-bottom: 8px">
										<small>{{msg.text}}</small>
									</div>
								</div>
							</div>
							<div ng-show="comments_loading" class="text-center" style="padding: 10px">
								<i class="fa fa-spinner fa-spin fa-lg"></i>
							</div>
							<div>
								<textarea ng-model="share_text" rows="2" class="form-control {{share_text.length && 'label-primary text-black' || 'label-default'}}" placeholder="Write about it..." nb-focus="!share_list_loading"></textarea>
								<div></div>
							</div>
						</div>
					</div>
					<div ng-if="!share_list_loading && shr=='r'">
						<hr style="margin: 0" />
						<div class="center-block" style="width: 260px; padding: 0 10px 10px 10px">
							<div class="Xinput-group input-group-sm" style="position: relative">
								<input type="text" class="form-control {{filter_friend_name && 'label-warning text-black' || 'label-default'}}" placeholder="Search in friends" ng-model="filter_friend_name" style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px" />
								<i class="fa fa-times fa-fw" style="cursor: pointer; position: absolute; right: 10px; top: 7px" ng-click="filter_friend_name=''"></i>
							</div>
						</div>
						<div style="padding: 0 10px 10px 10px; max-height: 300px; overflow-y: scroll; overflow-x: hidden">
							<div ng-repeat="friend in share_list | filter:{name: filter_friend_name} | orderBy:'name'" class="text-ellipses {{friend.shared && 'label-warning'}}" style="display: inline-block; border-radius: 20px; width: 260px; margin: 0 2px; padding: 5px 10px; cursor: pointer; text-align: left" ng-click="friend.shared = !friend.shared">
								<i class="fa fa-{{friend.shared && 'check' || 'plus-square'}} fa-fw"></i>&nbsp;
								<img width="32" height="32" ng-src="{{nbUser.user_pic_url(friend)}}" />&nbsp;
								<span>{{friend.name}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer" style="margin-top: 0">
				<span ng-if="share_list_loading" class="text-center" style="padding: 20px">
					<i class="fa fa-spinner fa-spin fa-lg"></i>
				</span>
				<div class="btn-group dropup">
					<button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
						<span ng-if="shr == 'f'">
							<i class="fa fa-users fa-fw"></i>
							All Friends
						</span>
						<span ng-if="shr == 'r'">
							<i class="fa fa-cog fa-fw"></i>
							Choose Friends
						</span>
						<i class="fa fa-caret-up"></i>
					</button>
					<ul class="dropdown-menu text-left" role="menu">
						<li>
							<a ng-click="shr = 'f'">
								<i class="fa fa-{{(shr=='f') && 'check'}} fa-fw"></i>
								<i class="fa fa-users fa-fw"></i>
								All Friends
							</a>
						</li>
						<li>
							<a ng-click="set_shr_refs()">
								<i class="fa fa-{{(shr=='r') && 'check'}} fa-fw"></i>
								<i class="fa fa-cog fa-fw"></i>
								Choose Friends
							</a>
						</li>
					</ul>
				</div>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" ng-click="run()" ng-disabled="share_list_loading">Update</button>
			</div>
		</div>
	</div>

	<!-- GET LINK DIALOG -->

	<div id="getlink_dialog" class="nbdialog fntmd">
		<div class="nbdialog_header nbdialog_drag">
			File Link
			<a class="pull-right nbdialog_close btn btn-default btn-xs" title="Cancel">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="nbdialog_content">
			<p>Copy &amp; Paste this file link to send or post anywhere you want:</p>
			<div class="inode_label"></div>
			<div class="link_label"></div>
		</div>
		<div class="nbdialog_footer text-center">
			<button class="nbdialog_close btn btn-default">Close</button>
		</div>
	</div>


	<!-- FILE/DIR WITH ICON -->

	<div id="inode_with_icon">
		<i id="inode_with_icon_dir" class="icon-folder-close icon-large d-icon" style="display: none"></i>
		<i id="inode_with_icon_file" class="icon-file icon-large d-icon" style="display: none; color: grey"></i>
		<span id="inode_with_icon_name" class="fntmd fntthin"></span>
	</div>


	<!-- DELETE DIALOG -->

	<div id="delete_dialog" class="nbdialog fntmd">
		<div class="nbdialog_header nbdialog_drag">
			Confirm Delete
			<a class="pull-right nbdialog_close btn btn-default btn-xs" title="Cancel">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="nbdialog_content">
			<p id="not_empty_msg" style="display: none">
				The selected folders are not empty.
				<br/>Are you sure you want to delete all its content?
			</p>
			<p id="normal_msg">Are you sure you want to delete the selected items?</p>
			<div class="inode_label"></div>
		</div>
		<div class="nbdialog_footer">
			<button class="nbdialog_close btn btn-default">Cancel</button>
			<button id="dialog_ok" class="btn btn-danger pull-right">Delete</button>
		</div>
	</div>


	<!-- MKDIR DIALOG -->

	<div id="mkdir_dialog" class="nbdialog fntmd">
		<div class="nbdialog_header nbdialog_drag">
			New Folder...
			<a class="pull-right nbdialog_close btn btn-default btn-xs" title="Cancel">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="nbdialog_content">
			<p>
				Create new folder under:
				<div class="inode_label"></div>
			</p>
			<input id="dialog_input" class="form-control" type="text" />
		</div>
		<div class="nbdialog_footer">
			<button class="nbdialog_close btn btn-default">Cancel</button>
			<button id="dialog_ok" class="btn btn-primary pull-right">Create</button>
		</div>
	</div>

	<!-- RENAME DIALOG -->

	<div id="rename_dialog" class="nbdialog fntmd">
		<div class="nbdialog_header nbdialog_drag">
			Rename...
			<a class="pull-right nbdialog_close btn btn-default btn-xs" title="Cancel">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="nbdialog_content">
			<p>
				New name for:
				<div class="inode_label"></div>
			</p>
			<input id="dialog_input" class="form-control" type="text" />
		</div>
		<div class="nbdialog_footer">
			<button class="nbdialog_close btn btn-default">Cancel</button>
			<button id="dialog_ok" class="btn btn-primary pull-right">Rename</button>
		</div>
	</div>


	<div>
		<?# def.include( 'common_scripts.html') ?>
	</div>

	<!-- <script src="/vendor/bootstrap-tour/js/bootstrap-tour.js" type="text/javascript"></script> -->
	<!-- <script src="/vendor/masonry.pkgd.min.js" type="text/javascript"></script> -->
	<script src="/vendor-n/async/lib/async.js" type="text/javascript"></script>
	<script src="/vendor-n/moment/moment.js" type="text/javascript"></script>
	<!-- // <script src="/vendor-n/q/q.js" type="text/javascript"></script> -->

	<!-- <script src="/public/js/guide_ctrl.js" type="text/javascript"></script> -->
	<script src="/public/js/nb_user.js" type="text/javascript"></script>
	<script src="/public/js/nb_planet.js" type="text/javascript"></script>
	<script src="/public/js/nb_inode.js" type="text/javascript"></script>
	<script src="/public/js/nb_upload.js" type="text/javascript"></script>
	<script src="/public/js/nb_home.js" type="text/javascript"></script>

</body>

</html>
