<!DOCTYPE html>
<html ng-app="noobaa_app" xmlns:fb="http://ogp.me/ns/fb#" lang="en">

<head>
	<?# def.include( 'common_head.html') ?>
		<base href="/home/">
</head>

<body ng-cloak ng-controller="HomeCtrl">

	<div>
		<?# def.facebook_init_body ?>
	</div>

	<nav class="navbar navbar-static-top Xnavbar-default navbar-inverse home_navbar" role="navigation" style="margin: 0">
		<div class="container clearfix">
			<div class="navbar-header pull-left">
				<a id="logo_link" class="navbar-brand" href="/">
					<img src="/public/images/noobaa_logo.png"></img>
					<small>BETA</small>
				</a>
			</div>
			<ul ng-if="nbUser.user" class="nav navbar-nav navbar-right pull-right" style="margin-top: 0; margin-bottom: 0">
				<!-- 
				<li class="pull-left">
					<a href="/home/" style="padding-top: 15px; padding-bottom: 15px">Home</a>
				</li>
				<li class="pull-left">
					<a href="/home/collection/" style="padding-top: 15px; padding-bottom: 15px">Collection</a>
				</li>
				 -->
				<li class="pull-left">
					<a role="button" nb-popover="{element: '#user_menu', container: 'body', placement: 'bottom'}" style="padding-top: 9px; padding-bottom: 9px">
						<img ng-src="{{nbUser.user_pic_url(nbUser.user)}}" style="height: 32px" class="img-rounded">
						<div class="text-ellipses" style="max-width: 160px; vertical-align: middle; height: 100%; display: inline-block; margin-left: 10px">
							{{nbUser.user.name}}
						</div>
					</a>
					<div style="display: none" ng-non-bindable>
						<div id="user_menu">
							<!-- 
							<div class="text-center">
								<a href="/home/mydata/" class="btn btn-block btn-info" style="margin-bottom: 5px">
									My-Data
								</a>
							</div>
							 -->
							<div class="text-center">
								<small>
									<span class="text-muted">Using</span>
									<span class="text-white">{{human_size(nbUser.user_usage)}} / {{human_size(nbUser.user_quota)}}</span>
								</small>
							</div>
							<div class="progress text-center bggrey" style="vertical-align: middle; margin: 0">
								<div class="progress-bar progress-bar-{{nbUser.usage_percents < 70 && 'success' || usage_percents < 90 && 'warning' || 'danger'}}" role="progressbar" aria-valuenow="{{nbUser.usage_percents}}" aria-valuemin="0" aria-valuemax="100" style="width: {{nbUser.usage_percents}}%">
									<!-- <span ng-show="usage_percents >= 15" style="height: 100%; vertical-align: middle">{{usage_percents}}% Used</span> -->
								</div>
								<!-- <small ng-show="usage_percents < 85" style="height: 100%; color: black">{{100-usage_percents}}% Free</small> -->
							</div>
							<hr style="margin: 10px 0 5px 0" />
							<ul class="nav Xnav-pills Xnav-stacked" style="padding: 0; margin: 0">
								<li class="divider"></li>
								<!-- 
									<div hidden class="nav navbar-nav navbar-left">
										<button class="navbar-btn btn btn-danger" ng-click="open_local_planet()" id="space_button" style="margin-left: 30px; Xbackground-color: hsl(357, 100%, 45%)">
											Install
										</button>
										<button class="navbar-btn btn btn-success" ng-click="toggle_uploads_view()" id="upload_button" style="margin-left: 15px; Xbackground-color: hsl(193, 76%, 67%)">
											Upload
										</button>
									</div>
									 -->
								<li>
									<a id="feedback_button" role="button" ng-click="click_feedback()">
										<i class="fa fa-comments fa-fw"></i>
										Give feedback
									</a>
								</li>
								<!-- 
								<li ng-controller="GuideCtrl" class="dropdown">
									<a id="my_guides"
										class="dropdown-toggle"
										role="button"
										data-toggle="dropdown"
										title="My Guides"
										rel="tooltip"
										nb-tooltip="{placement: 'bottom'}">
										<i class="icon-info-sign icon-large text-info"></i>
									</a>
									<ul class="dropdown-menu"
										role="menu"
										aria-labelledby="my_guides">
										<li ng-repeat="guide in guides_list">
											<a ng-click="guide.run()">
												<span class="icon-li icon-stack">
													<i class="icon-check-empty icon-stack-base"></i>
													<i ng-show="guide.is_completed()" 
														class="icon-trophy"></i>
												</span>
												{{guide.title}}
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="/settings" target="_self">
										<i class="fa fa-cog fa-fw"></i>
										Account Settings
									</a>
								</li>
								<li>
									<a href="/help" target="_blank">
										<i class="fa fa-question fa-fw"></i>
										Help (FAQ)
									</a>
								</li>
								 -->
								<li>
									<a ng-click="nbUser.logout()" Xhref="/auth/logout/?state=/home/" Xtarget="_self">
										<i class="fa fa-sign-out fa-fw"></i>
										Logout
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</nav>

	<div ng-if="nbUser.user">

		<div id="nb-menu" class="text-center" style="margin: 0 0 10px 10px">
			<div style="display: inline-block; border-radius: 10px; margin: 10px 10px 0 0" class="bggrey">
				<a class="nb-menu-item content-switcher" style="padding: 5px; cursor: pointer" href="/home/">
					<span class="fa-stack" title="Feed" rel="tooltip">
						<i class="fa fa-circle fa-stack-2x text-muted"></i>
						<i class="fa fa-rss fa-inverse fa-stack-1x text-white"></i>
					</span>
				</a>
				<a class="nb-menu-item content-switcher" style="padding: 5px; cursor: pointer" href="/home/friends/" ng-click="invite_friends()">
					<span class="fa-stack" title="Invite Friends" rel="tooltip">
						<i class="fa fa-circle fa-stack-2x text-muted"></i>
						<i class="fa fa-users fa-inverse fa-stack-1x text-white"></i>
					</span>
				</a>
				<a class="nb-menu-item content-switcher" style="padding: 5px; cursor: pointer" ng-click="nbUploadSrv.open_file_input()">
					<span class="fa-stack" title="Upload files" rel="tooltip">
						<i class="fa fa-circle fa-stack-2x text-muted"></i>
						<i class="fa fa-cloud-upload fa-inverse fa-stack-1x text-white"></i>
					</span>
				</a>
				<a ng-if="nbPlanet.on" class="nb-menu-item content-switcher" style="padding: 5px; cursor: pointer" ng-click="nbUploadSrv.open_dir_input()">
					<span class="fa-stack" title="Upload folder" rel="tooltip">
						<i class="fa fa-circle fa-stack-2x text-muted"></i>
						<i class="fa fa-folder fa-inverse fa-stack-1x text-white"></i>
					</span>
				</a>
				<a ng-if="nbPlanet.on" class="nb-menu-item content-switcher" style="padding: 5px; cursor: pointer" ng-click="show_client_expansion()">
					<span class="fa-stack" title="Expand Space" rel="tooltip">
						<i class="fa fa-circle fa-stack-2x text-muted"></i>
						<i class="fa fa-rocket fa-inverse fa-stack-1x text-white"></i>
					</span>
				</a>
				<a ng-if="!nbPlanet.on" class="nb-menu-item content-switcher" style="padding: 5px; cursor: pointer" ng-click="show_client_installation()">
					<span class="fa-stack" title="Install" rel="tooltip">
						<i class="fa fa-circle fa-stack-2x text-muted"></i>
						<i class="fa fa-thumb-tack fa-inverse fa-stack-1x text-white"></i>
					</span>
				</a>
			</div>
			<div style="display: inline-block; border-radius: 10px; margin: 10px 10px 0 0">
				<a class="nb-menu-item content-switcher" style="padding: 5px; cursor: pointer" href="/home/files/">
					<span class="fa-stack" title="Files" rel="tooltip">
						<i class="fa fa-circle fa-stack-2x text-muted"></i>
						<i class="fa fa-file fa-inverse fa-stack-1x text-white"></i>
					</span>
				</a>
				<a class="nb-menu-item content-switcher" style="padding: 5px; cursor: pointer" href="/home/videos/" ng-click="nbUtil.coming_soon()">
					<span class="fa-stack" title="Videos" rel="tooltip">
						<i class="fa fa-circle fa-stack-2x text-muted"></i>
						<i class="fa fa-video-camera fa-inverse fa-stack-1x text-white"></i>
					</span>
				</a>
				<a class="nb-menu-item content-switcher" style="padding: 5px; cursor: pointer" href="/home/photos/" ng-click="nbUtil.coming_soon()">
					<span class="fa-stack" title="Photos" rel="tooltip">
						<i class="fa fa-circle fa-stack-2x text-muted"></i>
						<i class="fa fa-picture-o fa-inverse fa-stack-1x text-white"></i>
					</span>
				</a>
				<a class="nb-menu-item content-switcher" style="padding: 5px; cursor: pointer" href="/home/music/" ng-click="nbUtil.coming_soon()">
					<span class="fa-stack" title="Music" rel="tooltip">
						<i class="fa fa-circle fa-stack-2x text-muted"></i>
						<i class="fa fa-music fa-inverse fa-stack-1x text-white"></i>
					</span>
				</a>
			</div>
		</div>

		<div nb-effect-toggle="nbUploadSrv.has_uploads()" nb-effect-options="{effect: 'blind'}" class="container">
			<div ng-include="'/public/html/upload_template.html'"></div>
		</div>

		<div Xstyle="position: relative">
			<div ng-view Xclass="view-animate"></div>
		</div>
	</div>

	<div ng-if="!nbUser.user">
		<div class="text-center" style="padding: 20px">
			<div style="display: inline-block; background-color: hsla(0,0%,100%,0.3); border-radius: 10px; padding: 5px 10px 10px 10px" class="center-block text-center">
				<h4 class="fntpaint shades" style="margin-bottom: 15px">
					Join your friends. It's free.
				</h4>
				<div style="margin-top: 10px" ng-show="nbUser.fb_show_app_friends">
					<div class="fb-login-button text-center center-block" data-show-faces="true" data-max-rows="1" data-width="295" style="width: 300px"></div>
				</div>
				<div style="margin-top: 10px">
					<a ng-click="nbUser.login_facebook()" Xhref="/auth/facebook/login/">
						<img src="/public/images/facebook_sign_in.png" class="img-rounded img-responsive center-block" style="width: 300px" />
					</a>
				</div>
				<h4 class="fntpaint shades">or</h4>
				<div style="margin-top: 10px">
					<a ng-click="nbUser.login_google()" Xhref="/auth/google/login/">
						<img src="/public/images/google_sign_in.png" class="img-rounded img-responsive center-block" style="width: 300px" />
					</a>
				</div>
			</div>
		</div>
	</div>


	<!-- FEEDBACK -->

	<div id="feedback_dialog" class="modal fade fntmd">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<i class="fa fa-comments fa-lg text-primary"></i>
					"Talk To Me Goose"
				</div>
				<div class="modal-body">
					<textarea ng-hide="feedback_send_done" ng-model="feedback_text" class="form-control" autofocus style="resize: none; height: 100%" rows="5"></textarea>
					<p ng-show="feedback_send_done" class="lead text-center">
						My Precious...
						<br/>Thank you!
					</p>
				</div>
				<div class="modal-footer">
					<button data-dismiss="modal" ng-hide="feedback_send_done" class="Xnbdialog_close btn btn-default">Cancel</button>
					<button class="btn btn-primary pull-right" ng-hide="feedback_send_done" ng-click="send_feedback()">Send</button>
					<button data-dismiss="modal" class="Xnbdialog_close btn btn-success pull-right" ng-show="feedback_send_done">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- INSTALL  -->

	<div style="display: none" ng-non-bindable>
		<div id="client_installation">
			<div style="padding: 10px">
				<p class="text-left">
					Experience with the NooBaa client:
					<ul class="fa-ul">
						<li><i class="fa fa-li fa-rocket"></i>
							Expand your account space as much as you want!</li>
						<li><i class="fa fa-li fa-refresh"></i>
							Automatic resume of uploads (even on disconnection or reboot)</li>
						<li><i class="fa fa-li fa-folder-open"></i>
							Upload / Download entire folders</li>
					</ul>
				</p>
				<div class="text-center">
					<a class="btn btn-link" href="https://noobaa-download.s3.amazonaws.com/noobaa-windows-setup-0.1.exe">
						<img src="/public/images/windows_logo.png" style="margin: 5px; width: 60px; height: 60px"></img>
						<div>Download for Windows</div>
					</a>
					<a class="btn btn-link" href="https://noobaa-download.s3.amazonaws.com/noobaa-osx-0.1.zip" style="border-radius: 0; margin: 0">
						<img src="/public/images/mac_logo_small.png" style="margin: 5px; width: 60px; height: 60px"></img>
						<div>Download for Mac</div>
					</a>
					<a class="btn btn-link" href="https://noobaa-download.s3.amazonaws.com/noobaa-linux-0.1.tar.gz">
						<img src="/public/images/linux_logo.png" style="margin: 5px; width: 60px; height: 60px"></img>
						<div>Download for Linux</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- EXPAND -->

	<div style="display: none" ng-non-bindable>
		<div id="client_expansion">
			<div class="text-center" style="padding: 10px">
				<span ng-repeat="plan in nbPlanet.coshare_options">
					<button href="#" class="btn btn-lg Xbtn-block" ng-click="nbPlanet.select_coshare_option($index)" ng-class="nbPlanet.coshare_options_class($index)">
						{{plan.title}}
					</button>
				</span>
			</div>
			<button ng-if="false" class="btn btn-link btn-block" ng-click="nbUtil.coming_soon()" Xonclick="$('#coshare_path').trigger('click')">
				Advanced...
			</button>
			<input id="coshare_path" style="display: none" type="file" name="file" nwdirectory>
			</input>
		</div>
	</div>

	<!-- SHARE MODAL -->

	<div style="display: none" ng-non-bindable>
		<div id="share_modal" style="padding: 20px">
			<div ng-show="share_is_loading" class="text-center" style="padding: 30px">
				<i class="fa fa-spinner fa-spin fa-2x"></i>
			</div>
			<div ng-show="!share_is_loading && !share_list.length">
				<p>No friends are availabe for sharing.</p>
				<p>Currenlty sharing is only availalbe for NooBaa users who are your social network friends.</p>
				<p>Invite your friends to NooBaa today.</p>
			</div>
			<div ng-show="!share_is_loading && share_list.length" ng-init="filter_friend_name=''">
				<form role="form">
					<div class="input-group">
						<input type="text" class="form-control input-sm" placeholder="Search in friends" ng-model="filter_friend_name" />
						<span class="input-group-btn">
							<button class="btn btn-default btn-sm" type="button" ng-click="filter_friend_name=''">
								<i class="fa fa-times fa-lg"></i>
							</button>
						</span>
					</div>
				</form>
				<br/>
				<table class="table">
					<tr ng-repeat="friend in share_list | filter:{name: filter_friend_name} | orderBy:'name'" ng-class="{true: 'warning'}[friend.shared]" ng-click="friend.shared = !friend.shared" style="cursor: pointer">
						<td>
							<img ng-src="{{ nbUser.user_pic_url(friend) }}" width="40px" height="40px"></img>
						</td>
						<td>{{friend.name}}</td>
						<td>
							<i ng-show="friend.shared" class="fa fa-check-square-o fa-fw fa-lg"></i>
							<i ng-hide="friend.shared" class="fa fa-square-o fa-fw fa-lg"></i>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<!-- GET LINK DIALOG -->

	<div id="getlink_dialog" class="nbdialog fntmd">
		<div class="nbdialog_header nbdialog_drag">
			File Link
			<a class="pull-right nbdialog_close btn btn-default btn-xs" title="Cancel">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="nbdialog_content">
			<p>Copy &amp; Paste this file link to send or post anywhere you want:</p>
			<div class="inode_label"></div>
			<div class="link_label"></div>
		</div>
		<div class="nbdialog_footer text-center">
			<button class="nbdialog_close btn btn-default">Close</button>
		</div>
	</div>


	<!-- FILE/DIR WITH ICON -->

	<div id="inode_with_icon">
		<i id="inode_with_icon_dir" class="icon-folder-close icon-large d-icon" style="display: none"></i>
		<i id="inode_with_icon_file" class="icon-file icon-large d-icon" style="display: none; color: grey"></i>
		<span id="inode_with_icon_name" class="fntmd fntthin"></span>
	</div>


	<!-- DELETE DIALOG -->

	<div id="delete_dialog" class="nbdialog fntmd">
		<div class="nbdialog_header nbdialog_drag">
			Confirm Delete
			<a class="pull-right nbdialog_close btn btn-default btn-xs" title="Cancel">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="nbdialog_content">
			<p id="not_empty_msg" style="display: none">
				The selected folders are not empty.
				<br/>Are you sure you want to delete all its content?
			</p>
			<p id="normal_msg">Are you sure you want to delete the selected items?</p>
			<div class="inode_label"></div>
		</div>
		<div class="nbdialog_footer">
			<button class="nbdialog_close btn btn-default">Cancel</button>
			<button id="dialog_ok" class="btn btn-danger pull-right">Delete</button>
		</div>
	</div>


	<!-- MKDIR DIALOG -->

	<div id="mkdir_dialog" class="nbdialog fntmd">
		<div class="nbdialog_header nbdialog_drag">
			New Folder...
			<a class="pull-right nbdialog_close btn btn-default btn-xs" title="Cancel">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="nbdialog_content">
			<p>
				Create new folder under:
				<div class="inode_label"></div>
			</p>
			<input id="dialog_input" class="form-control" type="text" />
		</div>
		<div class="nbdialog_footer">
			<button class="nbdialog_close btn btn-default">Cancel</button>
			<button id="dialog_ok" class="btn btn-primary pull-right">Create</button>
		</div>
	</div>

	<!-- RENAME DIALOG -->

	<div id="rename_dialog" class="nbdialog fntmd">
		<div class="nbdialog_header nbdialog_drag">
			Rename...
			<a class="pull-right nbdialog_close btn btn-default btn-xs" title="Cancel">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="nbdialog_content">
			<p>
				New name for:
				<div class="inode_label"></div>
			</p>
			<input id="dialog_input" class="form-control" type="text" />
		</div>
		<div class="nbdialog_footer">
			<button class="nbdialog_close btn btn-default">Cancel</button>
			<button id="dialog_ok" class="btn btn-primary pull-right">Rename</button>
		</div>
	</div>



	<!-- TREE TEMPLATE -->

	<script type="text/ng-template" id="tree_view_template.html">
	< div > < div class = "d-row d-head btn-info fnt fntmd fntwht" > < div class = "d-cell"
	style = "margin-left: 35px" > Folders Tree < /div>
		</div > < div class = "fntthin"
	ng - include = "'tree_item_template.html'" > < /div>
	</div >
	</script>

	<!-- recursive html template to be loaded and compiled by angular per item -->
	<script type="text/ng-template" id="tree_item_template.html">
	< div ng - repeat = "dir_inode in dir_inode.dir_state.subdirs_list" > < div class = "d-row a-row text-ellipses nbdrag ng-class: dir_inode.dir_active;"
	title - on - ellipsis = "{{dir_inode.name}}"
	ng - click = "inode_click(dir_inode)"
	nb - right - click = "inode_rclick(dir_inode, $event)"
	ng - dblclick = "inode_dclick(dir_inode)"
	nb - drag = "dir_inode"
	nb - drop = "dir_inode" > < div style = "display: inline-block; width: {{20*(dir_inode.level-1)}}px" > < /div>
			<span class="d-cell"
				ng-click="inode_dclick(dir_inode)">
				<i class="icon-refresh icon-large icon-fixed-width
						ng-class: dir_inode.icon_class||'d-icon'"
					ng-show="!!dir_inode.dir_state.refreshing"></i > < span class = "icon-stack"
	style = "font-size: 11px"
	ng - show = "!dir_inode.dir_state.refreshing
						&& !dir_inode.dir_state.expanded" > < i class = "icon-folder-close icon-stack-base icon-fixed-width
						ng-class: dir_inode.icon_class||'d-icon'" > < /i>
					<i class="icon-plus icon-light icon-fixed-width"
						style="font-size: 8px"></i > < /span>
				<i class="icon-folder-open icon-large icon-fixed-width
						ng-class: dir_inode.icon_class||'d-icon'"
					ng-show="!dir_inode.dir_state.refreshing
						&& dir_inode.dir_state.expanded"></i > < /span>
			<span class="d-cell ng-class: dir_inode.caption_class">
				{{dir_inode.name}}
			</span > < /div>
		<div ng-include="'tree_item_template.html'"
			nb-effect-toggle="dir_inode.dir_state.expanded && dir_inode.dir_state.populated"
		 	nb-effect-options="{effect:'blind', duration:150}">
		</div > < /div>
	</script>



	<!-- LIST TEMPLATE -->

	<script type="text/ng-template" id="list_view_template.html">
	< div class = "t-table" >

	< div class = "t-icon-column" > < /div>
		<div class="t-name-column"></div > < div class = "t-size-column" > < /div>
		<div class="t-shared-column"></div > < div class = "t-ctime-column" > < /div>

		<div class="t-row d-row d-head btn-info fnt fntmd fntwht">
			<div class="t-cell"></div > < div class = "t-cell" > < a style = "color: white"
	ng - click = "toggle_sort_by_name()"
	href = "#" >
		Name < i ng - class = "get_sort_by_name_class()" > < /i>
				</a > < /div>
			<div class="t-cell">
				<a style="color: white" ng-click="toggle_sort_by_size()" href="#">
					Size
					<i ng-class="get_sort_by_size_class()"></i > < /a>
			</div > < div class = "t-cell text-center" > < a style = "color: white"
	ng - click = "toggle_sort_by_shared()"
	href = "#" > < span ng - show = "dir_selection.inode.swm" > Shared By < /span>
					<span ng-hide="dir_selection.inode.swm">Sharing</span > < i ng - class = "get_sort_by_shared_class()" > < /i>
				</a > < /div>
			<div class="t-cell text-center">
				<a style="color: white" ng-click="toggle_sort_by_ctime()" href="#">
					<span ng-show="dir_selection.inode.swm">On</span > < span ng - hide = "dir_selection.inode.swm" > Created < /span>
					<i ng-class="get_sort_by_ctime_class()"></i > < /a>
			</div > < /div>

		<div ng-repeat="inode in dir_selection.inode.dir_state.sons_list | filter:{name: filter_file_name}"
			class="t-row-group a-row nbdrag fntthin ng-class: inode.inode_active;"
			ng-click="inode_click(inode)"
			ng-dblclick="inode_dclick(inode)"
			nb-right-click="inode_rclick(inode, $event)"
			nb-drop="{true:inode}[inode.isdir]"
			nb-drag="inode">
			<div class="t-row d-row">
				<div class="t-cell text-center">
					<i ng-show="inode.isdir" class="icon-folder-close icon-large d-icon"></i > < i ng - hide = "inode.isdir"
	class = "icon-file icon-large d-icon"
	style = "color: grey" > < /i>
				</div > < div class = "t-cell" > {
		{
			inode.name
		}
	} < /div>
				<div class="t-cell">
					<span ng-show="inode.uploading" title="Incomplete upload - Click to resume"
						ng-click="inode_upload(inode)">
						<i class="icon-cloud-upload icon-fixed-width"></i > < /span>
					<span ng-hide="inode.isdir">
						{{human_size(inode.size)}}
					</span > < /div>
				<div class="t-cell text-center">
					<span ng-show="inode.owner">
						{{inode.owner.name}}</span > < i ng - show = "!!inode.num_refs"
	class = "icon-share icon-large d-icon"
	title = "Shared with {{inode.num_refs}} friends"
	ng - click = "click_share(inode)" > < /i>
					<img ng-show="!!inode.owner"
						class="pull-right"
						ng-src="{{get_pic_url(inode.owner)}}" 
						style="width: 30px; height: 30px;"></img > < /div>
				<div class="t-cell  text-center">
					<span ng-show="inode.ctime">
						{{inode.ctime_display}}
					</span > < /div>
			</div >
	<!-- div class="t-row"
	ng - show = "inode.inode_active"
	style = "height: 100px" > < div class = "t-cell text-center" > < /div>
				<div class="t-cell">TODO: More details...</div > < div class = "t-cell" > < /div>
				<div class="t-cell"></div > < /div -->
		</div >

	< /div>
	</script>


	<div>
		<?# def.include( 'common_scripts.html') ?>
	</div>

	<script src="/vendor/bootstrap-tour/js/bootstrap-tour.js" type="text/javascript"></script>
	<script src="/vendor/bootstrap-growl/jquery.bootstrap-growl.min.js" type="text/javascript"></script>
	<script src="/vendor/masonry.pkgd.min.js" type="text/javascript"></script>

	<!-- <script src="/public/js/guide_ctrl.js" type="text/javascript"></script> -->
	<script src="/public/js/nb_user.js" type="text/javascript"></script>
	<script src="/public/js/nb_planet.js" type="text/javascript"></script>
	<script src="/public/js/nb_inode.js" type="text/javascript"></script>
	<script src="/public/js/nb_upload.js" type="text/javascript"></script>
	<script src="/public/js/nb_home.js" type="text/javascript"></script>

	<!-- // <script src="/vendor/async/lib/async.js" type="text/javascript"></script> -->
	<!-- <script src="/public/js/planet/planet_fs.js" type="text/javascript"></script> -->
	<!-- // <script src="/public/js/planet/planet_ctrl.js" type="text/javascript"></script> -->
	<!-- <iframe id="auth_frame" hidden Xnwdisable Xnwfaketop></iframe> -->
	<!-- <div ng-controller="PlanetCtrl"></div> -->

</body>

</html>
