<!DOCTYPE html>
<html ng-app="noobaa_app" xmlns:fb="http://ogp.me/ns/fb#" lang="en">

<head>
	{{# def.include('common_head.html') }}

	<style>
		body {
			background: url('/public/images/canstockphoto7274277.jpg')
				repeat-y fixed 0 0;
			background-attachment: scroll;
			background-size: cover;
		}
	</style>

	<link href="/vendor/blueimp-file-upload/css/jquery.fileupload-ui.css" type="text/css" rel="stylesheet"/>
	<script src="/vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.js" type="text/javascript"></script>
	<script src="/vendor/blueimp-file-upload/js/jquery.iframe-transport.js" type="text/javascript"></script>
	<script src="/vendor/blueimp-file-upload/js/jquery.fileupload.js" type="text/javascript"></script>
	
	<script type="text/javascript">
		var planet_api = '{{! it.planet_api}}';
	</script>
	
	<script src="/public/js/mydata_ctrl.js" type="text/javascript"></script>
</head>

<body>

	{{# def.facebook_init_body }}

	{{# def.include('common_menubar.html') }}

	<div id="nb_content" valign="top">



<!-- ======== CONTENT ======== -->



<div ng-controller="MyDataCtrl">


<!-- TOOLBAR -->


	<div ng-controller="InodesMenuCtrl">

		{{#''/* commented out
		<div class="row-fluid">
			<div class="span8">
				<form class="form-search">
					<input type="text" class="span10"></input>
					<button type="submit" class="btn btn-warning">
						<i class="icon-search"></i>
					</button>
				</form>
			</div>
			<div class="pull-right">
				<div class="btn-group dropdown">
					<a class="btn dropdown-toggle" 
						data-toggle="dropdown" href="#">
						<span class="icon-cog"></span>
						<!-- <span class="icon-wrench"></span> -->
					</a>
					<ul class="dropdown-menu pull-right">
						<li>
							<a ng-click="layout.show_tree=!layout.show_tree">
								Show/Hide Tree
								<b ng-show="layout.show_tree" class="icon-ok pull-right"></b>
							</a>
						</li>
						<li>
							<a ng-click="layout.show_path=!layout.show_path">
								Show/Hide Path
								<b ng-show="layout.show_path" class="icon-ok pull-right"></b>
							</a>
						</li>
					</ul>
				</div>
				<div class="btn-group dropdown">
					<a class="btn dropdown-toggle 
							ng-class: {true:'btn-danger'}[alerts.num_unread > 0]"
						data-toggle="dropdown" href="#">
						Alerts
						<span class="icon-bell"></span>
					</a>
					<div class="dropdown-menu pull-right">
						<table class="table"
							style="width: 700px;
								word-wrap: break-all;
								white-space: normal;">
							<tr ng-repeat="alert in alerts.alerts" 
								ng-class="{true:'error', false:''}[alert.unread]"
								ng-click="alerts.mark_read(alert)">
								<td><b>[[[alert.time.toLocaleString()]]]</b></td>
								<td>[[[alert.text]]]</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		*/}}

		<div class="row-fluid"
			style="margin-bottom: 30px; margin-top: 0px;">
			<div class="btn-group">
				<button class="btn"
					data-target="#upload_modal" 
					data-toggle="modal"
					title="Upload" data-placement="bottom" rel="tooltip"
					ng-disabled="!dir_selection.inode">
					<i class="icon-upload"></i>
				</button>
				<button class="btn"
					ng-click="click_open()"
					title="Open" data-placement="bottom" rel="tooltip"
					ng-disabled="!inode_selection.inode">
					<i class="icon-download-alt"></i>
				</button>
				<button class="btn"  
					data-target="#share_modal" 
					data-toggle="modal"
					title="Share" data-placement="bottom" rel="tooltip"
					ng-disabled="!inode_selection.inode">
					<i class="icon-share-alt"></i>
				</button>
				<button class="btn"
					ng-click="click_refresh()"
					title="Refresh" data-placement="bottom" rel="tooltip"
					ng-disabled="!dir_selection.inode">
					<i class="icon-refresh"></i>
				</button>
			</div>
			<div class="dropdown btn-group" align="left">
				<button class="btn dropdown-toggle" 
					id="more_actions_label" role="button" data-toggle="dropdown" data-target="#"
					ng-disabled="!inode_selection.inode">
					More
					<i class="caret"></i>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="more_actions_label">
					<li>
 						<a data-target="#new_folder_modal"
							data-toggle="modal">
							<i class="icon-folder-open"></i>
							New Folder
						</a>
					</li>
					<li>
						<a data-target="#copy_modal" 
							data-toggle="modal">
							<i class="icon-plus"></i>
							Copy To
						</a>
					</li>
					<li>
						<a data-target="#move_modal" 
							data-toggle="modal">
							<i class="icon-random"></i>
							Move To
						</a>
					</li>
					<li>
						<a data-target="#rename_modal" 
							data-toggle="modal">
							<i class="icon-pencil"></i>
							Rename
						</a>
					</li>
					<li class="divider"></li>
					<li>
						<a ng-click="click_delete()">
							<i class="icon-trash"></i>
							Delete
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>


<!-- CONTEXT MENU -->

	<div ng-controller="InodesMenuCtrl"
		id="context_menu" 
		class="dropdown">
		<a id="context_menu_toggle" class="dropdown-toggle" href="#" hidden="true"></a>
		<ul class="dropdown-menu" 
			role="menu" 
			aria-labelledby="dLabel">
			<li>
				<a ng-click="click_open()">
					<i class="icon-download-alt"></i>
					Open
				</a>
			</li>
			<li>
				<a data-target="#share_modal" 
					data-toggle="modal">
					<i class="icon-share-alt"></i>
					Share
				</a>
			</li>
			<li>
				<a ng-click="click_refresh()">
					<i class="icon-refresh"></i>
					Refresh
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a data-target="#new_folder_modal" 
					data-toggle="modal">
					<i class="icon-folder-open"></i>
					New folder
				</a>
			</li>
			<li>
				<a data-target="#copy_modal" 
					data-toggle="modal">
					<i class="icon-plus"></i>
					Copy To
				</a>
			</li>
			<li>
				<a data-target="#move_modal" 
					data-toggle="modal">
					<i class="icon-random"></i>
					Move To
				</a>
			</li>
			<li>
				<a data-target="#rename_modal" 
					data-toggle="modal">
					<i class="icon-pencil"></i>
					Rename
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a ng-click="click_delete()">
					<i class="icon-trash"></i>
					Delete
				</a>
			</li>
		</ul>
	</div>


<!-- VIEWS -->

	<div class="row-fluid notextselect"
		style="min-height: 300px; margin-bottom: 20px;">
		<div ng-controller="InodesTreeCtrl"
			ng-include="'tree_view_template.html'"
			ng-show="layout.show_tree"
			ng-class="layout.tree_class()"
			ng-style="layout.tree_style()">
		</div>
		<div ng-class="layout.list_class()"
			ng-style="layout.list_style()">
			<div ng-controller="InodesBreadcrumbCtrl" 
				ng-include="'path_view_template.html'"
				ng-show="layout.show_path"
				class="roundbord"
				style="font-size: 11px;
					background-color: #e2e2e2;
					padding: 0;
					margin: 0 0 8px 0;">
			</div>
			<div ng-controller="InodesListCtrl"
				ng-include="'list_view_template.html'">
			</div>
		</div>
	</div>



<!-- UPLOAD MODAL -->

	<div ng-controller="UploadCtrl"
		id="upload_modal"
		class="modal hide fade "
		tabindex="-1" 
		role="dialog" 
		aria-labelledby="upload_modal_label" 
		aria-hidden="true"
		style="background-color: #f2f2f2">
		<div class="modal-header">
			<a type="button" class="close" data-dismiss="modal">×</a>
			<h3 id="upload_modal_label">Uploads</h3>
		</div>
		<div class="modal-body">
			<div class="roundbord">
				<table id="upload_table" 
					class="table table-striped ng-cloak"
					style="margin: 0">
					<thead>
						<tr>
							<th>Name</th>
							<th>Folder</th>
							<th>Size</th>
							<th>Status</th>
							<th>Progress</th>
						</tr>
					</thead>
					<tr ng-repeat="(idx,upload) in uploads" ng-class="upload.row_class">
						<td>
							[[[upload.file.relativePath + upload.file.name]]]
						</td>
						<td>
							[[[upload.dir_inode.name]]]
						</td>
						<td>
							[[[human_size(upload.file.size)]]]
						</td>
						<td>
							[[[upload.status]]]
						</td>
						<td width="100px">
							<div ng-class="upload.progress_class"
								style="margin: 0; position: relative">
								<div class="bar"
									style="position: absolute;
										top: 0;
										left: 0;
										z-index: 1;
										width: [[[upload.progress]]]%;">
								</div>
								<div class="fntsans fntblk"
									style="position: absolute;
										top: 0;
										left: 40%;
										z-index: 2;
										color: black;">
									[[[upload.progress]]]%
								</div>
							</div>
						</td>
						<td>
							<button class="btn btn-mini" ng-click="dismiss_upload(upload)">x</button>
						</td>
					</tr>
				</table>
			</div>
			<div ng-show="!curr_dir_refresh_failed"
				class="row-fluid notextselect roundbord bglight">
				<div ng-controller="InodesBreadcrumbCtrl" 
					ng-include="'path_view_template.html'"
					class="roundbord"
					style="font-size: 11px;
						background-color: #e2e2e2;
						padding: 0;
						margin: 0 0 8px 0;">
				</div>
				<div ng-controller="InodesDeviceListCtrl"
					ng-include="'list_view_template.html'"
					style="height: 250px; overflow: auto;">
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button ng-show="!curr_dir_refresh_failed"
				class="btn btn-primary"	
				data-dismiss="modal" 
				ng-click="submit()">
				Upload
			</button>
			<!-- The fileinput-button span is used to style the file input field as button -->
			<span ng-show="curr_dir_refresh_failed"
				class="btn btn-primary fileinput-button">
				Choose Files
				<input id="file_upload_input"
					type="file"
					name="file"
					multiple="multiple"></input>
			</span>
			<span ng-show="curr_dir_refresh_failed"
				class="btn btn-primary fileinput-button">
				Choose Folder
				<input id="dir_upload_input" 
					type="file"
					name="file"
					multiple="multiple"
					webkitdirectory=""
					mozdirectory=""
					directory="">
				</input>
			</span>
			<button class="btn" data-dismiss="modal">Close</button>
		</div>
	</div>


<!-- NEW FOLDER MODAL -->

	<div ng-controller="NewFolderModalCtrl"
		id="new_folder_modal"
		class="modal hide fade" 
		tabindex="-1" 
		role="dialog" 
		aria-labelledby="new_folder_modal_label" 
		aria-hidden="true"
		style="background-color: #f2f2f2">
		<div class="modal-header">
			<a type="button" class="close" data-dismiss="modal">×</a>
			<h3 id="new_folder_modal_label">New Folder</h3>
		</div>
		<div class="modal-body">
			<p>Create folder in <span class="label">[[[dir_selection.inode.name]]]</span> :</p>
			<input ng-model="new_name" id="new_folder_input" class="input" type="text" style="width: 95%;"></input>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal">Close</button>
			<button class="btn btn-primary"	data-dismiss="modal" 
				ng-click="submit()">Create</button>
		</div>
	</div>


<!-- RENAME MODAL -->

	<div ng-controller="RenameModalCtrl"
		id="rename_modal" 
		class="modal hide fade" 
		tabindex="-1" 
		role="dialog" 
		aria-labelledby="rename_modal_label" 
		aria-hidden="true"
		style="background-color: #f2f2f2">
		<div class="modal-header">
			<a type="button" class="close" data-dismiss="modal">×</a>
			<h3 id="rename_modal_label">Rename...</h3>
		</div>
		<div class="modal-body">
			<p>New name for <span class="label">[[[inode_selection.inode.name]]]</span> :</p>
			<input ng-model="new_name" id="rename_input" class="input" type="text" style="width: 95%;"></input>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal">Close</button>
			<button class="btn btn-primary" data-dismiss="modal" 
				ng-click="submit()">Rename</button>
		</div>
	</div>


<!-- SHARE MODAL -->

	<div ng-controller="ShareModalCtrl"
		id="share_modal" 
		class="modal hide fade" 
		tabindex="-1" 
		role="dialog" 
		aria-labelledby="share_modal_label" 
		aria-hidden="true"
		style="background-color: #f2f2f2">
		<div class="modal-header">
			<a type="button" class="close" data-dismiss="modal">×</a>
			<h3 id="share_modal_label">Share...</h3>
		</div>
		<div class="modal-body">
			<div ng-show="!share_list.length">
				<p>No friends availalbe for sharing.</p>
				<p>Currenlty sharing is only availalbe for NooBaa users who are your Facebook friends.</p>
				<p>Invite your Facebook friends to NooBaa today.</p>
			</div>
			<div ng-show="share_list.length">
				<p>Share <span class="label">[[[share_inode.name]]]</span> with friends:</p>
<!-- 				<ul class="unstyled">
					<li ng-repeat="friend in share_list">
						<input type="checkbox" class="checkbox" ng-model="friend.shared"></input>
						[[[friend.name]]]
						<img ng-src="https://graph.facebook.com/[[[friend.fb_id]]]/picture"></img>
					</li>
				</ul> -->
				<table>
					<tr ng-repeat="friend in share_list">
					<td><img ng-src="https://graph.facebook.com/[[[friend.fb_id]]]/picture"></img></td>
					<td><input type="checkbox" class="checkbox" ng-model="friend.shared"></input></td>
					<td>[[[friend.name]]]</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal">Close</button>
			<button class="btn btn-primary"	data-dismiss="modal" 
				ng-click="submit()">Save</button>
		</div>
	</div>

</div>


<!-- TREE TEMPLATE -->

<!-- recursive html template to be loaded and compiled by angular per item -->
<script type="text/ng-template" id="tree_item_template.html">
	<li ng-repeat="(__id,dir_inode) in dir_inode.dir_state.subdirs" 
		class="draggable ui-widget-content ng-class: dir_inode.dir_active;"
		style="padding: 0px;">
		<a style="cursor: pointer;" class="span12"
			ng-click="inode_click(dir_inode)"
			nb-right-click="inode_rclick(dir_inode, $event)"
			ng-dblclick="inode_dclick(dir_inode)"
			nb-drop="inode_drop(dir_inode, $drag, $event)">
			<span style="margin-left: [[[15*dir_inode.level - 30]]]px;"
				class="fntsans fntblk">
				<span ng-click="inode_dclick(dir_inode)"
		 			style="vertical-align: middle;" 
					ng-switch on="!!dir_inode.dir_state.refreshing">
					<span ng-switch-when="false">
						<span ng-switch on="dir_inode.dir_state.expanded">
							<i ng-switch-when="false" class="icon-circle-arrow-right"></i>
							<i ng-switch-when="true" class="icon-circle-arrow-down"></i>
						</span>
					</span>
					<i ng-switch-when="true" class="icon-refresh"></i>
				</span>
				<span nb-drag="drag_item(dir_inode, $event, is_start)">
					[[[dir_inode.name]]]
				</span>
			</span>
		</a>
		<ul ng-include="'tree_item_template.html'"
			class="nav nav-list" 
			style="padding: 0px;"
			nb-effect-toggle="dir_inode.dir_state.expanded && dir_inode.dir_state.populated"
		 	nb-effect-options="{effect:'fade', duration:10}">
		</ul>
	</li>
</script>

<script type="text/ng-template" id="tree_view_template.html">
	<div nb-right-click="inode_rclick(dir_inode, $event)">
		<ul ng-include="'tree_item_template.html'"
			class="nav nav-list" 
			style="padding: 0px;">
		</ul>
	</div>
</script>


<!-- PATH TEMPLATE -->

<script type="text/ng-template" id="path_view_template.html">
	<ul class="inline" style="margin: 4px">
		<li ng-repeat="inode in dir_selection.inode.get_path()"
			ng-class="inode.dir_active">
			<span ng-show="inode.dir_active">
				<b>[[[inode.name || "@"]]]</b>
			</span>
			<a ng-hide="inode.dir_active" ng-click="inode_click(inode)" href="#">
				<b>[[[inode.name || "@"]]]</b>
			</a>
			<span ng-hide="inode.dir_active" class="divider">/</span>
		</li>
	</ul>
</script>


<!-- LIST TEMPLATE -->

<script type="text/ng-template" id="list_view_template.html">
	<div nb-right-click="inode_rclick(dir_selection.inode, $event)"
		nb-drop="inode_drop(dir_selection.inode, $drag, $event)">
		<ul class="nav nav-list" style="padding: 0px;" ng-cloak>
			<li ng-repeat="(__id,dir_inode) in dir_selection.inode.dir_state.subdirs"
				class="draggable ui-widget-content ng-class: dir_inode.inode_active;">
				<a class="span12"
					style="cursor: pointer; text-align: left; padding: 0px;"
					ng-click="inode_click(dir_inode)"
					ng-dblclick="inode_dclick(dir_inode)"
					nb-right-click="inode_rclick(dir_inode, $event)"
					nb-drop="inode_drop(dir_inode, $drag, $event)">
					<span class="span12 fntsans fntblk">
						<i style="vertical-align: middle;" class="icon-folder-open"></i>
						<span nb-drag="inode_drag(dir_inode, $event, is_start)">
							[[[dir_inode.name]]]
						</span>
					</span>
				</a>
			</li>
			<li ng-repeat="(__id,file_inode) in dir_selection.inode.dir_state.subfiles"
				class="draggable ui-widget-content ng-class: file_inode.inode_active;">
				<a class="span12"
					style="cursor: pointer; text-align: left; padding: 0px;"
					ng-click="inode_click(file_inode)"
					ng-dblclick="inode_dclick(file_inode)"
					nb-right-click="inode_rclick(file_inode, $event)"
					nb-drop="inode_drop(file_inode, $drag, $event)">
					<span class="span10 fntsans fntblk">
						<i class="icon-file" style="vertical-align: middle;" ></i>
						<span nb-drag="inode_drag(file_inode, $event, is_start)">
							[[[file_inode.name]]]
							<img ng-if="file_inode.shared_fb_id" ng-src="https://graph.facebook.com/[[[file_inode.shared_fb_id]]]/picture">
							[[[file_inode.shared_name]]]
							
						</span>
					</span>
					<span class="span2 fntsans fntblk" 
						style="text-align: right;">
						[[[human_size(file_inode.size)]]]
					</span>
					<div ng-show="file_inode.uploading"
						class="span11"
						role="progressbar" 
						aria-valuemin="0" 
						aria-valuemax="100">
						<div class="progress progress-success"
							style="margin: 0; position: relative">
							<div class="bar"
								style="position: absolute;
									top: 0;
									left: 0;
									z-index: 1;
									width: [[[file_inode.progress]]]%;">
							</div>
							<div class="fntsans fntblk"
								style="position: absolute;
									top: 0;
									left: 40%;
									z-index: 2;
									color: black;">
								uploading... [[[file_inode.progress]]] %
							</div>
						</div>
					</div>
				</a>
			</li>
		</ul>
	</div>
</script>


<!-- ======== CONTENT END ======== -->



	</div>
</body>
</html>