<!DOCTYPE html>
<html ng-app="noobaa_app" xmlns:fb="http://ogp.me/ns/fb#" lang="en">
<head>
	<?# def.include('common_head.html') ?>
	<style>
		body {
			background-image: url('/public/images/bg_skate.jpg');
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
		}

		.toolbtn {
			width: 80px !important;
			margin-right: 5px;
			border: solid 1px rgba(0,0,0,0.4);
		}

		.a-row {
			cursor: pointer;
		}
		.a-row.active {
			font-weight: bold;
		}
		.a-row.active:not(.drop_hover_class) {
			background-color: rgba(20,0,20,0.2) !important;
		}
		.a-row:hover:not(.active):not(.drop_hover_class) {
			background-color: rgba(0,0,0,0.1);
		}
		.drop_hover_class {
			background-color: rgba(255,255,0,0.4) !important;
		}

		.d-head {
		}
		.d-icon {
			color: rgba(58,100,133,0.9);
		}
		.d-root-icon {
			color: rgba(58,100,133,0.9);
			/*text-shadow: -2px -2px 5px rgba(120,200,53,1);*/
		}
		.d-root-caption {
			font-weight: bold;
		}
		.d-row {
			height: 40px;
			line-height: 30px;
		}
		.d-cell {
			padding: 3px;
			vertical-align: middle;
		}

		.t-icon-column {
			display: table-column;
			width: 30px;
		}
		.t-name-column {
			display: table-column;
			width: 50%;
		}
		.t-size-column {
			display: table-column;
			width: 25%;
		}
		.t-user-column {
			display: table-column;
			width: 25%;
		}
	</style>
</head>

<body ng-cloak>

	<?# def.facebook_init_body ?>

	<?# def.include('common_menubar.html') ?>

	<div class="nb_page_pad nb_nav_top_pad">
	<!-- ======== CONTENT ======== -->


	<div ng-controller="MyDataCtrl">
	<!-- ======== MyDataCtrl ======== -->


<!-- TOOLBAR -->


	<div ng-controller="InodesMenuCtrl" class="row">

		<div class="col-md-offset-3 col-md-9" style="margin-bottom: 30px;">
			<button id="upload_button" class="btn btn-success toolbtn"
				ng-click="click_upload()"
				title="Upload"
				ng-disabled="!dir_selection.inode">
				<i class="icon-cloud-upload icon-large"></i>
			</button>
			<button class="btn btn-default toolbtn"
				ng-click="click_open()"
				title="Open"
				ng-disabled="!inode_selection.inode">
				<i class="icon-play icon-large"></i>
			</button>
			<button class="btn btn-default toolbtn"
				ng-click="click_share()"
				title="Share"
				ng-disabled="!inode_selection.inode">
				<i class="icon-share icon-large"></i>
			</button>
			<button class="btn btn-default toolbtn"
				ng-click="click_refresh()"
				title="Refresh"
				ng-disabled="!dir_selection.inode">
				<i class="icon-refresh icon-large"></i>
			</button>
			<div class="dropdown btn-group" align="left">
				<button class="dropdown-toggle btn btn-default toolbtn" 
					id="more_actions_label"
					role="button" data-toggle="dropdown" data-target="#"
					ng-disabled="!inode_selection.inode">
					More
					<i class="caret"></i>
				</button>
				<ul class="dropdown-menu" role="menu"
					aria-labelledby="more_actions_label">
					<li>
 						<a ng-click="click_mkdir()">
							<i class="icon-plus icon-large icon-fixed-width"></i>
							New Folder
						</a>
					</li>
					<li>
						<a ng-click="click_rename()">
							<i class="icon-edit icon-large icon-fixed-width"></i>
							Rename
						</a>
					</li>
					<li class="disabled">
						<a>
							<i class="icon-copy icon-large icon-fixed-width"></i>
							Copy To
						</a>
					</li>
					<li class="disabled">
						<a>
							<i class="icon-move icon-large icon-fixed-width"></i>
							Move To
						</a>
					</li>
					<li class="divider"></li>
					<li>
						<a ng-click="click_delete()">
							<i class="icon-trash icon-large icon-fixed-width"></i>
							Delete
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>


<!-- CONTEXT MENU -->

	<div ng-controller="InodesMenuCtrl"
		id="context_menu" 
		class="dropdown" style="z-index: 100;">
		<a id="context_menu_toggle" 
			class="dropdown-toggle"
			data-toggle="dropdown"
			href="#"
			hidden="true">
		</a>
		<ul class="dropdown-menu" 
			role="menu" 
			aria-labelledby="dLabel">
			<li>
				<a ng-click="click_open()">
					<i class="icon-play icon-fixed-width"></i>
					Open
				</a>
			</li>
			<li>
				<a ng-click="click_share()">
					<i class="icon-share icon-fixed-width"></i>
					Share
				</a>
			</li>
			<li>
				<a ng-click="click_refresh()">
					<i class="icon-refresh icon-fixed-width"></i>
					Refresh
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a ng-click="click_mkdir()">
					<i class="icon-plus icon-fixed-width"></i>
					New folder
				</a>
			</li>
			<li>
				<a ng-click="click_rename()">
					<i class="icon-edit icon-fixed-width"></i>
					Rename
				</a>
			</li>
			<li class="disabled">
				<a>
					<i class="icon-copy icon-fixed-width"></i>
					Copy To
				</a>
			</li>
			<li class="disabled">
				<a>
					<i class="icon-move icon-fixed-width"></i>
					Move To
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a ng-click="click_delete()">
					<i class="icon-trash icon-fixed-width"></i>
					Delete
				</a>
			</li>
		</ul>
	</div>


<!-- VIEWS -->

	<div class="notextselect row"
		style="min-height: 400px">
		<div class="col-md-3" style="margin-bottom: 20px">
			<div ng-controller="InodesTreeCtrl"
				ng-include="'tree_view_template.html'"
				class="roundbord bglight"
				style="min-height: 200px"
				id="inodes_tree">
			</div>
		</div>
		<div class="col-md-9" style="margin-bottom: 20px">
			<div ng-controller="InodesListCtrl"
				ng-include="'list_view_template.html'"
				class="roundbord bglight"
				style="min-height: 400px"
				id="inodes_list">
			</div>
		</div>
	</div>



<!-- UPLOAD MODAL -->

	<div ng-cloak ng-controller="UploadCtrl"
		id="upload_modal"
		class="nbdialog fntmd"
		aria-hidden="true">
		<div class="nbdialog_header nbdialog_drag">
			Uploads
			<a class="pull-right nbdialog_close btn btn-default btn-xs"
				title="Hide">
				<span class="close">x</span>
			</a>
		</div>
		<div class="nbdialog_content">
			<div ng-hide="has_uploads()" class="text-center fnt" style="padding: 20px">
				<div style="font-size: 80px"><i class="icon-cloud-upload"></i></div>
				<h2>Drag &amp; Drop to start uploading!</h2>
			</div>
			<div ng-show="has_uploads()" class="table-responsive">
			<table id="upload_table" 
				class="table ng-cloak"
				style="margin: 0">
				<thead>
					<tr>
						<th>Name</th>
						<th>Folder</th>
						<th>Size</th>
						<th>Status</th>
						<th>Progress</th>
					</tr>
				</thead>
				<tr ng-repeat="(idx,upload) in uploads" ng-class="upload.row_class">
					<td>
						{{upload.file.webkitRelativePath || upload.file.name}}
					</td>
					<td>
						{{upload.dir_inode.name}}
					</td>
					<td>
						{{human_size(upload.file.size)}}
					</td>
					<td>
						{{upload.status}}
					</td>
					<td width="100px">
						<div class="progress" style="position: relative">
							<div ng-class="upload.progress_class"
								role="progressbar"
								aria-valuemin="0" aria-valuemax="100"
								style="position: absolute; top:0; left:0;
									width: {{upload.progress}}%;">
							</div>
							<div style="position: absolute; top:0; left:0;
									width:100%; text-align:center; color:black">
								{{upload.progress}}%
							</div>
						</div>
					</td>
					<td>
						<button class="btn btn-default btn-xs" 
							ng-click="dismiss_upload(upload)">x</button>
					</td>
				</tr>
			</table>
			</div>
		</div>
		<div class="nbdialog_footer">
			<button class="nbdialog_close btn btn-default">Hide</button>
			<div class="pull-right">
				<!-- fileinput-button span is used 
					to style the file input field as button -->
				<span id="choose_folder_button"
					class="btn btn-primary fileinput-button">
					Choose Folder
					<input id="dir_upload_input" 
						type="file"
						name="file"
						webkitdirectory=""
						mozdirectory=""
						directory="">
					</input>
				</span>
				<span id="choose_file_button"
					class="btn btn-primary fileinput-button">
					Choose Files
					<input id="file_upload_input"
						type="file"
						name="file"
						multiple="multiple"></input>
				</span>
			</div>
		</div>
	</div>



<!-- SHARE MODAL -->

	<div ng-controller="ShareModalCtrl"
		id="share_modal" 
		class="nbdialog fntmd"
		tabindex="-1" 
		role="dialog" 
		aria-labelledby="share_modal_label" 
		aria-hidden="true">
		<div class="nbdialog_header nbdialog_drag">
			Share
			<a class="pull-right nbdialog_close btn btn-default btn-xs"
				title="Cancel">
				<span class="close">x</span>
			</a>
		</div>
		<div class="nbdialog_content">
			<div ng-show="loading_share_list"
				class="text-center"
				style="padding: 30px">
				<i class="icon-spinner icon-spin icon-2x"></i>
			</div>
			<div ng-show="!loading_share_list && !share_list.length">
				<p>No friends availalbe for sharing.</p>
				<p>Currenlty sharing is only availalbe for NooBaa users who are your Facebook friends.</p>
				<p>Invite your Facebook friends to NooBaa today.</p>
			</div>
			<div ng-show="!loading_share_list && share_list.length">
				<p>
					Share this item with friends:
					<div class="inode_label"></div>
				</p>
				<table class="table">
					<tr ng-repeat="friend in share_list">
					<td><img ng-src="https://graph.facebook.com/{{friend.fb_id}}/picture"></img></td>
					<td><input type="checkbox" class="checkbox" ng-model="friend.shared"></input></td>
					<td>{{friend.name}}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="nbdialog_footer">
			<button class="nbdialog_close btn btn-default">Cancel</button>
			<div class="pull-right">
				<button class="btn btn-primary"
					ng-click="mklink()">Create Link</button>
				<button class="btn btn-primary"
					ng-click="submit()">Save</button>
			</div>
		</div>
	</div>


<!-- FILE/DIR WITH ICON -->

	<div id="inode_with_icon">
		<i id="inode_with_icon_dir" class="icon-folder-close icon-large d-icon" 
			style="display: none"></i>
		<i id="inode_with_icon_file" class="icon-file icon-large d-icon" 
			style="display: none; color: grey"></i>
		<span id="inode_with_icon_name" class="fntmd fntthin"></span>
	</div>

<!-- MOVE DIALOG -->

	<div id="move_dialog" class="nbdialog fntmd">
		<div class="nbdialog_header nbdialog_drag">
			Confirm Move
			<a class="pull-right nbdialog_close btn btn-default btn-xs"
				title="Cancel">
				<span class="close">x</span>
			</a>
		</div>
		<div class="nbdialog_content">
			<p>Are you sure you want to move?</p>
			<div class="inode_label"></div>
			<p>into this folder:</p>
			<div class="inode_label"></div>
		</div>
		<div class="nbdialog_footer">
			<button class="nbdialog_close btn btn-default">Cancel</button>
			<button id="dialog_ok" class="btn btn-primary pull-right">Move</button>
		</div>
	</div>

<!-- DELETE DIALOG -->

	<div id="delete_dialog" class="nbdialog fntmd">
		<div class="nbdialog_header nbdialog_drag">
			Confirm Delete
			<a class="pull-right nbdialog_close btn btn-default btn-xs"
				title="Cancel">
				<span class="close">x</span>
			</a>
		</div>
		<div class="nbdialog_content">
			<p>Are you sure you want to delete this item?</p>
			<div class="inode_label"></div>
		</div>
		<div class="nbdialog_footer">
			<button class="nbdialog_close btn btn-default">Cancel</button>
			<button id="dialog_ok" class="btn btn-danger pull-right">Delete</button>
		</div>
	</div>

<!-- MKDIR DIALOG -->

	<div id="mkdir_dialog" class="nbdialog fntmd">
		<div class="nbdialog_header nbdialog_drag">
			New Folder...
			<a class="pull-right nbdialog_close btn btn-default btn-xs"
				title="Cancel">
				<span class="close">x</span>
			</a>
		</div>
		<div class="nbdialog_content">
			<p>
				Create new folder under:
				<div class="inode_label"></div>
			</p>
			<input id="dialog_input" class="form-control" type="text"/>
		</div>
		<div class="nbdialog_footer">
			<button class="nbdialog_close btn btn-default">Cancel</button>
			<button id="dialog_ok" class="btn btn-primary pull-right">Create</button>
		</div>
	</div>

<!-- RENAME DIALOG -->

	<div id="rename_dialog" class="nbdialog fntmd">
		<div class="nbdialog_header nbdialog_drag">
			Rename...
			<a class="pull-right nbdialog_close btn btn-default btn-xs"
				title="Cancel">
				<span class="close">x</span>
			</a>
		</div>
		<div class="nbdialog_content">
			<p>
				New name for:
				<div class="inode_label"></div>
			</p>
			<input id="dialog_input" class="form-control" type="text"/>
		</div>
		<div class="nbdialog_footer">
			<button class="nbdialog_close btn btn-default">Cancel</button>
			<button id="dialog_ok" class="btn btn-primary pull-right">Rename</button>
		</div>
	</div>



	<!-- ======== END MyDataCtrl ======== -->
	</div>




<!-- TREE TEMPLATE -->

<script type="text/ng-template" id="tree_view_template.html">
	<div>
		<div class="d-row d-head btn-info fnt fntmd fntwht">
			<div class="d-cell" style="margin-left: 35px">Folders Tree</div>
		</div>
		<div class="fntthin fntmd"
			nb-right-click="inode_rclick(dir_inode, $event)"
			ng-include="'tree_item_template.html'">
		</div>
	</div>
</script>

<!-- recursive html template to be loaded and compiled by angular per item -->
<script type="text/ng-template" id="tree_item_template.html">
	<div ng-repeat="dir_inode in dir_inode.dir_state.subdirs_list">
		<div class="d-row a-row text-ellipses nbdrag ng-class: dir_inode.dir_active;"
			title-on-ellipsis="{{dir_inode.name}}"
			ng-click="inode_click(dir_inode)"
			nb-right-click="inode_rclick(dir_inode, $event)"
			ng-dblclick="inode_dclick(dir_inode)"
			nb-drag="dir_inode"
			nb-drop="dir_inode">
			<div style="display: inline-block; width: {{20*(dir_inode.level-1)}}px"></div>
			<span class="d-cell"
				ng-click="inode_dclick(dir_inode)">
				<i class="icon-refresh icon-large icon-fixed-width
						ng-class: dir_inode.icon_class||'d-icon'"
					ng-show="!!dir_inode.dir_state.refreshing"></i>
				<span class="icon-stack" style="font-size: 11px"
					ng-show="!dir_inode.dir_state.refreshing
						&& !dir_inode.dir_state.expanded">
					<i class="icon-folder-close icon-stack-base icon-fixed-width
						ng-class: dir_inode.icon_class||'d-icon'"></i>
					<i class="icon-plus icon-light icon-fixed-width"
						style="font-size: 8px"></i>
				</span>
				<i class="icon-folder-open icon-large icon-fixed-width
						ng-class: dir_inode.icon_class||'d-icon'"
					ng-show="!dir_inode.dir_state.refreshing
						&& dir_inode.dir_state.expanded"></i>
			</span>
			<span class="d-cell ng-class: dir_inode.caption_class">
				{{dir_inode.name}}
			</span>
		</div>
		<div ng-include="'tree_item_template.html'"
			nb-effect-toggle="dir_inode.dir_state.expanded && dir_inode.dir_state.populated"
		 	nb-effect-options="{effect:'fade', duration:250}">
		</div>
	</div>
</script>



<!-- LIST TEMPLATE -->

<script type="text/ng-template" id="list_view_template.html">
	<div class="t-table"
		 nb-right-click="inode_rclick(dir_selection.inode, $event)">

		<div class="t-icon-column"></div>
		<div class="t-name-column"></div>
		<div class="t-size-column"></div>
		<div class="t-user-column"></div>

		<div class="t-row d-row d-head btn-info fnt fntmd fntwht">
			<div class="t-cell"></div>
			<div class="t-cell">
				<a style="color: white" ng-click="toggle_sort_by_name()" href="#">
					Name
					<i ng-class="get_sort_by_name_class()"></i>
				</a>
			</div>
			<div class="t-cell">
				<a style="color: white" ng-click="toggle_sort_by_size()" href="#">
					Size
					<i ng-class="get_sort_by_size_class()"></i>
				</a>
			</div>
			<div class="t-cell text-center">
				<a style="color: white" ng-click="toggle_sort_by_user()" href="#">
					Shared by
					<i ng-class="get_sort_by_user_class()"></i>
				</a>
			</div>
		</div>

		<div ng-repeat="inode in dir_selection.inode.dir_state.sons_list"
			class="t-row-group a-row nbdrag fntthin fntmd ng-class: inode.inode_active;"
			ng-click="inode_click(inode)"
			ng-dblclick="inode_dclick(inode)"
			nb-right-click="inode_rclick(inode, $event)"
			nb-drop="{true:inode}[inode.isdir]"
			nb-drag="inode">
			<div class="t-row d-row">
				<div class="t-cell text-center">
					<i ng-show="inode.isdir" class="icon-folder-close icon-large d-icon"></i>
					<i ng-hide="inode.isdir" class="icon-file icon-large d-icon" 
						style="color: grey"></i>
				</div>
				<div class="t-cell">
					{{inode.name}}
				</div>
				<div class="t-cell">
					<div ng-show="inode.size && !inode.uploading">
						{{human_size(inode.size)}}
					</div>
					<div ng-show="inode.uploading"
						class="progress"
						style="position: relative">
						<div class="progress-bar progress-bar-success"
							role="progressbar" aria-valuemin="0" aria-valuemax="100"
							style="position: absolute; top:0; left:0;
								width: {{inode.progress}}%;">
						</div>
						<div style="position: absolute; top: 0; left: 0;
								width: 100%; text-align: center; color: black
								font-size: 12px; line-height: 12px">
							during upload... {{inode.progress}}%
						</div>
					</div>
				</div>
				<div class="t-cell">
					<img ng-show="inode.owner_fbid"
						ng-src="{{fb_pic_url(inode.owner_fbid)}}"
						style="width: 30px; height: 30px;">
					{{inode.owner_name}}
				</div>
			</div>
			<!-- div class="t-row"
				ng-show="inode.inode_active"
				style="height: 100px">
				<div class="t-cell text-center"></div>
				<div class="t-cell">TODO: More details...</div>
				<div class="t-cell"></div>
				<div class="t-cell"></div>
			</div -->
		</div>

	</div>
</script>



<!-- PATH TEMPLATE -->

<script type="text/ng-template" id="path_view_template.html">
	<ul class="inline" style="margin: 4px">
		<li ng-repeat="inode in dir_selection.inode.get_path()"
			ng-class="inode.dir_active">
			<span ng-show="inode.dir_active">
				<b>{{inode.name || "@"}}</b>
			</span>
			<a ng-hide="inode.dir_active" ng-click="inode_click(inode)" href="#">
				<b>{{inode.name || "@"}}</b>
			</a>
			<span ng-hide="inode.dir_active" class="divider">/</span>
		</li>
	</ul>
</script>



	<!-- ======== CONTENT END ======== -->
	</div>


	<?# def.include('common_scripts.html') ?>

	<script src="/vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.js" type="text/javascript"></script>
	<script src="/vendor/blueimp-file-upload/js/jquery.iframe-transport.js" type="text/javascript"></script>
	<script src="/vendor/blueimp-file-upload/js/jquery.fileupload.js" type="text/javascript"></script>

	<script src="/public/js/mydata_ctrl.js" type="text/javascript"></script>
	
	<script src="/vendor/bootstrap-tour/js/bootstrap-tour.js" type="text/javascript"></script>
	<script src="/public/js/menu_ctrl.js" type="text/javascript"></script>

</body>
</html>