<!DOCTYPE html>
<html ng-app="noobaa_app" xmlns:fb="http://ogp.me/ns/fb#" lang="en">

<head>
	<?# def.include('common_head.html') ?>
</head>

<body class="bglight">
	<?# def.facebook_init_body ?>

	<!-- server data is safely embedded in a JSON type script -->
	<script id="user_data" type="application/json">
		<?= JSON.stringify(it.user) ?>
	</script>

	<script type="text/javascript">
		<?? it.user ?>
		var noobaa_user = JSON.parse(document.getElementById('user_data').innerHTML);
		<????>
		var noobaa_user = null;
		<???>
	</script>

</body>

</html>