<html>
<body>
<script type="text/javascript">
'use strict';
// this is the planet boot sequence that runs on node-webkit.
// it is loaded from the star, but doesn't have any of the planet logic
// besides the lifecycle of the application:
// 1. the tray icon and action menu
// 2. checking for updates
// 3. reloading the planet window to handle issues (also to update).

// TODO: best deploy this code offline to allow starting the app even when not online.
// this will be more gracefull than simply getting stuck as it does today.
// better wait till its logic is stable enough.

// on load/reload of the boot window, create a boot scope (not angular, just a scope)
// in case of reload we do cleanup here and *not* before trying to reload
// so that if the star is not responding and the window can't reload, 
// we still have the entire boot scope intact and working, specifically for the tray.
// once reloaded, we get here with the fresh code, and just make sure to cleanup 
// the previous scope since the global remains between window reloads.
if (global.planet_boot_scope && typeof global.planet_boot_scope.stop === 'function') {
	global.planet_boot_scope.stop();
}

// create and initialize the boot scope.
// will replace the previous object and therefore free its memory (gc).
global.planet_boot_scope = {};
PlanetBoot(global.planet_boot_scope);


function PlanetBoot($scope) {
	'use strict';

	var gui = window.require("nw.gui");

	$scope.win = null;
	$scope.tray = null;

	// when the boot window reloads, it will call stop() to cleanup
	// the previous boot scope.
	$scope.stop = function() {
		$scope.is_stopping = true;
		if ($scope.win) {
			$scope.win.close(true);
		}
		if ($scope.tray) {
			$scope.tray.remove();
			$scope.tray = null;
		}
	}

	function reload() {
		gui.Window.get().reload();
	}

	function is_win_loaded() {
		return $scope.win && $scope.win.$scope;
	}

	function do_quit_app() {
		// prefer to use the planet window dialog
		if ($scope.win && $scope.win.$scope && $scope.win.$scope.quit_app) {
			$scope.win.$scope.quit_app();
			return;
		}
		// if window is not capable of showing the nice quit dialog,
		// show the simple native window dialog.
		var q = 'Closing the application will stop co-sharing, ' +
			'which will affect your account quota and performance. ' +
			'Click "No" to keep co-sharing:';
		if (window.confirm(q)) {
			gui.App.quit();				
		}
	}

	function show_win() {
		// load window if not loaded.
		if (!is_win_loaded()) {
			load_win();
			return;
		}
		// show window in case was hidden.
		$scope.win.show();
		$scope.win.restore();
		$scope.win.focus();
	}

	function load_win() {
		// dont reload planet window if this boot scope is stopping.
		// see $scope.stop().
		if ($scope.is_stopping) {
			return;
		}
		// we keep a single planet window, so closing the existing window.
		// we return after closing because we have a 'closed' event handler on the win
		// that will call load_win() again once closed.
		if ($scope.win) {
			var w = $scope.win;
			$scope.win = null;
			w.close(true);
			return;
		}
		// create and open the planet window
		$scope.win = gui.Window.open("planet/window", {
			icon: "noobaa_icon.ico",
			title: "NooBaa",
			toolbar: false,
			frame: false,
			resizable: false,
			show: false,
			position: "center",
			width: 550,
			height: 300
		});
		// when the window closed due to some issue, open a new one.
		$scope.win.on('closed', load_win);
		// check if the window was not loaded properly.
		// this might occur if the connection to the star is offline,
		// or someother issue. for now we just give alert.
		$scope.win.on('loaded', function() {
			if (!is_win_loaded()) {
				window.alert('There seems to be problem to connect to NooBaa. '+
					'Please try again later using the NooBaa icon in your tray menu.');
			}
		});
	}

	// open os default browser with our url.
	// using the same host and protocol as the local window
	// to support also testing env.
	// keep this base url on window load so that even if we reload and fail it will work.
	var BASE_URL = window.location.protocol + '//' + window.location.host;
	function open_noobaa(path) {
		gui.Shell.openExternal(BASE_URL + (path || '/'));
	}

	// create the tray icon and menu
	var tray = $scope.tray = new gui.Tray({
		title: 'NooBaa',
		tooltip: 'Click to Go to NooBaa...',
		icon: 'noobaa_icon16.ico',
		menu: new gui.Menu()
	});
	tray.on('click', show_win);
	tray.menu.append(new gui.MenuItem({
		label: 'Go to NooBaa',
		click: open_noobaa
	}));
	tray.menu.append(new gui.MenuItem({
		type: 'separator'
	}));
	tray.menu.append(new gui.MenuItem({
		label: 'Manage this Device',
		click: show_win
	}));
	tray.menu.append(new gui.MenuItem({
		label: 'Check for updates',
		click: reload
	}));
	tray.menu.append(new gui.MenuItem({
		type: 'separator'
	}));
	tray.menu.append(new gui.MenuItem({
		label: 'Quit NooBaa',
		click: do_quit_app
	}));

	// last boot stage - load the window
	load_win();

}
</script>
</body>
</html>