<!DOCTYPE html>
<html ng-app="noobaa_app" xmlns:fb="http://ogp.me/ns/fb#" lang="en">
<head>
	<?# def.include('common_head.html') ?>
	<style>
		body {
			background-image: url('/public/images/bg_rock.jpg');
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
		}
	</style>
</head>

<body ng-cloak ng-controller="ThankYouCtrl">
	
	<nav class="navbar navbar-inverse navbar-static-top"
		role="navigation">
		<div class="nb_page_pad">
			<div class="navbar-header">
				<a class="navbar-brand" href="/welcome">
					<img src="/public/images/noobaa_logo.png"></img>
				</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="/auth/facebook/login/"
						class="navbar-link">
						<img src="/public/images/facebook_login_button.png"></img>
					</a>
				</li>
			</ul>	
		</div>
	</nav>

	<div class="nb_page_pad fntblk">
		<div class="col-md-8">
			<br/>
			<p class="H2 fntpaint">
				<?! it.user.first_name ?>,
			</p>
			<br/>
			<p class="H2 fntpaint">
				thank you for joining!
			</p>
			<br/>
			<p class="lead">
				NooBaa is still in <b>Alpha</b>.
			</p>
			<p class="lead">
				As soon as we can accomodate more users, we will contact you via:
			</p>
			<div class="text-center" >
				<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-success"
							type="button"
							ng-disabled="submitting || submitted"
							ng-click="submit()">
							<i style="display: none"
								class="icon-spinner icon-spin
								icon-large "></i>
							<b>Change</b>
						</button>
					</span>
					<input ng-model="new_email"
						id="email_input"
						class="form-control"
						type="email"
						ng-disabled="submitting || submitted"
						placeholder="<?! it.user.email ?>">
					</input>
				</div>
				<div class="alert alert-error" hidden="hidden"></div>
				<div class="alert alert-success" hidden="hidden"></div>
			</div>
			<br/>
			<p class="lead">
				Feel free to drop us a note:
				<a href="mailto:info@noobaa.com" style="color:black">info@noobaa.com</a>
			</p>
			<p class="lead">Thank you.</p>
			<p class="lead">The NooBaa Team.</p>
		</div>
	</div>


	<?# def.include('common_scripts.html') ?>

	<!-- server data is safely embedded in a JSON type script -->
	<script id="user_data" type="application/json">
		<?= JSON.stringify(it.user) ?>
	</script>

	<script type="text/javascript">
		<?? it.user ?>
		var noobaa_user = JSON.parse($('#user_data').html());
		<????>
		var noobaa_user = null;
		<???>
	</script>

	<script src="/public/js/thank_you.js" type="text/javascript"></script>

</body>

</html>
