<!DOCTYPE html>
<html ng-app="noobaa_app" xmlns:fb="http://ogp.me/ns/fb#" lang="en">
<head>
	<?# def.include('common_head.html') ?>
	<style>
		/*
		.carousel-control.left {
			right: 20px;
			left: auto;
			top: 70px;
		}
		.carousel-control.right {
			right: 20px;
			top: 140px;
		}
		.carousel-indicators {
			right: 20px;
		}*/
		#nb_nav_marker {
			position: absolute;
			bottom: 0;
		}
		#nb_nav {
			position: absolute;
			bottom: 0;
		}
		#nb_nav.affix {
			position: fixed;
			bottom: auto;
			top: 0px;
			width: 100%;
		}
		.nb_nav_link {
			padding-top: 50px;
		}

		.bg_item1 {
			background-image: url('/public/images/canstockphoto7274277.jpg');
		}
		.bg_item2 {
			background-image: url('/public/images/canstockphoto0958150.jpg');
		}
		.bg_item3 {
			background-image: url('/public/images/canstockphoto8442431.jpg');
		}
		.bg_item1, .bg_item2, .bg_item3 {
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
		}
		@media all and (max-width: 600px) {
			.bg_item1, .bg_item2, .bg_item3 {
				background-position: 60% 0;
			}
		}

		.bg_whatis {
			background-image: url('/public/images/bg4.jpg');
			/*background-position: 0 -200px;*/
			background-size: cover;
		}
		.bg_vision {
			background-image: url('/public/images/yoda.png');
			background-position: center 300px;
			background-size: auto 400px;
		}
		.bg_join {
			/*background-image: url('/public/images/bg1.jpg');*/
			/*background-size: cover;*/
			background-color: #222222;
			border-top-style: groove;
		}
		.bg_whatis, .bg_vision, .bg_join {
			background-repeat: no-repeat;
			background-attachment: fixed;
		}
		.bg_whatis, .bg_whatis .bgpattern {
			height: 400px;
		}
		.bg_vision, .bg_vision .bgpattern {
			height: 400px;
		}
		.bg_join, .bg_join .bgpattern {
			height: 200px;			
		}
	</style>
</head>

<body ng-controller="WelcomeCtrl">

	<?# def.facebook_init_body ?>

	<a id="_"></a>

	<div id="nb_carousel" class="carousel slide filling">
		<div class="carousel-inner filling">
			
			<div class="active item filling bg_item1">
				<div class="nb_page_pad text-left">
					<br/><br/><br/><br/>
					<div class="H2 fntpaint fntblk" >Cloud storage made</div>
					<div class="H1 fntpaint fntblk" >SIMPLE</div>
					<h3 class="fntread fntblk">
						All your Data.<br/>
						One location.<br/>
						No complex plans.<br/>
						No complex decisions.<br/>
						No additional hardware.<br/>
					</h3>
				</div>
			</div>

			<div class="item filling bg_item2">
				<div class="nb_page_pad text-left">
					<br/><br/><br/><br/>
					<div class="H2 fntpaint fntwht">Cloud storage made</div>
					<div class="H1 fntpaint fntwht">FAST</div>
					<br/><br/><br/>
					<h3 class="fntread fntwht">
						Join the power of the crowd.<br/>
						Together we are more powerful<br/>
						than any single corporate.<br/>
					</h3>
				</div>
			</div>

			<div class="item filling bg_item3">
				<div class="nb_page_pad text-left">
					<br/><br/><br/><br/>
					<div class="H2 fntpaint fntwht">Cloud storage made</div>
					<div class="H1 fntpaint fntwht">FREE</div>
					<br/><br/><br/>
					<h3 class="fntread fntwht">
						Unlimited capacity.<br/>
						Absolutely free.<br/>
					</h3>
				</div>
			</div>

		</div>
		<ol class="carousel-indicators">
			<li data-target="#nb_carousel" data-slide-to="0" class="active"></li>
			<li data-target="#nb_carousel" data-slide-to="1"></li>
			<li data-target="#nb_carousel" data-slide-to="2"></li>
		</ol>
		<a class="carousel-control left" 
			href="#nb_carousel" 
			data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right"
			href="#nb_carousel"
			data-slide="next">&rsaquo;</a>
	</div>

	<div id="nb_nav_marker"></div>

	<div id="nb_nav" class="nb_navbar navbar navbar-inverse"
		onresize="nb_nav_affix = undefined;">
		<div class="nb_page_pad navbar-inner fntread fntwht">
			<a class="brandy pull-left scroller" href="#_">
				<img src="/public/images/noobaa_logo.png"></img>
			</a>
			<ul class="nav">
				<li>
					<a class="scroller" href="#whatis">
						ABOUT
					</a>
				</li>
				<li>
					<a class="scroller" href="#vision">
						THE VISION
					</a>
				</li>
			</ul>
			<ul class="nav pull-right" style="margin-left: 20px">
				<li>
					<a href="/auth/facebook/login/" style="cursor: pointer">
						<img src="/public/images/facebook_login_button.png"></img>
					</a>
				</li>
			</ul>
			<button class="pull-right btn btn-success scroller" href="#join">
				<b>JOIN!</b>
			</button>
		</div>
	</div>

	<div id="whatis" class="nb_nav_link nb_page_pad fntread fntblk">
		<div class="H2">WHAT IS NOOBAA?</div>
		<br/><br/>
		<h2>NooBaa is a Crowd-Cloud!</h2>
		<h5 class="lead">
			<br/>
			NooBaa enables you to join to a network of people like you and me, and get access to the absolute best computer resource in the world in a simple way.
			<br/><br/>
			With NooBaa you Co-Share your existing local storage and enjoy the best possible cloud service.
			<br/><br/>
		</h5>
	</div>

	<div class="wfill bg_whatis"></div>

	<div id="vision" class="nb_nav_link nb_page_pad fntread fntblk">
		<div class="H2">NOOBAA'S VISION</div>
		<br/><br/>
		<h2>In a world of connected devices, the crowd is the strongest force!</h2>
		<h5 class="lead">
			<br/>
			Joining our devices together will create an entity that can make an impact on every aspect of our life - health, science, engineering, etc.
			We believe that such a world should be controlled by the people.
			<br/><br/>
			Noobaa aims to democratize the cloud. <br/>
			What might seem improbale, will soon become inevitable.
			<br/><br/>
		</h5>
	</div>

	<!-- <div class="wfill bg_vision"></div> -->
	<hr/>

	<div id="join" class="nb_nav_link nb_page_pad fntread fntblk "
		style="margin-bottom: 40px">
		<table style="width:100%">
			<tr>
				<td align="right">
					<div class="H2">JOIN US: </div>
				</td>
				<td align="center">
					<a href="/auth/facebook/login/" style="cursor: pointer">
					<img src="/public/images/facebook_login_button_big.png" style="max-width:300px"></img>
					</a>
				</td>
			</tr>
		</table>
		<br/>

		<div ng-repeat="(subject, questions) in faq" class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle collapsed" data-toggle="collapse" 
					data-parent="#accordion" href="#{{subject.split(' ').join('')}}">
							     <h5><i class="icon-plus"></i>{{subject}}</h5>
				</a>
			</div>
			 <div id="{{subject.split(' ').join('')}}" class="accordion-body collapse" style="height: 0px;">
				   <div class="accordion-inner">
				      <!-- Para -->
				     <p>
							<div ng-repeat="(idx, question) in questions" class="accordion-group">
							 <div class="accordion-heading">
							   <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#{{subject.split(' ').join('')}}{{idx}}">
							      <!-- Title. Don't forget the <i> tag. -->
							     <h5><i class="icon-plus"></i>{{question.q}}</h5>
							   </a>
							 </div>
							 <div id="{{subject.split(' ').join('')}}{{idx}}" class="accordion-body collapse" style="height: 0px;">
							   <div class="accordion-inner">
							      <!-- Para -->
							     <p>{{question.a}}</p>
							   </div>
							 </div>
							</div>		     	

				     </p>
				   </div>
			 </div>

		</div>

	</div>

	<div class="wfill bg_join text-center">
		<img src="/public/images/noobaa_logo.png"
			style="height: 80px; position: relative; top: 60px;"></img>
	</div>


	<?# def.include('common_scripts.html') ?>

	<script type="text/javascript">

		var has_running_requests = false;
		var nb_nav_affix = undefined;

		$(function() {

			window.onbeforeunload = function () {
				if (has_running_requests) {
					return "Leaving this page will interrupt your running requests !!!";
				}
			};

			var nb_carousel = $('#nb_carousel');
			var nb_nav = $('#nb_nav');
			var nb_nav_marker = $('#nb_nav_marker');
			var nb_nav_links = $('.nb_nav_link');

			var refresh_nav = function() {
				// invalidate the cached value of the nav affix
				nb_nav_affix = undefined;
				// when the nav resizes we need to make room for it
				// at the top of each nav link.
				// so set the top padding according to the nav size.
				nb_nav_links.css({
					"padding-top": (nb_nav.height() + 30) + 'px'
				});
			};

			// returns the affix top of the nav which indicates 
			// at which scroll point to fixate the nav to the top.
			// we cache the value because during scrolling it will ask many times.
			var get_nav_affix = function() {
				if (nb_nav_affix === undefined) {
					nb_nav_affix = nb_nav_marker.offset().top - nb_nav.height();
				}
				return nb_nav_affix;
			};

			// refresh now - onload
			refresh_nav();
			// refresh on window resize
			$(window).resize(refresh_nav);
			// refresh every second
			setInterval(refresh_nav, 1000);
			// setup the bootstrap affix plugin on the nav
			nb_nav.affix({offset: {top: get_nav_affix} });
			
			// start spinning the carousel
			nb_carousel.carousel({
				interval: 10000,
				pause: false
			});

			// do smooth scrolling to anchors with href
			var $root = $('html, body');
			$('.scroller').click(function() {
				var href = $.attr(this, 'href');
				$root.animate({
					scrollTop: $(href).offset().top
				}, 400, function() {
					window.location.hash = href;
				});
				return false;
			});
		});

		function WelcomeCtrl($scope, $http) {
			$scope.submitting = false;
			$scope.submitted = false; 
			$('.alert').html('').hide();
	

			$scope.faq = {
				'Facebook Login': [{
					q: 'Why do you require a Facebook login?',
					a: 'We can never remember our last user and password. We also know that using the same one is bad. And Wrong. Why would we force another nuisance on you?! In addition it is more secured as Facebook already handles we delegate all the pains on securing your password to Facebook. Let them handle it.'
				}, {
					q: 'I don\'t have a Facebook user and would like to use Noobaa’s login.',
					a: 'We currently only support Facebook login. We plan to never have a NooBaa login (unless many of you indicate it is an absolute must) though in the future we plan to allow a variety of logins accounts such as Google, Twitter etc.'
				}, {
					q: 'Why only Facebook or why Facebook first?',
					a: 'Simply because their big and because we actually love Facebook. In general we are a loving company.'
				}, {
					q: 'Do you have access to my Facebook password or data?',
					a: 'No. You authenticate against Facebook. This is actually as secured as it gets. Technical background can be found at: http://en.wikipedia.org/wiki/OAuth'
				}, {
					q: 'Must I Like your page on Facebook?',
					a: 'Absolutely not. You don’t need to like our page though it would be beneficial to everybody as we\'re building a community. Not a passive service so we would like to hear you.'
				}, {
					q: 'Why do you require access to my email?',
					a: 'Because we would like to send you information on your account changes, account state etc. We won’t add you to any newsletter without opting in first.'
				}],
			};

			$scope.do_facebook_login = function() {
				FB.login(function(res) {
					if(res.authResponse) {
						window.location = '/auth/facebook/login/';
					}
				});
			};

			$scope.submit = function () {
				has_running_requests = true;
				$scope.submitting = true;
				$('.alert').html('').hide();

				if (!$scope.invite_email) {
					$scope.finished_with_error(
						"We need your valid email to request an invite");
					return;
				}

				var ajax = $http.post('/email/request_invite/', {
					email: $scope.invite_email
				});
				ajax.error(function(data, status, headers, config) {
					$scope.finished_with_error(
						"We are sorry but your request could not be sent right now, please try again later");
				});
				ajax.success(function(data, status, headers, config) {
					$scope.finished_with_success(
						"Your request was sent. Thanks!");
				});
			}

			$scope.finished_with_error = function (text) {
				has_running_requests = false;
				$scope.submitting = false;
				$('.alert-success').html('').hide();
				$('.alert-error').html(text).show().effect('bounce', 'slow');
			}

			$scope.finished_with_success = function (text) {
				has_running_requests = false;
				$scope.submitting = false;
				$scope.submitted = true;
				$('.alert-error').html('').hide();
				$('.alert-success').html(text).show('fade', 'slow');
			}
		}
		WelcomeCtrl.$inject = ['$scope', '$http'];
	</script>

</body>

</html>
