<!DOCTYPE html>
<html ng-app="noobaa_app" xmlns:fb="http://ogp.me/ns/fb#" lang="en">

<head>
	{{# def.include('common_head.html') }}
	<style>
		#whatis_content {
			background-color: #f2f2f2;
			margin: 30px;
			padding: 30px;
		}
		#invite_modal {
			background-color: #f2f2f2;
		}
		#whatis_carousel {
			/*min-height: 300px;*/
			background-color: #d2d2d2;
		}
		.carousel-inner > .item {
			margin-top: 30px;
		}
		.carousel-control {
			top: 70px;
		}
	</style>
</head>

<body ng-controller="WhatIsNooBaaCtrl">

	{{# def.facebook_init_body }}

	<div id="nb_menu" valign="top" align="left" width="1px">
		<div id="nb_logo" class="brand">
			<img src="/public/noobaa/images/noobaa_logo.png"></img>
		</div>
		<div valign="middle" align="center" style="margin-top: 30px">
			<button class="btn btn-warning" ng-click="toggle_whatis()">
				<b>What is NooBaa &raquo;</b>
			</button>
		</div>
	</div>
	<div id="nb_righty" height="70px" width="100px" valign="top" align="center">
		<div style="margin: 20px;">
			<fb:login-button
				scope="email"
				registration-url="/auth/facebook/login/"
				show-faces="false">
			</fb:login-button>
		</div>
	</div>
	<div id="nb_content" valign="top">
		<div id="whatis_content"
			hidden="hidden"
			class="container-fluid roundbord">
			<div class="row-fluid">
				<h1>NooBaa is a Crowd-Cloud 
					<a class="pull-right btn btn-warning btn-large" 
						ng-click="show_invite_modal()">
						Join us!
					</a>
				</h1>
				<h5 class="lead">
					<br/>
					NooBaa enables you to join the crowd cloud.
					<br/>
					Co-Share your existing local storage 
					and enjoy the best possible cloud service.
				</h5>
			</div>

			<div id="whatis_carousel" class="carousel slide roundbord">
				<ol class="carousel-indicators">
					<li data-target="#whatis_carousel" data-slide-to="0" class="active"></li>
					<li data-target="#whatis_carousel" data-slide-to="1"></li>
					<li data-target="#whatis_carousel" data-slide-to="2"></li>
				</ol>
				<!-- Carousel items -->
				<div class="carousel-inner">
					<div class="active item row-fluid" align="center">
						<div class="offset1 span10">
							<div class="badge badge-info" align="center">
								<h1>Simple</h1>
							</div>
						</div>
						<div class="offset1 span10">
							<h5 class="lead">
								No additional hardware.
								No complex plans.
								No complex decisions.
								<br/>
								All your Data.
								One location.
							</h5>
						</div>
					</div>
					<div class="item row-fluid" align="center">
						<div class="offset1 span10">
							<div class="badge badge-info" align="center">
								<h1>Fast</h1>
							</div>
						</div>
						<div class="offset1 span10">
							<h5 class="lead">
								Together we are more powerful than any single corporate.
								<br/>
								Join us and enjoy the power of the crowd.
							</h5>
						</div>
					</div>
					<div class="item row-fluid" align="center">
						<div class="offset1 span10">
							<div class="badge badge-info" align="center">
								<h1>Free</h1>
							</div>
						</div>
						<div class="offset1 span10">
							<h5 class="lead">
								Unlimited capacity.
								<br/>
								NooBaa is absolutely free.
							</h5>
						</div>
					</div>
				</div>
				<!-- Carousel nav -->
				<a class="carousel-control left" href="#whatis_carousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#whatis_carousel" data-slide="next">&rsaquo;</a>
			</div>

		</div>
	</div>


<!-- INVITE MODAL -->

	<div id="invite_modal"
		class="modal hide fade" 
		tabindex="-1" 
		role="dialog" 
		aria-labelledby="invite_modal_label" 
		aria-hidden="true">
		<div class="modal-header">
			<a type="button" class="close" data-dismiss="modal">×</a>
			<div ng-show="nonlisteduser" align="center">
				<h4>NooBaa currently requries invitation</h4>
			</div>
			<h3 id="invite_modal_label" align="center">Please request an invitation</h3>
		</div>
		<div align="center" class="modal-body" style="margin-bottom: 0px">
			<p>Enter your email address:</p>
			<div class="row-fluid" style="margin-bottom: 10px">
				<input ng-model="invite_email"
					id="email_input"
					class="input span12"
					type="email"
					ng-disabled="submitting || submitted">
				</input>
			</div>
			<div class="alert alert-error" hidden></div>
			<div class="alert alert-success" hidden></div>
			<div>
				<button class="btn btn-warning" ng-show="!submitted" ng-disabled="submitting" ng-click="submit()">
					<img ng-show="submitting" src="/public/noobaa/images/ajax-loader.gif"></img>
					Request
				</button>
				<button class="btn btn-success" ng-show="submitted" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
		<!-- <div class="modal-footer" style="text-align: center"> </div> -->
	</div>



<!--=================================-->

	<script type="text/javascript">
		var has_running_requests = false;
		$(function() {
			window.onbeforeunload = function () {
				if (has_running_requests) {
					return "Leaving this page will interrupt your running requests !!!";
				}
			};
		});

		function WhatIsNooBaaCtrl($scope, $http, $location) {
			$scope.submitting = false;
			$scope.submitted = false; 
			$scope.location = $location;
			$scope.nonlisteduser = ($location.search()).nonlisteduser;

			$scope.toggle_whatis = function() {
				$('#whatis_content').stop().toggle({effect:'fade', duration:1600});
				$('#whatis_carousel').carousel();
			};

			$scope.show_invite_modal = function () {
				$('#invite_modal').modal('show');
			};

			if ($scope.nonlisteduser) {
			 	$scope.show_invite_modal();
			}

			$scope.submit = function () {
				has_running_requests = true;
				$scope.submitting = true;
				$('.alert').html('').hide();

				if (!$scope.invite_email) {
					$scope.finished_with_error(
						"We need your valid email to request an invite");
					return;
				}

				var ajax = $http.post('/email/request_invite/', {
					email: $scope.invite_email
				});
				ajax.error(function(data, status, headers, config) {
					$scope.finished_with_error(
						"We are sorry but your request could not be sent right now, please try again later");
				});
				ajax.success(function(data, status, headers, config) {
					$scope.finished_with_success(
						"Your request was sent. Thanks!");
				});
			}

			$scope.finished_with_error = function (text) {
				has_running_requests = false;
				$scope.submitting = false;
				$('.alert-success').html('').hide();
				$('.alert-error').html(text).show().effect('bounce', 'slow');
			}

			$scope.finished_with_success = function (text) {
				has_running_requests = false;
				$scope.submitting = false;
				$scope.submitted = true;
				$('.alert-error').html('').hide();
				$('.alert-success').html(text).show('fade', 'slow');
			}
		}
		WhatIsNooBaaCtrl.$inject = ['$scope', '$http', '$location'];
	</script>

</body>

</html>
