html, body {
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	height: 100%;
	min-height: 100%;
}

/**** CLASSES ****/

.nb_navbar {
	width: 100% !important;
	margin: 0 !important;
	opacity: 0.85;
}

.nb_navbar a.brandy {
	padding: 0;
	text-align: left;
}

.nb_navbar a.brandy img {
	text-align: left;
	height: 40px;
	margin-right: 20px;
}

.nb_page_pad {
	padding-left: 150px !important;
	padding-right: 150px !important;
}
@media all and (min-width: 480px) and (max-width: 768px) {
	.nb_page_pad {
		padding-left: 50px !important;
		padding-right: 50px !important;
	}
}
@media all and (max-width: 480px) {
	.nb_page_pad {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
}

.nb_nav_top_pad {
	padding-top: 70px;
}
@media all and (max-width: 980px) {
	/* at width 980 bootstrap changes the nav from fixed to static
		so we need to adjust the padding */
	.nb_nav_top_pad {
		padding-top: 30px;
	}
}

/*.active > a {
	background-color: #f26262 !important;
}*/

.bglight {
	background-color: #f4f4f4;
	/*background-color: white;*/
}

.bgdark {
	background-color: black;
	color: #fafafa;
}

.H1 {
	font-size: 120pt;
	line-height: 120pt;
}
.H2 {
	font-size: 50pt;
	line-height: 50pt;
}
@media all and (min-width: 480px) and (max-width: 768px) {
	.H1 {
		font-size: 60pt;
		line-height: 60pt;
	}
}
@media all and (max-width: 480px) {
	.H1 {
		font-size: 40pt;
		line-height: 40pt;
	}
	.H2 {
		font-size: 40pt;
		line-height: 40pt;
	}
}

.fntblk {
	color: black;
}
.fntwht {
	color: white;
}
.fntsans {
	font-family: sans-serif;
}
.fntread {
	font-family: 'Comfortaa', cursive;
}
.fntpaint {
	font-family: 'Finger Paint', cursive;
}

/* GOOGLE FONTS */
	/*font-family: 'Finger Paint', cursive;*/
	/*font-family: 'Special Elite', cursive;*/
	/*font-family: 'Oswald', sans-serif;*/
	/*font-family: 'Armata', sans-serif;*/

/* OTHER FONTS */
	/*font-family: "Brush Script MT", cursive;*/
	/*font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;*/
	/*font-family: Century Gothic, sans-serif;*/
	/*font-family: Georgia, "Times New Roman", Times, serif;*/
	/*font-family: Copperplate, "Copperplate Gothic Light", fantasy;*/
	/*font-stretch: condensed;*/
	/*font-weight: normal;*/
	/*font-size: 14px;*/

.text-ellipses {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.filling {
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin: 0;
}

.hfill { 
	height: 100%;
	/*min-height: 100%;*/
}

.wfill { 
	width: 100%;
	min-width: 100%;
}

.roundbord {
	border-radius: 5px/4px;
	/*border-radius: 10px/8px;*/
	border-style: solid;
	border-width: 1px;
	/*padding: 5px;*/
}

.bgpattern {
	background-image: url('/public/nblib/img/pattern.png'); 
	position: absolute;
	width: 100%;
	height: 100%;
}

.notextselect {
	/* begin disable text selection highlight */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* setting the bootstrap tooltips to be more solid and larger font */
.tooltip {
	filter: alpha(opacity=100);
	font-weight: bold;
	font-size: 10pt;
}

.selectable .ui-selecting { background: #FECA40; }
.selectable .ui-selected { background: #F39814; color: white; }
.selectable { list-style-type: none; }

/*
	Allow angular.js to be loaded in body, hiding cloaked elements until 
	templates compile.  The !important is important given that there may be 
	other selectors that are more specific or come later and might alter display.  
*/
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}
