<div class="container">

	<div ng-if="blog">
		<div class="pull-right" style="padding: 5px 15px">
			<a href="./" class="btn btn-default" title="Back to blogs list" rel="tooltip">
				<i class="fa fa-compress fa-lg fa-fw"></i>
			</a>
		</div>

		<h1 ng-bind="blog.subject" style="font-weight: bold"></h1>
		<small class="text-muted">
			Posted {{moment(blog.time).fromNow()}}
			<span ng-if="blog.author">
				by {{blog.author.name}}
				<i>{{blog.author.title}}</i>
			</span>
		</small>

		<hr />
		<div class="clearfix">
			<img ng-src="{{blog.image_url}}" class="pull-right" style="max-width: 25%; margin: 0 0 15px 30px" />
			<div ng-include="'/public/html/blogs/' + blog.headline + '.html'" class="blog-content"></div>
		</div>
		<hr />
		<div style="padding-top: 15px" class="text-center">
			<div class="fb-comments" nb-xfbml="{href: blog_location()}" data-numposts="5" data-colorscheme="light"></div>
		</div>
		<div class="text-center" style="padding-top: 10px; padding-bottom: 30px">
			<a href="./" class="btn btn-default btn-lg">Back to blogs list</a>
		</div>
	</div>

	<div ng-if="!blog">
		<div ng-if="!blog_not_found" class="text-center">
			Loading...
			<i class="fa fa-spinner fa-spin fa-2x"></i>	
		</div>
		<div ng-if="blog_not_found" class="text-center">
			<p class="lead">Oops, There is no such blog entry...</p>
			<p>Redirecting to blogs list in 3 seconds...</p>
		</div>
		<div class="text-center" style="padding: 30px">
			<a href="./" class="btn btn-default">
				Back to blogs list
			</a>
		</div>
	</div>

</div>
