<div class="browser" ng-init="search_in_folder=''">

	<div class="panel panel-default">
		<div class="panel-heading bggrey clearfix" style="padding: 0 10px 2px 10px">
			<div class="clearfix" style="padding: 7px 0">
				<div class="btn-group">
					<button class="btn btn-default Xbtn-lg" ng-click="go_up_level()" ng-disabled="!has_parent(current_inode)" title="Back to previous folder" rel="tooltip" nb-tooltip="{container: 'body'}">
						<i class="fa fa-chevron-left"></i>
					</button>
					<button class="btn btn-default Xbtn-lg dropdown-toggle" data-toggle="dropdown" ng-disabled="!has_parent(current_inode)" title="Back to folder..." rel="tooltip" nb-tooltip="{container: 'body'}">
						<i ng-show="!!current_inode.isdir" class="fa fa-folder-open fa-fw"></i>
						<i ng-show="!current_inode.isdir" class="fa fa-file-o fa-fw"></i>
					</button>
					<ul ng-if="has_parent(current_inode)" class="dropdown-menu" role="menu">
						<li ng-repeat="parent in nbInode.parents_path(current_inode)">
							<a ng-click="open_inode(parent)" style="padding-left: {{10+($index * 10)}}px">
								<i class="fa fa-folder-open-o fa-fw"></i>
								{{parent.name}}
							</a>
						</li>
					</ul>
				</div>
				<span style="display: inline; padding: 10px; font-size: 1.5em; line-height: 1.5em; vertical-align: middle">
					<span style="white-space: pre-wrap">{{current_inode.name}}</span>
				</span>
				<span ng-if="current_inode.is_loading">
					<i class="fa fa-refresh fa-spin fa-fw"></i>
				</span>
			</div>
			<div class="file_actions bg-danger">
				<a class="btn btn-link" ng-show="current_inode.isdir" ng-click="open_inode(current_inode)">
					<i class="fa fa-refresh fa-fw"></i>
					Refresh
				</a>
				<a ng-show="!current_inode.is_previewing && !current_inode.isdir" class="btn btn-link" ng-click="toggle_preview(current_inode)">
					<i class="fa fa-search-plus fa-fw"></i>
					Show Preview
				</a>
				<a ng-show="current_inode.is_previewing && !current_inode.isdir" class="btn btn-link" ng-click="toggle_preview(current_inode)">
					<i class="fa fa-search-minus fa-fw"></i>
					Hide Preview
				</a>
				<a class="btn btn-link" ng-show="nbInode.can_keep_inode(current_inode)" ng-click="copy_inode(current_inode)">
					<i class="fa fa-plus fa-fw"></i>
					Add to My Data
				</a>
				<a class="btn btn-link" ng-show="!current_inode.isdir && !current_inode.uploading && current_inode.size" ng-click="nbInode.download_inode(current_inode)" href="{{nbInode.inode_api_url(current_inode.id)}}?is_download=true" target="_blank">
					<i class="fa fa-cloud-download fa-fw"></i>
					Download
				</a>
				<a class="btn btn-link" ng-show="nbInode.can_upload_to_dir(current_inode)" ng-click="new_folder(current_inode)">
					<i class="fa fa-plus fa-fw"></i>
					New Folder
				</a>
				<a class="btn btn-link" ng-show="nbInode.can_upload_to_dir(current_inode)" ng-click="nbUploadSrv.open_file_input()">
					<i class="fa fa-cloud-upload fa-fw fa-lg"></i>
					Upload
				</a>
				<a class="btn btn-link" ng-show="nbInode.can_upload_file(current_inode)" ng-click="resume_upload(current_inode)">
					<i class="fa fa-cloud-upload fa-fw"></i>
					Resume Upload
				</a>
				<a class="btn btn-link" ng-show="nbInode.can_share_inode(current_inode)" ng-click="share_inode(current_inode)">
					<i class="fa fa-share-square-o fa-fw"></i>
					Share
				</a>
				<div ng-show="current_inode.isdir" class="input-group pull-right" style="max-width: 170px">
					<input type="text" class="form-control {{search_in_folder && 'bg-warning' || ''}}" maxlength="100" placeholder="Search in folder" ng-model="search_in_folder" />
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="search_in_folder=''" title="Clear search" rel="tooltip" nb-tooltip="{container: 'body'}">
							<i class="fa fa-times Xfa-lg"></i>
						</button>
					</span>
				</div>
			</div>
			<div ng-if="current_inode.is_previewing" style="padding: 5px 0">
				<div nb-media="current_inode" show-content="false"></div>
			</div>
		</div>

		<div class="panel-body" style="padding: 0; border-top-width: 1px; border-top-style: solid">
			<div ng-repeat="inode in current_inode.entries | filter:{name: search_in_folder}" class="file_line notextselect {{inode.is_selected && 'bggrey' || ''}}" style="border-bottom-width: 1px; border-top-width: 1px">
				<div class="clearfix" ng-click="select_inode(inode, $index, $event)">
					<span class="text-wrap">
						<i ng-show="!!inode.isdir" class="fa fa-folder-open fa-fw fa-lg text-danger"></i>
						<i ng-show="!inode.isdir" class="fa fa-file-o fa-fw fa-lg text-danger"></i>
						<a class="btn btn-link" ng-click="open_inode(inode, $index, $event)" style="padding-left: 0; display: inline">
							<span style="white-space: pre-wrap">{{inode.name}}</span>
						</a>
					</span>
					<span class="text-muted pull-right">
						<i ng-if="!current_inode.owner" ng-show="!!inode.num_refs" class="icon-share icon-large d-icon" title="Shared with {{inode.num_refs}} friends" rel="tooltip" ng-click="share_inode(inode)"></i>
						<span ng-show="!inode.isdir" style="margin-right: 20px">
							{{human_size(inode.size)}}
						</span>
						<span>
							{{inode.ctime_display}}
						</span>
					</span>
				</div>
				<div ng-if="is_selection_leader(inode)" class="file_actions bg-warning">
					<span ng-if="num_selected()>1">
						&nbsp;&nbsp;{{num_selected()}} items:
					</span>
					<span ng-if="num_selected()==1">
						<a ng-show="!inode.is_previewing && !inode.isdir" class="btn btn-link" ng-click="toggle_preview(inode)">
							<i class="fa fa-search-plus fa-fw"></i>
							Show Preview
						</a>
						<a ng-show="inode.is_previewing && !inode.isdir" class="btn btn-link" ng-click="toggle_preview(inode)">
							<i class="fa fa-search-minus fa-fw"></i>
							Hide Preview
						</a>
						<a class="btn btn-link" ng-show="nbInode.can_keep_inode(inode)" ng-click="copy_inode(inode)">
							<i class="fa fa-plus fa-fw"></i>
							Add to My Data
						</a>
						<a class="btn btn-link" ng-show="!inode.isdir && !inode.uploading && inode.size" ng-click="nbInode.download_inode(inode)" href="{{nbInode.inode_api_url(inode.id)}}?is_download=true" target="_blank">
							<i class="fa fa-cloud-download fa-fw"></i>
							Download
						</a>
						<a class="btn btn-link" ng-show="nbInode.can_share_inode(inode)" ng-click="share_inode(inode)">
							<i class="fa fa-share-square-o fa-fw"></i>
							Share
						</a>
					</span>
					<span ng-if="!current_inode.owner">
						<a class="btn btn-link" ng-show="num_selected()==1" ng-click="rename_inode(inode)">
							<i class="fa fa-pencil fa-rotate-270 fa-fw"></i>
							Rename
						</a>
						<a class="btn btn-link" ng-if="false" ng-click="move_inodes()">
							<i class="fa fa-arrows fa-fw"></i>
							Move {{num_selected()>1 && 'all' || ''}}
						</a>
						<a class="btn btn-link" ng-click="delete_inodes()">
							<i class="fa fa-trash-o fa-fw"></i>
							Delete {{num_selected()>1 && 'all' || ''}}
						</a>
					</span>
				</div>
				<div ng-if="inode.is_previewing && inode.is_selected" style="padding: 5px 0">
					<div nb-media="inode" media-events="media_events" show-content="true"></div>
				</div>
			</div>
			<div ng-if="current_inode.isdir && !current_inode.entries.length">
				<div style="padding-left: 20px; line-height: 80px; vertical-align: middle">
					No files yet ...
				</div>
			</div>
		</div>
	</div>
</div>
