<div class="browser">
	<div class="panel panel-success">
		<div class="panel-heading" Xstyle="padding: 0 10px 10px 10px">
			<a class="btn btn-success btn-sm" ng-click="go_up_level()" title="Up one folder" nb-tooltip>
				<i class="fa fa-arrow-up fa-lg"></i>
			</a>
			&nbsp;
			<div ng-repeat="parent in parents_path(dir_inode)" style="display: inline-block; margin-top: 10px">
				<i ng-if="!$first" class="fa fa-angle-double-right fa-fw"></i>
				<button ng-if="!$first" class="btn btn-default btn-sm" ng-click="open_inode(parent)">
					<div class="text-ellipses" style="max-width: 150px">
						<i ng-if="parent.is_loading" class="fa fa-refresh fa-spin fa-fw"></i>
						<i ng-if="!parent.is_loading" class="fa fa-{{$last && 'home' || 'folder'}} fa-fw"></i>
						{{parent.name}}
					</div>
				</button>
				<div ng-if="$first" class="btn-group">
					<button class="btn btn-default btn-sm active" ng-click="open_inode(parent)">
						<div class="text-ellipses" style="max-width: 150px">
							<i ng-if="parent.is_loading" class="fa fa-refresh fa-spin fa-fw"></i>
							<i ng-if="!parent.is_loading" class="fa fa-{{$last && 'home' || 'folder'}} fa-fw"></i>
							{{parent.name}}
						</div>
					</button>
					<button class="btn btn-default btn-sm active dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" ng-click="open_inode(parent)">
								<i class="fa fa-refresh fa-fw"></i>
								Refresh...
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#" ng-click="new_folder(parent)">
								<i class="fa fa-plus fa-fw"></i>
								New Folder...
							</a>
						</li>
						<li>
							<a href="#" ng-click="rename_inode(parent)">
								<i class="fa fa-pencil fa-fw"></i>
								Rename...
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="panel-body" style="padding: 0">
			<div ng-repeat="inode in dir_inode.entries" class="file_line notextselect {{inode.is_selected && 'active' || ''}}" style="border-bottom-width: 1px; border-top-width: 1px">
				<div style="margin-right: 30px; overflow: scroll" ng-click="select_inode(inode, $index, $event)">
					<i ng-show="!!inode.isdir" class="fa fa-folder fa-fw fa-lg Xtext-info"></i>
					<i ng-show="!inode.isdir" class="fa fa-file-o fa-fw fa-lg Xtext-muted"></i>
					<a class="btn btn-link btn-sm" ng-click="open_inode(inode, $index, $event)" style="padding-left: 0; display: inline">
						{{inode.name}}
					</a>
				</div>
				<div ng-if="selection[selection.length-1] === inode" style="border-top: 1px #bbb solid">
					<div class="text-right">
						<span ng-if="selection.length > 1">
							{{selection.length}} items:
						</span>
						<button ng-if="!inode.is_previewing && !inode.isdir && selection.length === 1" class="btn btn-link" ng-click="toggle_preview(inode)">
							<i class="fa fa-eye fa-fw"></i>
							Show Preview
						</button>
						<button ng-if="inode.is_previewing && !inode.isdir && selection.length === 1" class="btn btn-link" ng-click="toggle_preview(inode)">
							<i class="fa fa-eye-slash fa-fw"></i>
							Hide Preview
						</button>
						<a ng-if="!inode.isdir && !inode.uploading && inode.size && selection.length === 1" class="btn btn-link" ng-click="download_inode(inode)" href="{{inode_source_url(inode)}}?is_download=true" target="_blank">
							<i class="fa fa-cloud-download fa-fw"></i>
							Download
						</a>
						<button ng-if="selection.length === 1" class="btn btn-link" ng-click="rename_inode(inode)">
							<i class="fa fa-pencil fa-rotate-270 fa-fw"></i>
							Rename
						</button>
						<button class="btn btn-link" ng-click="move_inodes()">
							<i class="fa fa-arrows fa-fw"></i>
							Move {{selection.length>1 && 'all' || ''}}
						</button>
						<button class="btn btn-link" ng-click="delete_inodes()">
							<i class="fa fa-trash-o fa-fw"></i>
							Delete {{selection.length>1 && 'all' || ''}}
						</button>
					</div>
					<div class="row">
						<div Xclass="col-sm-6" style="padding: 15px">
							<div ng-if="inode.is_previewing && inode.content_kind" ng-switch="inode.content_kind">
								<video ng-switch-when="video" controls ng-src="{{inode_source_url(inode)}}" class="img-responsive"></video>
								<audio ng-switch-when="audio" controls ng-src="{{inode_source_url(inode)}}" class="img-responsive"></audio>
								<img ng-switch-when="image" ng-src="{{inode_source_url(inode)}}" class="img-responsive" />
								<div ng-switch-default nb-resizable>
									<object ng-attr-data="{{inode_source_url(inode)}}" ng-attr-type="{{inode.content_type}}" width="100%" height="100%"></object>
								</div>
							</div>
							<div ng-if="inode.is_previewing && !inode.content_kind" class="text-center">
								<i class="fa fa-spinner fa-spin fa-2x"></i>
							</div>
						</div>
						<div class="col-sm-6" ng-if="false && selection.length === 1" style="padding: 0 10px">
							<div>Friends who also collected this item:</div>
							<div ng-repeat="i in [1,2,3]" style="display: inline-block; padding: 0 5px 5px 0">
								<img ng-src="https://graph.facebook.com/{{user.fbid}}/picture\" style="height: 32px"></img>
							</div>
							<textarea class="form-control" rows="2" placeholder="Describe it..." style="resize: none"></textarea>
							<button class="btn btn-success">Save</button>
						</div>
					</div>
				</div>
			</div>
			<div ng-if="!dir_inode.entries.length">
				<div style="padding-left: 20px; line-height: 80px; vertical-align: middle">
					- No files yet -
				</div>
			</div>
		</div>
	</div>
</div>
