<div class="chooser">
	<div class="panel panel-default" style="margin: 0; padding: 0">
		<div class="panel-heading bggrey clearfix" style="padding: 0 10px 2px 10px">
			<div class="clearfix" style="padding: 7px 0">
				<div class="btn-group">
					<button class="btn btn-default Xbtn-lg" ng-click="go_up_level()" ng-disabled="!has_parent(current_inode)" title="Back to previous folder" rel="tooltip" nb-tooltip="{container: 'body'}">
						<i class="fa fa-chevron-left"></i>
					</button>
					<button class="btn btn-default Xbtn-lg dropdown-toggle" data-toggle="dropdown" ng-disabled="!has_parent(current_inode)" title="Back to folder..." rel="tooltip" nb-tooltip="{container: 'body'}">
						<i ng-show="!!current_inode.isdir" class="fa fa-folder-open fa-fw"></i>
						<i ng-show="!current_inode.isdir" class="fa fa-file-o fa-fw"></i>
					</button>
					<ul ng-if="has_parent(current_inode)" class="dropdown-menu" role="menu">
						<li ng-repeat="parent in nbInode.parents_path(current_inode)">
							<a ng-click="open_inode(parent)" style="padding-left: {{10+($index * 10)}}px">
								<i class="fa fa-folder-open-o fa-fw"></i>
								{{parent.name}}
							</a>
						</li>
					</ul>
				</div>
				<span style="display: inline; padding: 10px; font-size: 1.5em; line-height: 1.5em; vertical-align: middle">
					<span style="white-space: pre-wrap">{{current_inode.name}}</span>
				</span>
				<span ng-if="current_inode.is_loading">
					<i class="fa fa-refresh fa-spin fa-fw"></i>
				</span>
			</div>
		</div>

		<div class="panel-body" style="padding: 0; border-top-width: 1px; border-top-style: solid">
			<div ng-repeat="inode in filter_entries = (current_inode.entries | filter:{isdir: context.dir_only || undefined} )" class="file_line notextselect" style="border-bottom-width: 1px; border-top-width: 1px">
				<div class="clearfix" ng-click="open_inode(inode, $index, $event)" style="cursor: pointer">
					<span class="text-wrap">
						<i ng-show="!!inode.isdir" class="fa fa-folder-open fa-fw fa-lg text-danger"></i>
						<i ng-show="!inode.isdir" class="fa fa-file-o fa-fw fa-lg text-danger"></i>
						<span class="btn btn-link" style="padding-left: 0; display: inline">
							<span style="white-space: pre-wrap">{{inode.name}}</span>
						</span>
					</span>
					<span class="text-muted pull-right">
						<span ng-show="!inode.isdir" style="margin-right: 20px">
							{{human_size(inode.size)}}
						</span>
						<span>
							{{inode.ctime_display}}
						</span>
					</span>
				</div>
			</div>
			<div ng-if="!filter_entries.length" style="padding-left: 20px; line-height: 60px; vertical-align: middle">
				<span ng-if="current_inode.is_loading">
					Loading ...
				</span>
				<span ng-if="!current_inode.is_loading">
					(Empty)
				</span>
			</div>
		</div>
	</div>
</div>
