<div class="feeder">
	<div class="container">
		<div>
			<span class="text-muted">News Feed</span>
			&nbsp;
			<button class="btn btn-default btn-sm" ng-click="refresh_feeds()" title="Refresh" nb-tooltip>
				<i class="fa fa-refresh {{refreshing_feeds && 'fa-spin' || ''}} Xfa-fw fa-lg"></i>
			</button>
		</div>
		<div>
			
			<div>
				
			</div>


			<div ng-repeat="feed in feeds" class="feed_line">
				<div class="media">
					<a class="pull-left">
						<img class="media-object img-thumbnail" ng-src="{{nb.user_pic_url(feed.owner)}}" alt="...">
					</a>
					<div class="media-body">
						<h4 class="media-heading">
							<i ng-if="feed.isdir" class="fa fa-folder fa-fw"></i>
							<i ng-if="!feed.isdir" class="fa fa-file-o fa-fw"></i>
							{{feed.name}}
						</h4>
						<span class="text-muted">{{feed.ctime_display}}</span>
						<span class="text-muted">{{human_size(feed.size)}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
