<div class="feeder">
	<div class="container">

		<div class="text-center" style="margin-bottom: 15px">
			<button class="btn btn-default" ng-click="refresh_feeds()" title="Click to refresh" rel="tooltip" data-placement="bottom">
				<i class="fa fa-refresh {{refreshing_feeds && 'fa-spin' || ''}} fa-fw"></i>
			</button>
			<div style="display: inline-block; max-width: 170px; vertical-align: middle">
				<div Xclass="input-group" style="position: relative">
					<input type="text" class="normal-radius form-control {{search_in_feed && 'label-warning' || 'label-default'}}" maxlength="100" placeholder="Search in feed" ng-model="search_in_feed" />
					<i class="fa fa-times fa-fw" style="cursor: pointer; position: absolute; right: 10px; top: 11px" ng-click="search_in_feed=''"></i>
				</div>
			</div>
		</div>

		<div class="feeds_container center-block">

			<div ng-if="feeds && !feeds.length" class="text-center" style="padding: 20px">
				<iframe width="400" height="225" style="max-width: 100%" src="//www.youtube.com/embed/9KeVa3IOn78?rel=0" frameborder="0" allowfullscreen></iframe>
				<div style="padding-top: 20px">
					<a class="btn btn-link btn-lg" style="padding: 5px" href="/home/friends/">
						<i class="fa fa-users fa-lg fa-fw"></i>
						<span>Invite Your Friends</span>
					</a>
				</div>
			</div>

			<div ng-repeat="feed in feeds | filter:{name:search_in_feed} | limitTo:(feeds_limit+20) track by $index" ng-controller="FeedCtrl" class="feed_item row {{ ($index >= feeds_limit) && 'feed_hidden'}}">

				<div class="pullDown clearfix col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4" style="max-height: 250px; margin-bottom: 15px">
					<div nb-media="current_entry()" media-events="media_events" show-content="false"></div>
				</div>

				<div class="pullDown col-xs-12 col-sm-8 col-md-7 col-lg-6" style="margin-bottom: 15px">
					<div class="clearfix" style="padding-bottom: 10px; Xpadding: 10px 10px 10px 0">
						<div class="pull-right">
							<a class="btn btn-danger btn-hover-only {{done_keep() && 'text-danger'}}" ng-click="keep_feed()" ng-disabled="running_keep() || done_keep()">
								<i ng-if="done_keep()" class="fa fa-check"></i> 
								<span ng-if="running_keep()">
									<i class="fa fa-spin fa-spinner"></i>
								</span>
								keep
							</a>
							<a class="btn btn-warning btn-hover-only {{current_inode().shr=='f' && 'text-warning'}}" ng-click="keep_and_share_feed()">
								<i ng-if="current_inode().shr=='f'" class="fa fa-check"></i> share
							</a>
						</div>
						<div style="overflow: hidden">
							<div class="text-ellipses">
								<a class="btn btn-link" ng-click="open_feed_inode(current_inode())">
									<i class="fa fa-{{feed.isdir && 'folder-open' || 'file-o'}} fa-fw fa-lg"></i>
									{{feed.name}}
								</a>
							</div>
						</div>
						<div ng-show="feed.isdir" class="text-ellipses">
							<a class="btn btn-link" style="padding-top: 0" ng-disabled="current_entry_index<=0" ng-click="prev_entry()">
								<i class="fa fa-arrow-circle-o-left fa-lg"></i>
							</a>
							<span class="text-muted">{{current_entry_index+1}} / {{current_inode().entries.length}}</span>
							<a class="btn btn-link" style="padding-top: 0" ng-disabled="current_entry_index+1>=current_inode().entries.length" ng-click="next_entry()">
								<i class="fa fa-arrow-circle-o-right fa-lg"></i>
							</a>
							{{current_entry().name}}
						</div>
					</div>

					<div>
						<div ng-repeat="feed_inode in feed.inodes track by $index" style="padding: 7px; border-top: 1px solid hsl(0,0%,15%)" class="clearfix" ng-init="comment_box={inode: feed_inode}">
							<img class="img-circle pull-left" ng-src="{{nbUser.user_pic_url(feed_inode.owner || nbUser.user)}}" style="width: 30px; margin-right: 5px" />
							<div style="overflow: hidden">
								<div class="text-primary" style="overflow: hidden">
									<small>{{(feed_inode.owner || nbUser.user).name}}</small>
									<a class="btn btn-link pull-right" ng-click="comment_box.show = !comment_box.show" title="Add comment" rel="tooltip" style="padding: 5px">
										<i class="fa fa-reply-all"></i>
									</a>
									<a class="btn btn-link pull-right" ng-click="open_feed_inode(feed_inode)" title="Go to item" rel="tooltip" style="padding: 5px">
										<i class="fa fa-bars text-muted" style="opacity: 0.4"></i>
									</a>
								</div>
								<div style="overflow: hidden">
									<div ng-repeat="msg in feed_inode.messages" class="clearfix">
										<img class="img-circle pull-left" ng-src="{{nbUser.user_pic_url(msg.user)}}" style="width: 30px; margin-right: 5px" />
										<div style="overflow: hidden">
											<small class="text-muted pull-right" style="opacity: 0.4">
												{{moment(msg.create_time).fromNow()}}
											</small>
											<div class="text-primary">
												<small>{{msg.user.name}}</small>
												<a ng-click="nbInode.delete_inode_message(feed_inode, msg)" ng-if="msg.is_mine">
													<i class="fa fa-times fa-fw text-muted"></i>
												</a>
											</div>
											<div style="padding-bottom: 8px">
												<small style="white-space: pre-wrap" ng-bind-html="msg.text | linky:'_blank'"></small>
											</div>
										</div>
									</div>
									<div ng-if="comment_box.show" class="clearfix">
										<img class="img-circle pull-left" ng-src="{{nbUser.user_pic_url(nbUser.user)}}" style="width: 30px; margin-right: 5px" />
										<div style="overflow: hidden">
											<textarea ng-model="comment_box.text" rows="1" class="form-control {{comment_box.text.length && 'label-primary text-black' || 'label-default'}}" placeholder="Write about it..." nb-focus="comment_box.show" ng-attr-tabindex="{{($index*10)+100}}" nb-auto-height></textarea>
											<div class="text-center" style="padding-top: 5px">
												<button class="btn btn-info btn-hover-only" ng-click="post_comment(comment_box)" ng-disabled="comment_box.posting" ng-attr-tabindex="{{($index*10)+101}}">
													&nbsp;&nbsp;&nbsp;&nbsp; Send
													<span ng-if="comment_box.posting">
														<i class="fa fa-spin fa-spinner"></i>
													</span>
													&nbsp;&nbsp;&nbsp;&nbsp;
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="text-center" ng-show="feeds_limit < feeds.length">
				<button class="btn btn-danger" ng-click="more_feeds()">
					Load more...
				</button>
			</div>

		</div>

	</div>
</div>
