<div class="feeder">
	<div class="container">
		<div class="text-center" style="margin-bottom: 10px">
			<span class="text-muted">News Feed</span>
			<button class="btn btn-link" ng-click="refresh_feeds()" title="Click to refresh" rel="tooltip">
				<i class="fa fa-refresh {{refreshing_feeds && 'fa-spin' || ''}} Xfa-fw fa-lg"></i>
			</button>
		</div>
		<div class="clearfix"></div>

		<div class="feeds_container">

			<div class="feed_item">
				<button class="btn btn-primary btn-block" style="padding: 10px; border: none; border-bottom-left-radius: 0; border-bottom-right-radius: 0">
					Invite friends to NooBaa
					<i class="fa fa-angle-right fa-lg fa-fw"></i>
				</button>
				<hr style="margin: 0; border-color: hsl(0, 0%, 80%)" />
			</div>

			<div ng-repeat="feed in feeds | limitTo:feeds_limit track by $index" class="feed_item">
				<div style="padding: 10px; border-bottom: 1px #eee solid" class="bg-primary">
					<img class="img-rounded" ng-src="{{nb.user_pic_url(feed.owner)}}" style="width: 30px" />
					<span>{{feed.owner.name}}:</span>
					<span class="text-primary">{{$index+1}}</span>
				</div>
				<div ng-controller="FeedCtrl">
					<div ng-if="!feed.isdir">
						<div class="text-center text-ellipses" style="border-bottom: 1px #eee solid; padding: 2px 5px">
							<i class="fa fa-file-o text-danger"></i>
							<span class="text-muted">{{feed.name}}</span>
						</div>
						<div style="position: relative" ng-mouseover="mouse_over=true" ng-mouseleave="mouse_over=false">
							<div nb-content="feed" notify-layout="notify_layout"></div>
							<button ng-show="mouse_over" class="btn btn-primary" style="position: absolute; top: 15px; left: 15px" ng-click="nb.copy_inode(feed)">
								<i class="fa fa-paperclip fa-lg"></i>
								Keep
							</button>
						</div>
					</div>
					<div ng-if="feed.isdir" ng-init="index=0">
						<div class="text-center text-ellipses" style="padding: 2px 5px">
							<i class="fa fa-folder-open text-danger"></i>
							<span class="text-muted">{{feed.name}}</span>
						</div>
						<div class="text-center" style="border-bottom: 1px #eee solid">
							<button class="btn btn-link btn-sm" ng-disabled="index<=0" ng-click="index=index-1">
								<i class="fa fa-chevron-circle-left"></i>
							</button>
							<span>item {{index+1}} / {{feed.entries.length}}</span>
							<button class="btn btn-link btn-sm" ng-disabled="index+1>=feed.entries.length" ng-click="index=index+1">
								<i class="fa fa-chevron-circle-right"></i>
							</button>
						</div>
						<div style="position: relative; background-color: #ccc" ng-mouseover="mouse_over=true" ng-mouseleave="mouse_over=false">
							<div nb-content="feed.entries[index]" notify-layout="notify_layout" ng-mouseover="mouse_over=true" ng-mouseleave="mouse_over=false"></div>
							<button ng-show="mouse_over" class="btn btn-primary" style="position: absolute; top: 15px; left: 15px" ng-click="nb.copy_inode(feed)">
								<i class="fa fa-paperclip fa-lg"></i>
								Keep
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="text-center" style="padding-bottom: 20px" ng-show="feeds_limit < feeds.length">
			<button class="btn btn-default" ng-click="more_feeds()">
				Load more...
			</button>
		</div>

	</div>
</div>
