<div class="container">

	<div class="text-center" style="margin-bottom: 20px" ng-show="refreshing_friends">
		<p Xclass="lead">
			Loading Your Friends
			<i class="fa fa-spinner fa-spin fa-lg"></i>
		</p>
	</div>

	<div class="panel panel-primary" style="margin-bottom: 20px" ng-show="friends.users.length">
		<div class="panel-heading">
			<div class="text-center">
				<h3>Your NooBaa Friends</h3>
			</div>
			<div>
				<div ng-repeat="friend in friends.users | orderBy:'name'" class="text-ellipses" style="display: inline-block; width: 260px; margin: 0 2px; padding: 5px; cursor: pointer" ng-click="send_friend_message(friend)">
					<img ng-src="{{nbUser.user_pic_url(friend)}}" class="img-circle" />&nbsp;
					<span>{{friend.name}}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="text-center" style="margin-bottom: 20px">
		<iframe width="400" height="225" style="max-width: 100%" src="//www.youtube.com/embed/9KeVa3IOn78?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>

	<div class="panel panel-default" ng-show="friends.fb.length" style="margin-bottom: 20px">
		<div class="panel-heading text-center">
			<h3>Select and Invite your Facebook friends</h3>
			<div style="padding-bottom: 10px; max-width: 400px" class="center-block">
				Edit your invite message:
				<textarea ng-model="invite_options.text" class="form-control" rows="3"></textarea>
			</div>
			<div>
				<a class="btn btn-default btn-sm" ng-click="set_fb_invites(false)">Select None</a>
				<a class="btn btn-primary btn-lg" ng-click="send_fb_invites()" ng-disabled="sending_fb_invites">
					<span ng-show="sending_fb_invites">
						<i class="fa fa-spinner fa-spin"></i>
					</span>
					Invite
				</a>
				<a class="btn btn-warning btn-sm" ng-click="set_fb_invites(true)">Select All</a>
			</div>
		</div>
		<div class="panel-body" style="padding: 0">
			<div class="center-block" style="width: 260px; padding: 0 10px 10px 10px">
				<div class="Xinput-group input-group-sm" style="position: relative">
					<input type="text" class="form-control bottom-radius {{fb_filter_friend_name && 'label-warning text-black' || 'label-default'}}" placeholder="Search in friends" ng-model="fb_filter_friend_name" />
					<i class="fa fa-times fa-fw" style="cursor: pointer; position: absolute; right: 10px; top: 7px" ng-click="fb_filter_friend_name=''"></i>
				</div>
			</div>

			<div style="max-height: 300px; overflow-y: scroll">
				<div ng-repeat="friend in friends.fb | filter:{name: fb_filter_friend_name} | orderBy:'name'" class="text-ellipses {{fb_invites[friend.fbid] && 'label-warning'}}" style="display: inline-block; border-radius: 20px; width: 175px; margin: 0 2px; padding: 5px; cursor: pointer; text-align: left" ng-click="set_fb_invites(friend.fbid)">
					<i class="fa fa-{{fb_invites[friend.fbid] && 'check' || 'plus-square'}} fa-fw"></i>&nbsp;
					<img width="32" height="32" ng-src="{{nbUser.user_pic_url(friend)}}" class="img-circle" />&nbsp;
					<small>{{friend.name}}</small>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default" ng-show="friends.google.length" style="margin-bottom: 20px">
		<div class="panel-heading text-center">
			<h3>Select and Invite your Google+ friends</h3>
			<div style="padding-bottom: 10px; max-width: 400px" class="center-block">
				Edit your invite message:
				<textarea ng-model="invite_options.text" class="form-control" rows="3"></textarea>
			</div>
			<div>
				<a class="btn btn-default btn-sm" ng-click="set_google_invites(false)">Select None</a>
				<a class="btn btn-primary btn-lg" ng-click="send_google_invites()" ng-disabled="sending_google_invites">
					<span ng-show="sending_google_invites">
						<i class="fa fa-spinner fa-spin"></i>
					</span>
					Invite
				</a>
				<a class="btn btn-warning btn-sm" ng-click="set_google_invites(true)">Select All</a>
			</div>
		</div>
		<div class="panel-body" style="padding-top: 0">
			<div class="center-block" style="width: 260px; padding: 0 10px 10px 10px">
				<div class="Xinput-group input-group-sm" style="position: relative">
					<input type="text" class="form-control bottom-radius {{google_filter_friend_name && 'label-warning text-black' || 'label-default'}}" placeholder="Search in friends" ng-model="google_filter_friend_name" />
					<i class="fa fa-times fa-fw" style="cursor: pointer; position: absolute; right: 10px; top: 7px" ng-click="google_filter_friend_name=''"></i>
				</div>
			</div>
			<div style="max-height: 300px; overflow-y: scroll">
				<div ng-repeat="friend in friends.google | filter:{name: google_filter_friend_name} | orderBy:'name'" class="text-ellipses {{google_invites[friend.googleid] && 'label-warning'}}" style="display: inline-block; border-radius: 20px; width: 175px; margin: 0 2px; padding: 5px; cursor: pointer; text-align: left" ng-click="set_google_invites(friend.googleid)">
					<i class="fa fa-{{google_invites[friend.googleid] && 'check' || 'plus-square'}} fa-fw"></i>&nbsp;
					<img width="32" height="32" ng-src="{{nbUser.user_pic_url(friend)}}" class="img-circle" />&nbsp;
					<small>{{friend.name}}</small>
				</div>
			</div>
		</div>
	</div>
</div>
