<div ng-controller="UploadCtrl">
	<div class="panel panel-default">
		<div class="panel-heading clearfix" style="padding: 0px">
			<div class="text-muted" style="margin: 10px; display: inline-block">
				<i class="fa fa-cloud-upload"></i>
				Uploading
			</div>

			<div class="progress text-center" style="vertical-align: middle; margin: 7px; Xborder-radius: 0; border: 1px grey solid; width: 100px; display: inline-block">
				<div class="progress-bar Xprogress-bar-grey Xtext-black" role="progressbar" aria-valuenow="{{100 * srv.root.total_upsize / srv.root.total_size}}" aria-valuemin="0" aria-valuemax="100" style="width: {{100 * srv.root.total_upsize / srv.root.total_size}}%">
					{{srv.root.total_completed}} / {{srv.root.total_sons}}
				</div>
			</div>

			<!-- 
			<button class="btn btn-success Xbtn-xs" ng-click="" title="Share the new uploads" rel="tooltip" Xnb-tooltip="{container: 'body'}">
				<i class="fa fa-share-square-o fa-fw"></i>
				Share
			</button>
			 -->

			<div class="pull-right">
				<button class="btn btn-link" ng-click="srv.clear_completed()">
					<i class="fa fa-eraser fa-fw"></i>
					Clear Completed
				</button>
				<button class="btn btn-link" ng-click="show_upload_details = !show_upload_details">
					<span ng-if="show_upload_details">
						Hide
						<i class="fa fa-caret-up"></i>
					</span>
					<span ng-if="!show_upload_details">
						Details
						<i class="fa fa-caret-down"></i>
					</span>
				</button>
			</div>
		</div>

		<div class="panel-body" style="margin: 0; padding: 0" nb-effect-toggle="show_upload_details" nb-effect-options="{effect: 'blind'}">

			<div style="margin-bottom: 5px">
				<div class="btn-group">
					<button class="btn btn-link btn-xs" ng-click="srv.toggle_select_all()" title="Select All / None" rel="tooltip" nb-tooltip="{container: 'body'}">
						<i ng-hide="srv.selected_all" class="fa fa-square-o fa-fw"></i>
						<i ng-show="srv.selected_all" class="fa fa-check-square-o fa-fw"></i>
					</button>
					<button class="btn btn-link btn-xs" ng-click="srv.pause_selected()" title="Pause Selected" rel="tooltip" nb-tooltip="{container: 'body'}">
						<i class="fa fa-pause fa-fw"></i>
					</button>
					<button class="btn btn-link btn-xs" ng-click="srv.resume_selected()" title="Resume Selected" rel="tooltip" nb-tooltip="{container: 'body'}">
						<i class="fa fa-play fa-fw"></i>
					</button>
					<button class="btn btn-link btn-xs" ng-click="srv.remove_selected()" title="Remove Selected" rel="tooltip" nb-tooltip="{container: 'body'}">
						<i class="fa fa-times fa-fw"></i>
					</button>
					<button ng-if="false" class="btn btn-link btn-xs" ng-click="srv.pin_selected()" title="Pin Selected" rel="tooltip" nb-tooltip="{container: 'body'}">
						<i class="fa fa-thumb-tack fa-fw"></i>
					</button>
				</div>
				<div class="btn-group">
					<button class="btn btn-link btn-xs" title="Items completed" rel="tooltip" nb-tooltip="{container: 'body'}">
						{{srv.root.total_completed}} / {{srv.root.total_sons}}
						<span class="text-muted">items</span>
					</button>
					<button class="btn btn-link btn-xs" title="Size completed" rel="tooltip" nb-tooltip="{container: 'body'}">
						{{human_size(srv.root.total_upsize)}} / {{human_size(srv.root.total_size)}}
						<span class="text-muted">size</span>
					</button>
					<button class="btn btn-link btn-xs" title="Total up speed" rel="tooltip" nb-tooltip="{container: 'body'}">
						{{srv.speed.toFixed(1)}} KB/sec
						<span class="text-muted">speed</span>
					</button>
				</div>
				<!-- 
				<button ng-show="false" class="btn btn-default btn-sm"
					ng-click="srv.show_advanced = !srv.show_advanced"
					title="Advanced Stats">
					<i style="color: black" class="icon-bar-chart"></i>
				</button>
				<div ng-show="srv.show_advanced">
					<canvas width=50 height=20 id="upload_speed_gauge"></canvas>
					<p><b>Load queue</b> {{srv.jobq_load.length}}</p>
					<p><b>Small queue</b> {{srv.jobq_upload_small.length}}</p>
					<p><b>Medium queue</b> {{srv.jobq_upload_medium.length}}</p>
					<p><b>Large queue</b> {{srv.jobq_upload_large.length}}</p>
					<p><b>Loading</b> {{srv.list_loading.length}}</p>
					<p><b>Uploading</b> {{srv.list_uploading.length}}</p>
					<p><b>Retrying</b> {{srv.list_retrying.length}}</p>
				</div>
				 -->

			</div>
			<div id="upload_table" ng-cloak>
				<div ng-include="'/public/html/upload_node_template.html'" style="margin: 0; font-size: 15px; width: 100%; height: auto; overflow: auto"></div>
			</div>
		</div>
	</div>
</div>
