<!DOCTYPE html>
<html ng-app="nb_blog" xmlns:fb="http://ogp.me/ns/fb#" lang="en">

<head>
    <?# def.include( 'common_head.html') ?>
        <base href="/blog/">
</head>

<body ng-cloak ng-controller="BlogCtrl" class="blog-body">

    <div>
        <?# def.facebook_init_body ?>
    </div>

    <div class="panel" nb-panel-hfill>
        <div class="panel-heading">
            <div ng-include="'navbar_top.html'"></div>
        </div>
        <div class="panel-body">
            <div class="hfill-scroll">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <a href="./">
                                <div class="blog-item clearfix">
                                    <img src="/public/images/thedude.png" height="100" class="pull-left" style="vertical-align: middle; margin: 0 20px 0 0" />
                                    <h1><i><small>The</small> NooBaa <span class="Xtext-success">Blog</span></i>
                                    </h1>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="view-animate-container">
                                <div ng-view class="view-animate"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <?# def.include( 'common_scripts.html') ?>
    </div>

</body>

</html>
