<!DOCTYPE html>
<html ng-app="nb_blog" xmlns:fb="http://ogp.me/ns/fb#" lang="en">

<head>
    {{{# def.include( 'common_head.html') }}}
    <base href="/blog/">
</head>

<body ng-cloak ng-controller="BlogCtrl" class="blog-body navbar-top-pad" style="font-size: 12px; line-height: 20px">

    <div>
        {{{# def.facebook_init_body }}}
    </div>

    <div ng-include="'navbar_top.html'"></div>

    <div class="line text-center bgnoise1" style="background-color: hsl(0,0%,50%)">
        <div class="container">
            <a href="./">
                <h2 style="margin: 10px 0 10px 0">
                    <small>The NooBaa</small> Blog
                </h2>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="center-block" style="max-width: 1000px; background-color: white">
            <div class="view-animate-container">
                <div ng-view class="view-animate"></div>
            </div>
        </div>
    </div>

    <div>
        {{{# def.include( 'common_scripts.html') }}}
    </div>

</body>

</html>
