<!-- SCRIPTS -->

<!-- jquery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.min.js"></script> -->
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script> -->
<!-- <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script> -->

<!-- angular -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-touch.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.min.js"></script>
<!-- <script src="/vendor-b/angular-ui/build/angular-ui.min.js" type="text/javascript"></script> -->


<script src="/public/js/bundle.js" type="text/javascript"></script>
<script src="/public/js/templates.js" type="text/javascript"></script>


<!-- <script src="/vendor/flowplayer-5.4.6/flowplayer.js"></script> -->

<script type="text/javascript">
if (typeof(videojs) !== 'undefined') {
    console.log('init video.js');
    videojs.options.flash.swf = "/public/video-js.swf";
}
/*
if (typeof(flowplayer) !== 'undefined') {
    console.log('init flowplayer');
    flowplayer.conf = {
        swf: '/public/flowplayer.swf',
        embed: false,
        // ratio: 5/12,
        // analytics: 'UA-27182341-1'
    };
}
*/
</script>

<!-- <script src="https://apis.google.com/js/client:plusone.js" type="text/javascript"></script>
<script type="text/javascript">
    gapi.client.plus.people.get( {'userId' : 'me'} ).execute(function(profile) {
        console.log('GOOGLE PROFILE', profile)
    });
</script>
 -->

<!-- server data is safely embedded in a JSON type script -->
<script id="server_data" type="application/json">
<?= JSON.stringify(it.data) ?>
</script>

<!-- crazyegg -->
<script type="text/javascript">
setTimeout(function() {
    var a = document.createElement("script");
    var b = document.getElementsByTagName("script")[0];
    a.src = document.location.protocol + "//dnn506yrbagrg.cloudfront.net/pages/scripts/0018/8760.js?" + Math.floor(new Date().getTime() / 3600000);
    a.async = true;
    a.type = "text/javascript";
    b.parentNode.insertBefore(a, b)
}, 1);
</script>
