<!DOCTYPE html>
<html ng-app="nb_dedupe" lang="en">
<head>
    <?# def.include( 'common_head.html') ?>
</head>
<body>
	 <div  ng-controller="dedupeCtrl">

		<div>Original Buffer: {{ buffer }}  
			&nbsp;&nbsp;&nbsp; Hash value: {{ hasha }}
			<br/>
		    <button class="btn" ng-click="check_hash(buffer)">check_hash</button>
		</div>

		<div>Modified Buffer: <input type="text" ng-model="mbuffer" ng-change="buff_change()" required>		&nbsp;&nbsp;&nbsp; Hash value: {{ mhasha }}
			<br/>
		    <button class="btn" ng-click="check_hash(mbuffer)">check_hash</button>
		</div>
	</div>
	<div>
	    <?# def.include( 'common_scripts.html') ?>
	</div>
</body>
</html>