<!DOCTYPE html>
<html ng-app="nb_util" xmlns:fb="http://ogp.me/ns/fb#" lang="en">

<head>
	{{{# def.include( 'common_head.html') }}}
		<style>
		.sketch {
			background-image: url('{{{= it.data.cdn }}}/public/images/sketch_skate.png');
			background-repeat: no-repeat;
			background-attachment: scroll;
			background-size: 800px 250px;
			background-position: center center;
			opacity: 0.08;
			height: 250px;
		}
		</style>
</head>

<body class="navbar-top-pad bgnoise2">

    <div ng-include="'navbar_top.html'"></div>

	<div class="container text-center">
		<h1>
			{{{! it.message }}}
		</h1>
		<div style="padding: 20px">
			<a class="btn btn-primary btn-lg" href="/">
				Back to NooBaa
			</a>
		</div>
		<div class="sketch"></div>
		<p class="lead">
			( Status
			{{{! it.status }}})
		</p>
		<div>
			{{{! it.stack }}}
		</div>
	</div>

	<div>
		{{{# def.include( 'common_scripts.html') }}}
	</div>

</body>

</html>
