<!DOCTYPE html>
<html ng-app="nb_home" xmlns:fb="http://ogp.me/ns/fb#" lang="en">

<head>
    <?# def.include( 'common_head.html') ?>
        <base href="/home/">
</head>

<body ng-cloak ng-controller="HomeCtrl">

    <div>
        <?# def.facebook_init_body ?>
    </div>

    <div class="site-main">
        <div class="site-body">

            <div ng-if="!nbUser.user" class="fadeIn">
                <div class="bgdark" style="padding: 15px">
                    <div class="container">
                        <h1>NooBaa makes cloud-storage for people.</h1>
                        <div class="row">
                            <div class="col-sm-3">
                                <h2 style="padding: 15px 15px 15px 0">
                                    <span class="label label-success">Green</span>
                                    <small>
                                        We made it easy to swap your unused disk-space and get precious cloud-space in return.
                                    </small>
                                </h2>
                            </div>
                            <div class="col-sm-3">
                                <h2 style="padding: 15px 15px 15px 0">
                                    <span class="label label-info">Social</span>
                                    <small>
                                        Personal cloud space can be quite boring without friends so we made it simple to share and stream friends videos!
                                    </small>
                                </h2>
                            </div>
                            <div class="col-sm-3">
                                <h2 style="padding: 15px 15px 15px 0">
                                    <span class="label label-danger">Free</span>
                                    <small>
                                        We made it so you don't have to pay for storing big capacity, which makes it ideal for any media content.
                                    </small>
                                </h2>
                            </div>
                            <div class="col-sm-3">
                                <h2 class="text-center" style="padding: 15px 15px 15px 0">
                                    <button class="btn btn-primary btn-lg btn-block" ng-click="nbUser.open_signin()">
                                        Sign in, it's free
                                    </button>
                                    <small>
                                        <small>
                                            or try out the demo below
                                            <i class="fa fa-arrow-down"></i>
                                        </small>
                                    </small>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <nav class="navbar navbar-default" role="navigation">
                <div class="container">

                    <div class="navbar-header pull-left">
                        <a id="logo_link" class="navbar-brand" href="/">
                            <img src="/public/images/noobaa_logo.png"></img>
                            <small>BETA</small>
                        </a>
                    </div>

                    <div class="pull-right" style="padding-left: 30px">
                        <button class="navbar-link btn btn-link" nb-popover="{element: '#user_menu', container: 'body', placement: 'bottom'}" style="padding: 8px 0">
                            <img ng-src="{{nbUser.user_pic_url(nbUser.user)}}" style="width: 32px; height: 32px" class="img-circle">
                            <span class="text-ellipses" style="max-width: 120px; vertical-align: middle; height: 100%; display: inline-block; margin-left: 5px">
                                {{nbUser.user.name}}
                            </span>
                        </button>
                        <div style="display: none" ng-non-bindable>
                            <div id="user_menu">
                                <div class="text-center">
                                    <small>
                                        <span class="text-muted">Using</span>
                                        <span>{{human_size(nbUser.user_usage)}} / {{human_size(nbUser.user_quota)}}</span>
                                    </small>
                                </div>
                                <div class="progress text-center bggrey" style="vertical-align: middle; margin: 0">
                                    <div class="progress-bar progress-bar-{{nbUser.usage_percents < 70 && 'success' || usage_percents < 90 && 'warning' || 'danger'}}" role="progressbar" aria-valuenow="{{nbUser.usage_percents}}" aria-valuemin="0" aria-valuemax="100" style="width: {{nbUser.usage_percents}}%">
                                        <!-- <span ng-show="usage_percents >= 15" style="height: 100%; vertical-align: middle">{{usage_percents}}% Used</span> -->
                                    </div>
                                    <!-- <small ng-show="usage_percents < 85" style="height: 100%; color: black">{{100-usage_percents}}% Free</small> -->
                                </div>
                                <hr style="margin: 10px 0 5px 0" />
                                <ul class="nav Xnav-pills Xnav-stacked" style="padding: 0; margin: 0">
                                    <li class="divider"></li>
                                    <li>
                                        <a id="feedback_button" role="button" ng-click="click_feedback()">
                                            <i class="fa fa-comments fa-fw"></i>
                                            Give feedback
                                        </a>
                                    </li>
                                    <li ng-if="nbUser.user">
                                        <a ng-click="nbUser.logout()" Xhref="/auth/logout/?state=/home/" Xtarget="_self">
                                            <i class="fa fa-sign-out fa-fw"></i>
                                            Logout
                                        </a>
                                    </li>
                                    <li ng-if="!nbUser.user">
                                        <a ng-click="nbUser.open_signin()">
                                            <i class="fa fa-sign-in fa-fw"></i>
                                            Sign In
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <ul class="nav navbar-right navbar-nav nav-pills" style="display: inline-block">
                        <li ng-class="nbUtil.active_link('/home/watch/')">
                            <a ng-click="click_my_feed()">
                                <i class="fa {{fetching_feeds && 'fa-refresh fa-spin' || 'fa-play'}} fa-lg fa-fw text-muted"></i>
                                <span>WATCH</span>
                            </a>
                        </li>
                        <li ng-class="nbUtil.active_link('/home/items/')">
                            <a ng-click="click_my_items()">
                                <i class="fa fa-folder-open fa-lg fa-fw text-muted"></i>
                                <span>FOLDERS</span>
                            </a>
                        </li>
                        <li ng-class="nbUtil.active_link('/home/upload/')">
                            <a ng-click="open_upload_file()">
                                <i class="fa fa-cloud-upload fa-lg fa-fw text-muted"></i>
                                <span>
                                    UPLOAD
                                    <span class="badge" ng-show="nbUploadSrv.root.total_sons - nbUploadSrv.root.total_completed">
                                        {{nbUploadSrv.root.total_sons - nbUploadSrv.root.total_completed}}
                                        <i class="fa fa-cog fa-spin"></i>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li ng-if="nbPlanet.on" ng-class="nbUtil.active_link('/home/upload/')">
                            <a ng-click="open_upload_dir()">
                                <i class="fa fa-folder fa-lg fa-fw text-muted"></i>
                                <span>UPLOAD A FOLDER</span>
                            </a>
                        </li>
                        <li ng-if="!nbPlanet.on" ng-class="nbUtil.active_link('/home/install/')">
                            <a ng-click="show_client_installation()">
                                <i class="fa fa-wrench fa-lg fa-fw text-muted"></i>
                                <span>INSTALL</span>
                            </a>
                        </li>
                        <li ng-if="nbPlanet.on" ng-class="nbUtil.active_link('/home/expand/')">
                            <a ng-click="show_client_expansion()">
                                <i class="fa fa-wrench fa-lg fa-fw text-muted"></i>
                                EXPAND SPACE
                            </a>
                        </li>
                        <li ng-class="nbUtil.active_link('/home/friends/')">
                            <a href="/home/friends/">
                                <i class="fa fa-user fa-lg fa-fw text-muted"></i>
                                <span>FRIENDS</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>


            <div class="container">

                <div style="height: 30px"></div>

                <div ng-show="nbUploadSrv.has_uploads()" class="fadeIn">
                    <div ng-include="'upload_template.html'"></div>
                </div>

                <div ng-view></div>

                <div style="height: 30px"></div>

            </div>

        </div>

        <div class="site-foot" ng-include="'site_foot_template.html'"></div>

    </div>



    <!-- SIGN IN -->

    <div style="display: none" ng-non-bindable>
        <div id="signin_dialog" ng-controller>
            <div class="text-center" style="padding: 20px">
                <div style="margin-top: 10px">
                    <a ng-click="nbUser.login_facebook()" Xhref="/auth/facebook/login/">
                        <img src="/public/images/facebook_sign_in.png" class="img-rounded img-responsive center-block" style="width: 345px" />
                    </a>
                </div>
                <div style="display: inline-block; background-color: hsla(0,0%,100%,0.3); padding: 10px" class="center-block text-center">
                    <div style="overflow: hidden">
                        <div class="fb-facepile" data-width="320" data-max-rows="1" data-colorscheme="light" data-size="small" data-show-count="true"></div>
                    </div>
                </div>
                <div style="margin-top: 20px">
                    <a ng-click="nbUser.login_google()" Xhref="/auth/google/login/">
                        <img src="/public/images/google_sign_in.png" class="img-rounded img-responsive center-block" style="width: 240px" />
                    </a>
                </div>
                <div style="margin-top: 10px; width: 230px" class="center-block">
                    <div class="input-group Xinput-group-lg" ng-init="signin_email_address=''">
                        <input type="text" ng-model="signin_email_address" class="form-control" placeholder="Sign in with email">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" ng-click="nbUser.login_email(signin_email_address)">
                                <i class="fa fa-play fa-lg"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- FEEDBACK -->

    <div id="feedback_dialog" class="modal animated fadeInDown">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>
                        <i class="fa fa-comments fa-lg text-primary"></i>
                        "Talk To Me Goose"
                    </h4>
                </div>
                <div class="modal-body">
                    <textarea ng-hide="feedback_send_done" ng-model="feedback_text" class="form-control" autofocus style="resize: none; height: 100%" rows="5"></textarea>
                    <p ng-show="feedback_send_done" class="lead text-center">
                        My Precious...
                        <br/>Thank you!
                    </p>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" ng-hide="feedback_send_done" class="Xnbdialog_close btn btn-default">Cancel</button>
                    <button class="btn btn-primary pull-right" ng-hide="feedback_send_done" ng-click="send_feedback()">Send</button>
                    <button data-dismiss="modal" class="Xnbdialog_close btn btn-success pull-right" ng-show="feedback_send_done">Close</button>
                </div>
            </div>
        </div>
    </div>



    <!-- INSTALL  -->

    <div style="display: none" ng-non-bindable>
        <div id="client_installation">
            <div style="padding: 10px">
                <p class="text-left">
                    Experience with the NooBaa client:
                    <ul class="fa-ul">
                        <li><i class="fa fa-li fa-rocket"></i>
                            Expand your account space as much as you want!</li>
                        <li><i class="fa fa-li fa-refresh"></i>
                            Automatic resume of uploads (even on disconnection or reboot)</li>
                        <li><i class="fa fa-li fa-folder-open"></i>
                            Upload / Download entire folders</li>
                    </ul>
                </p>
                <div class="text-center">
                    <a class="btn btn-link" href="https://noobaa-download.s3.amazonaws.com/noobaa-windows-setup-0.1.exe">
                        <img src="/public/images/windows_logo.png" style="margin: 5px; width: 60px; height: 60px"></img>
                        <div>Download for Windows</div>
                    </a>
                    <a class="btn btn-link" href="https://noobaa-download.s3.amazonaws.com/noobaa-osx-0.1.zip" style="border-radius: 0; margin: 0">
                        <img src="/public/images/mac_logo_small.png" style="margin: 5px; width: 60px; height: 60px"></img>
                        <div>Download for Mac</div>
                    </a>
                    <a class="btn btn-link" href="https://noobaa-download.s3.amazonaws.com/noobaa-linux-0.1.tar.gz">
                        <img src="/public/images/linux_logo.png" style="margin: 5px; width: 60px; height: 60px"></img>
                        <div>Download for Linux</div>
                    </a>
                </div>
            </div>
        </div>
    </div>



    <!-- EXPAND -->

    <div style="display: none" ng-non-bindable>
        <div id="client_expansion">
            <div class="text-center" style="padding: 10px">
                <span ng-repeat="plan in nbPlanet.coshare_options">
                    <button href="#" class="btn btn-lg Xbtn-block" ng-click="nbPlanet.select_coshare_option($index)" ng-class="nbPlanet.coshare_options_class($index)">
                        {{plan.title}}
                    </button>
                </span>
            </div>
            <button ng-if="false" class="btn btn-link btn-block" ng-click="nbUtil.coming_soon()" Xonclick="$('#coshare_path').trigger('click')">
                Advanced...
            </button>
            <input id="coshare_path" style="display: none" type="file" name="file" nwdirectory>
            </input>
        </div>
    </div>



    <!-- PLAY -->

    <div style="display: none" ng-non-bindable>
        <div id="play_dialog">
            <div class="modal-body clearfix" style="padding: 20px; max-height: 100%; background-color: hsl(0,0%,15%); color: hsl(0,0%,90%)">
                <div class="row">
                    <div class="col-sm-9 text-left" style="min-height: 200px; border-right: 1px solid hsl(0,0%,30%)">
                        <div nb-media="selected.item" nb-subtitles="selected.subtitles" show-content="true" media-events="media_events" style="Xdisplay: inline-block; width: auto; max-height: 100%"></div>
                    </div>
                    <div class="col-sm-3 clearfix">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <span class="text-white">&times;</span>
                        </button>
                        <h4 class="text-center text-wrap">{{name}}</h4>
                        <div ng-if="items" style="padding-top: 15px">
                            <b>Playing track:</b>
                            <select ng-model="selected.item" ng-options="x.name group by x.content_kind for x in items" class="form-control"></select>
                        </div>
                        <div ng-if="subtitles" style="padding-top: 15px">
                            <b>Subtitle track:</b>
                            <select ng-model="selected.subtitles" ng-options="x.name for x in subtitles" class="form-control"></select>
                        </div>
                        <!-- <div class="text-center" style="padding: 20px"> -->
                        <!-- <button class="btn btn-primary btn-lg" data-dismiss="modal">Close</button> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- SHARE MODAL -->

    <div style="display: none" ng-non-bindable>
        <div id="share_modal" style="max-height: 100%" ng-init="filter_friend_name=''">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Share {{share_inode.name}}</h4>
            </div>
            <div class="modal-body" style="padding: 0">
                <div style="max-height: 100%">
                    <div style="padding: 10px 20px">
                        <div>Comments:</div>
                        <div style="margin: 5px 0">
                            <div ng-repeat="msg in share_inode.messages" class="clearfix hover-target" style="margin-bottom: 5px">
                                <img class="img-circle pull-left" ng-src="{{nbUser.user_pic_url(msg.user)}}" style="width: 32px; height: 32px; margin-right: 5px; vertical-align: top" />
                                <div style="overflow: hidden">
                                    <div>
                                        <small class="text-primary"><b>{{msg.user.first_name}}</b>
                                        </small>
                                        &nbsp;
                                        <small>
                                            <span style="white-space: pre-wrap" ng-bind-html="msg.text | linky:'_blank'"></span>
                                        </small>
                                    </div>
                                    <div>
                                        <small class="text-muted">
                                            {{moment(msg.create_time).fromNow()}}
                                            <a ng-click="delete_inode_message(share_inode, msg)" class="visible-hover-only">
                                                <i class="fa fa-times fa-fw text-muted"></i>
                                            </a>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="comments_loading" class="text-center" style="padding: 10px">
                                <i class="fa fa-refresh fa-spin fa-lg"></i>
                            </div>
                            <div>
                                <textarea ng-model="share_text" rows="2" class="form-control" placeholder="Write about it..." nb-focus="!share_list_loading"></textarea>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!share_list_loading && shr=='r'">
                        <hr style="margin: 0" />
                        <div class="center-block" style="width: 160px; padding: 0 20px 10px 20px">
                            <div class="Xinput-group input-group-sm" style="position: relative">
                                <input type="text" class="form-control bottom-radius {{filter_friend_name && 'label-primary'}}" placeholder="Search friends" ng-model="filter_friend_name" />
                                <i ng-show="filter_friend_name" class="fa fa-times fa-fw" style="cursor: pointer; position: absolute; right: 8px; top: 8px" ng-click="filter_friend_name=''"></i>
                            </div>
                        </div>
                        <div style="padding: 0 20px 10px 20px; max-height: 300px; overflow-y: scroll; overflow-x: hidden">
                            <div ng-repeat="friend in share_list | filter:{name: filter_friend_name} | orderBy:'name'" class="text-ellipses {{friend.shared && 'label-warning'}}" style="display: inline-block; Xborder-radius: 20px; width: 260px; margin: 0 2px; padding: 5px 10px; cursor: pointer; text-align: left" ng-click="friend.shared = !friend.shared">
                                <i class="fa fa-{{friend.shared && 'check' || 'plus-square'}} fa-fw"></i>&nbsp;
                                <img width="32" height="32" ng-src="{{nbUser.user_pic_url(friend)}}" class="img-circle" />&nbsp;
                                <span>{{friend.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="margin-top: 0">
                <span ng-if="share_list_loading" class="text-center" style="padding: 20px">
                    <i class="fa fa-refresh fa-spin fa-lg"></i>
                </span>
                <div class="btn-group dropdown dropdown-hover">
                    <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
                        <span ng-if="shr == 'f'">
                            <i class="fa fa-users fa-fw"></i>
                            All Friends
                        </span>
                        <span ng-if="shr == 'r'">
                            <i class="fa fa-cog fa-fw"></i>
                            Choose Friends
                        </span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu transition-fast text-left" role="menu">
                        <li>
                            <a ng-click="shr = 'f'">
                                <i class="fa fa-{{(shr=='f') && 'check'}} fa-fw"></i>
                                <i class="fa fa-users fa-fw"></i>
                                All Friends
                            </a>
                        </li>
                        <li>
                            <a ng-click="set_shr_refs()">
                                <i class="fa fa-{{(shr=='r') && 'check'}} fa-fw"></i>
                                <i class="fa fa-cog fa-fw"></i>
                                Choose Friends
                            </a>
                        </li>
                    </ul>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="run()" ng-disabled="share_list_loading">Update</button>
            </div>
        </div>
    </div>



    <!-- GET LINK DIALOG -->

    <div id="getlink_dialog" class="nbdialog fntmd">
        <div class="nbdialog_header nbdialog_drag">
            File Link
            <a class="pull-right nbdialog_close btn btn-default btn-xs" title="Cancel">
                <i class="fa fa-times"></i>
            </a>
        </div>
        <div class="nbdialog_content">
            <p>Copy &amp; Paste this file link to send or post anywhere you want:</p>
            <div class="inode_label"></div>
            <div class="link_label"></div>
        </div>
        <div class="nbdialog_footer text-center">
            <button class="nbdialog_close btn btn-default">Close</button>
        </div>
    </div>



    <!-- DELETE DIALOG -->

    <div id="delete_dialog" class="nbdialog fntmd">
        <div class="nbdialog_header nbdialog_drag">
            Confirm Delete
            <a class="pull-right nbdialog_close btn btn-default btn-xs" title="Cancel">
                <i class="fa fa-times"></i>
            </a>
        </div>
        <div class="nbdialog_content">
            <p id="not_empty_msg" style="display: none">
                The selected folders are not empty.
                <br/>Are you sure you want to delete all its content?
            </p>
            <p id="normal_msg">Are you sure you want to delete the selected items?</p>
            <div class="inode_label"></div>
        </div>
        <div class="nbdialog_footer">
            <button class="nbdialog_close btn btn-default">Cancel</button>
            <button id="dialog_ok" class="btn btn-danger pull-right">Delete</button>
        </div>
    </div>



    <!-- MKDIR DIALOG -->

    <div id="mkdir_dialog" class="nbdialog fntmd">
        <div class="nbdialog_header nbdialog_drag">
            New Folder...
            <a class="pull-right nbdialog_close btn btn-default btn-xs" title="Cancel">
                <i class="fa fa-times"></i>
            </a>
        </div>
        <div class="nbdialog_content">
            <p>
                Create new folder under:
                <div class="inode_label"></div>
            </p>
            <input id="dialog_input" class="form-control" type="text" />
        </div>
        <div class="nbdialog_footer">
            <button class="nbdialog_close btn btn-default">Cancel</button>
            <button id="dialog_ok" class="btn btn-primary pull-right">Create</button>
        </div>
    </div>



    <!-- RENAME DIALOG -->

    <div id="rename_dialog" class="nbdialog fntmd">
        <div class="nbdialog_header nbdialog_drag">
            Rename...
            <a class="pull-right nbdialog_close btn btn-default btn-xs" title="Cancel">
                <i class="fa fa-times"></i>
            </a>
        </div>
        <div class="nbdialog_content">
            <p>
                New name for:
                <div class="inode_label"></div>
            </p>
            <input id="dialog_input" class="form-control" type="text" />
        </div>
        <div class="nbdialog_footer">
            <button class="nbdialog_close btn btn-default">Cancel</button>
            <button id="dialog_ok" class="btn btn-primary pull-right">Rename</button>
        </div>
    </div>



    <div>
        <?# def.include( 'common_scripts.html') ?>
    </div>

    <!-- <script src="/vendor/bootstrap-tour/js/bootstrap-tour.js" type="text/javascript"></script> -->
    <!-- 
	<script src="/vendor/masonry.pkgd.min.js" type="text/javascript"></script>
	<script src="/vendor/async/lib/async.js" type="text/javascript"></script>
	<script src="/vendor-n/q/q.js" type="text/javascript"></script>
	 -->

    <!-- <script src="/public/js/guide_ctrl.js" type="text/javascript"></script> -->
    <!-- 
	<script src="/public/js/nb_user.js" type="text/javascript"></script>
	<script src="/public/js/nb_planet.js" type="text/javascript"></script>
	<script src="/public/js/nb_inode.js" type="text/javascript"></script>
	<script src="/public/js/nb_upload.js" type="text/javascript"></script>
	<script src="/public/js/nb_home.js" type="text/javascript"></script>
	 -->

</body>

</html>
