<!DOCTYPE html>
<html ng-app="nb_home" xmlns:fb="http://ogp.me/ns/fb#" lang="en">

<head>
    <?# def.include( 'common_head.html') ?>
        <base href="/home/">
</head>

<body ng-cloak ng-controller="HomeCtrl" class="home-body">

    <div>
        <?# def.facebook_init_body ?>
    </div>

    <div class="table-layout">

        <div class="table-row">
            <div ng-include="'home_navbar.html'"></div>
        </div>

        <div ng-show="nbUploadSrv.has_uploads()" class="table-row fadeIn">
            <div ng-include="'upload_template.html'"></div>
        </div>

        <div class="table-row table-row-expand">
            <div class="container hfill">
                <div ng-view class="hfill"></div>
            </div>
        </div>

    </div>


    <div>
        <?# def.include( 'common_scripts.html') ?>
    </div>

</body>

</html>
