<!DOCTYPE html>
<html ng-app="nb_welcome" xmlns:fb="http://ogp.me/ns/fb#" lang="en">

<head>
    <?# def.include( 'common_head.html') ?>
</head>

<body ng-cloak ng-controller="WelcomeCtrl">

    <div>
        <?# def.facebook_init_body ?>
    </div>

    <div class="welcome-page" id="page0">
        <div class="curtain">
            <div class="container">
                <div class="col-left">
                    <div class="text-center">
                        <a href="/">
                            <img class="logo" src="/public/images/noobaa_logo.png" height="40px"></img>
                            <small style="color: white">BETA</small>
                        </a>
                    </div>
                    <div class="pad-20"></div>
                    <h1 class="text-center">
                        Cloud for your videos. Free.
                    </h1>
                    <div class="text-center">
                        <a class="btn btn-trans btn-lg" ng-click="show_welcome_video()">
                            <i class="fa fa-play fa-4x"></i>
                            <div class="pad-10"></div>
                            <small>Watch the video</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="pad-40"></div>
        </div>
        <div class="bottom-abs text-center">
            <div class="container">
                <div class="col-left">
                    <div style="width: 230px" class="center-block">
                        <div class="text-center">
                            <button ng-click="nbUser.login_facebook()" class="btn btn-primary btn-hover-only btn-block btn-lg">
                                <i class="fa fa-facebook fa-lg" style="margin-right: 10px"></i>
                                Sign in
                            </button>
                        </div>
                        <div class="pad-10"></div>
                        <div class="clearfix">
                            <div class="pull-left" style="width: 50%; padding-right: 5px">
                                <button ng-click="nbUser.login_google()" class="btn btn-danger btn-hover-only btn-sm btn-block">
                                    <i class="fa fa-google-plus fa-lg" style="margin-right: 5px"></i>
                                    Sign in
                                </button>
                            </div>
                            <div class="pull-left" style="width: 50%; padding-left: 5px">
                                <button ng-click="nbUser.open_signin()" class="btn btn-default btn-hover-only btn-sm btn-block">
                                    <i class="fa fa-envelope-o fa-lg" style="margin-right: 5px"></i>
                                    Sign in
                                </button>
                            </div>
                        </div>
                        <!-- 
                <div class="pad-10"></div>
                <div class="nb-facepile">
                    <div class="fb-facepile" data-width="190" data-max-rows="1" data-colorscheme="light" data-size="medium" data-show-count="false"></div>
                </div>
                 -->
                    </div>
                    <a href="#page1" class="scroller btn btn-trans btn-lg">
                        <i class="fa fa-angle-down fa-4x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="poster text-center">
            <img src="/public/images/bg_wave.jpg" style="top: -20%; left:0; right:auto; min-height: 120%" />
        </div>
    </div>


    <div class="welcome-page" id="page1">
        <div class="curtain">
            <div class="container">
                <div class="col-left">
                    <h1>Share videos</h1>
                    <p>
                        Sharing collections of video, audio, images with your friends has never been so easy. Connect using your Facebook or Google+ account and click on their faces!
                    </p>
                </div>
            </div>
        </div>
        <div class="bottom-abs text-center">
            <div class="pad-20"></div>
            <div class="container">
                <div class="col-left">
                    <div class="text-center">
                        <a class="btn btn-lg btn-primary btn-hover-only" ng-click="nbUser.open_signin()">Get Started</a>
                    </div>
                    <a href="#page2" class="scroller btn btn-trans btn-lg">
                        <i class="fa fa-angle-down fa-4x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="poster text-center">
            <img src="/public/images/bg_bike.jpg" style="bottom: 0; top: auto" />
        </div>
    </div>


    <div class="welcome-page" id="page2">
        <div class="curtain">
            <div class="container">
                <div class="col-left">
                    <h1>Watch videos</h1>
                    <p>
                        Watching your own videos is always fun, but let’s face it, it's even more interesting what our friends are watching.
                    </p>
                    <p>
                        With our watch feed it is easy and fun to watch videos shared by your friends, comment, keep the good stuff, and share with another friend.
                    </p>
                </div>
            </div>
        </div>
        <div class="bottom-abs text-center">
            <div class="pad-20"></div>
            <div class="container">
                <div class="col-left">
                    <div class="text-center">
                        <a class="btn btn-lg btn-warning btn-hover-only" ng-click="nbUser.open_signin()">Get Started</a>
                    </div>
                    <a href="#page3" class="scroller btn btn-trans btn-lg">
                        <i class="fa fa-angle-down fa-4x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="poster text-center">
            <!-- <img src="/public/images/bg_rock.jpg" /> -->
            <img src="/public/images/bg_snow.jpg" style="left:-25%; right:auto" />
        </div>
    </div>


    <div class="welcome-page" id="page3">
        <div class="curtain">
            <div class="container">
                <div class="col-left">
                    <h1>Access anywhere</h1>
                    <p>
                        Videos are accessible from any device, anywhere, anytime, from our web application or client. Stream directly from the cloud so you don't have to wait for downloads.
                    </p>
                </div>
            </div>
        </div>
        <div class="bottom-abs text-center">
            <div class="pad-20"></div>
            <div class="container">
                <div class="col-left">
                    <div class="text-center">
                        <a class="btn btn-lg btn-danger btn-hover-only" ng-click="nbUser.open_signin()">Get Started</a>
                    </div>
                    <a href="#page4" class="scroller btn btn-trans btn-lg">
                        <i class="fa fa-angle-down fa-4x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="poster text-center">
            <img src="/public/images/bg_skate.jpg" />
        </div>
    </div>


    <div class="welcome-page" id="page4">
        <div class="curtain">
            <div class="container">
                <div class="col-left">
                    <h1>Protect your memories</h1>
                    <p>
                        Hard drives fail. Keep a copy on the cloud for safekeeping and peace of mind.
                    </p>
                </div>
            </div>
        </div>
        <div class="bottom-abs text-center">
            <div class="pad-20"></div>
            <div class="container">
                <div class="col-left">
                    <div class="text-center">
                        <a class="btn btn-lg btn-success btn-hover-only" ng-click="nbUser.open_signin()">Get Started</a>
                    </div>
                    <a href="#page5" class="scroller btn btn-trans btn-lg">
                        <i class="fa fa-angle-down fa-4x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="poster text-center">
            <img src="/public/images/bg_fall.jpg" />
        </div>
    </div>


    <div class="welcome-page" id="page5">
        <div id="clouds-viewport">
            <div id="clouds-world"></div>
        </div>
        <div class="curtain">
            <div class="container">
                <div class="col-left">
                    <h1>How it works</h1>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <h2>
                            <i class="fa fa-hdd-o fa-fw text-muted"></i>
                            FREE
                        </h2>
                        <p class="lead">
                            Our space plans (100GB, 200GB, 400GB, etc.) are free. What we ask is that you install our client on your device, and allocate unused disk space. The more space you allocate to the client the more you get in the cloud. It is a 1-1 ratio. You can try out the service before you allocate.
                        </p>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <h2>
                            <i class="fa fa-lock fa-fw text-muted"></i>
                            PRIVATE
                        </h2>
                        <p class="lead">
                            We worry about privacy very much. As such we picked a very strong and well tested encryption for your data (AES 256 bits). Your data will be kept private unless you decide to share it with friends.
                        </p>
                    </div>
                </div>
                <div class="pad-20"></div>
                <p>
                    Want to understand the technology that makes it possible?
                    <a href="/blog/item/faq">Check out our FAQ</a>
                </p>
            </div>
        </div>
        <div class="bottom-abs text-center">
            <div class="pad-20"></div>
            <div class="container">
                <div class="col-left">
                    <div class="text-center">
                        <a class="btn btn-lg btn-warning" ng-click="nbUser.open_signin()">Get Started</a>
                    </div>
                    <a href="#page0" class="scroller btn btn-trans btn-lg">
                        <h4>Top</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- TODO -->
    <div class="Xbottom-abs">
        <div ng-include="'site_foot_template.html'"></div>
    </div>

    <div>
        <?# def.include( 'common_scripts.html') ?>
    </div>

</body>

</html>
