<!DOCTYPE html>
<html ng-app="nb_welcome" xmlns:fb="http://ogp.me/ns/fb#" lang="en">

<head>
    {{{# def.include( 'common_head.html') }}}
</head>

<body ng-cloak ng-controller="WelcomeCtrl">

    <div>
        {{{# def.facebook_init_body }}}
    </div>

    <div class="welcome-page" id="page0">
        <div class="curtain">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="/">
                            <img class="logo" src="{{{= it.data.cdn }}}/public/images/noobaa_logo.png" height="40px"></img>
                            <small style="color: white">BETA</small>
                        </a>
                    </div>
                </div>
                <div class="pad-20"></div>
                <div class="row">
                    <div class="col-sm-7 col-md-8 Xcol-lg-9">
                        <h1>
                            Cloud for your videos. Free.
                        </h1>
                    </div>
                    <div class="col-sm-5 col-md-4 Xcol-lg-3">
                        <div class="center-block hover-target" style="max-width: 300px; padding: 10px; border-radius: 10px; box-shadow: 0 0 10px hsl(0,0%,0%); background-color: hsla(0,0%,100%, 0.3)">
                            <p style="text-align: center">
                                Play the video
                            </p>
                            <a class="relpos text-center" ng-click="show_welcome_video()" style="display: block; height: 100px; width: 100%">
                                <div class="cover abspos text-white" style="background-image: url('{{{= it.data.cdn }}}/public/images/buddy.jpg'); background-size: auto 100%; background-position: center center">
                                    <div style="position: absolute; top: 50%; left: 50%; margin-top: -10px; margin-left: -10px" class="hover-grow transition-fast">
                                        <i class="fa fa-play fa-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="pad-30"></div>
                        <div class="center-block" style="max-width: 300px; padding: 10px; border-radius: 10px; box-shadow: 0 0 10px hsl(0,0%,0%); background-color: hsla(0,0%,100%, 0.3)">
                            <p style="text-align: center">
                                Get started now
                            </p>
                            <div style="Xpadding: 5px 0">
                                <div>
                                    <a ng-click="nbUser.login_facebook()" class="btn btn-block">
                                        <img src="{{{= it.data.cdn }}}/public/images/facebook_sign_in.png" class="img-responsive" style="width: 100%" />
                                    </a>
                                </div>
                                <div>
                                    <a ng-click="nbUser.login_google()" class="btn btn-block">
                                        <img src="{{{= it.data.cdn }}}/public/images/google_sign_in.jpg" class="img-responsive" style="width: 100%; border-radius: 3px" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pad-40"></div>
        </div>
        <div class="bottom-abs text-center">
            <div class="container">
                <a href="#page1" class="scroller btn btn-default">
                    More info <i class="fa fa-angle-down fa-lg"></i>
                </a>
            </div>
        </div>
        <div class="poster text-center">
            <div class="wave-img"></div>
        </div>
    </div>


    <div class="welcome-page" id="page1">
        <div class="curtain">
            <div class="container">
                <div class="col-left">
                    <h1>Share videos</h1>
                    <p>
                        Sharing collections of video, audio, images with your friends has never been so easy. Connect using your Facebook or Google+ account and click on their faces!
                    </p>
                </div>
            </div>
        </div>
        <div class="bottom-abs text-center">
            <div class="pad-20"></div>
            <div class="container">
                <a href="#page2" class="scroller btn btn-default">
                    More info <i class="fa fa-angle-down fa-lg"></i>
                </a>
            </div>
        </div>
        <div class="poster text-center">
            <div class="bike-img"></div>
        </div>
    </div>


    <div class="welcome-page" id="page2">
        <div class="curtain">
            <div class="container">
                <div class="col-left">
                    <h1>Watch videos</h1>
                    <p>
                        Watching your own videos is always fun, but let’s face it, it's even more interesting what our friends are watching.
                    </p>
                    <p>
                        With our watch feed it is easy and fun to watch videos shared by your friends, comment, keep the good stuff, and share with another friend.
                    </p>
                </div>
            </div>
        </div>
        <div class="bottom-abs text-center">
            <div class="pad-20"></div>
            <div class="container">
                <a href="#page3" class="scroller btn btn-default">
                    More info <i class="fa fa-angle-down fa-lg"></i>
                </a>
            </div>
        </div>
        <div class="poster text-center">
            <div class="snow-img"></div>
        </div>
    </div>


    <div class="welcome-page" id="page3">
        <div class="curtain">
            <div class="container">
                <div class="col-left">
                    <h1>Access anywhere</h1>
                    <p>
                        Videos are accessible from any device, anywhere, anytime, from our web application or client. Stream directly from the cloud so you don't have to wait for downloads.
                    </p>
                </div>
            </div>
        </div>
        <div class="bottom-abs text-center">
            <div class="pad-20"></div>
            <div class="container">
                <a href="#page4" class="scroller btn btn-default">
                    More info <i class="fa fa-angle-down fa-lg"></i>
                </a>
            </div>
        </div>
        <div class="poster text-center">
            <div class="skate-img"></div>
        </div>
    </div>


    <div class="welcome-page" id="page4">
        <div class="curtain">
            <div class="container">
                <div class="col-left">
                    <h1>Protect your memories</h1>
                    <p>
                        Hard drives fail. Keep a copy on the cloud for safekeeping and peace of mind.
                    </p>
                </div>
            </div>
        </div>
        <div class="bottom-abs text-center">
            <div class="pad-20"></div>
            <div class="container">
                <a href="#page5" class="scroller btn btn-default">
                    More info <i class="fa fa-angle-down fa-lg"></i>
                </a>
            </div>
        </div>
        <div class="poster text-center">
            <div class="fall-img"></div>
        </div>
    </div>


    <div class="welcome-page" id="page5">
        <div id="clouds-viewport">
            <div id="clouds-world"></div>
        </div>
        <div class="curtain">
            <div class="container">
                <div class="col-left">
                    <h1>How it works</h1>
                </div>
                <div class="pad-20"></div>
                <div class="row">
                    <div class="col-sm-5">
                        <i class="fa fa-recycle fa-fw fa-4x text-muted pull-left"></i>
                        <div class="hflow">
                            <h2 style="margin-top: 0">
                                CO-SHARE
                            </h2>
                            <p class="lead">
                                400 GB of personal cloud space can be easily yours by co-sharing unused space on your computer. And this is only the beginning...
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <!-- <i class="fa fa-mobile fa-fw fa-4x text-muted pull-left"></i> -->
                        <i class="fa fa-desktop fa-fw fa-4x text-muted pull-left"></i>
                        <div class="hflow">
                            <h2 style="margin-top: 0">
                                DEVICES
                            </h2>
                            <p class="lead">
                                Use web, desktop, and mobile devices for easy access your account.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pad-20"></div>
                <p style="text-align: center">
                    Want to understand the technology that makes it possible?
                    <br/><a href="/blog/item/faq" class="a-link">Check out our FAQ</a>
                </p>
                <div class="pad-20"></div>
                <div class="center-block" style="max-width: 400px; padding: 20px; border-radius: 20px; box-shadow: 0 0 10px hsl(0,0%,10%)">
                    <p style="text-align: center">
                        Get started now
                    </p>
                    <div style="padding: 5px 0">
                        <div>
                            <a ng-click="nbUser.login_facebook()" class="btn btn-block">
                                <img src="{{{= it.data.cdn }}}/public/images/facebook_sign_in.png" class="img-responsive" style="width: 100%" />
                            </a>
                        </div>
                        <div>
                            <a ng-click="nbUser.login_google()" class="btn btn-block">
                                <img src="{{{= it.data.cdn }}}/public/images/google_sign_in.jpg" class="img-responsive" style="width: 100%; border-radius: 3px" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="pad-20"></div>
            </div>
        </div>
        <div class="bottom-abs text-center">
            <div class="pad-20"></div>
            <div class="container">
                <a href="#page0" class="scroller btn btn-default">
                    Top <i class="fa fa-angle-up fa-lg"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- TODO -->
    <div class="Xbottom-abs">
        <div ng-include="'site_foot_template.html'"></div>
    </div>

    <div>
        {{{# def.include( 'common_scripts.html') }}}
    </div>

</body>

</html>
