<!DOCTYPE html>
<html ng-app="nb_welcome" xmlns:fb="http://ogp.me/ns/fb#" lang="en">

<head>
    <?# def.include( 'common_head.html') ?>
</head>

<body ng-cloak ng-controller="WelcomeCtrl">

    <div>
        <?# def.facebook_init_body ?>
    </div>

    <div class="welcome-page" id="page0">
        <div class="curtain">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="/">
                            <img class="logo" src="/public/images/noobaa_logo.png" height="40px"></img>
                            <small style="color: white">BETA</small>
                        </a>
                    </div>
                </div>
                <div class="pad-20"></div>
                <div class="row">
                    <div class="col-sm-8 col-md-9 Xcol-lg-10">
                        <h1>
                            Cloud for your videos. Free.
                        </h1>
                    </div>
                    <div class="col-sm-4 col-md-3 Xcol-lg-2">
                        <div class="Xpull-right center-block" style="padding: 10px">
                            <div>
                                <span class="label label-black">Watch the video</span>
                            </div>
                            <a class="relpos" ng-click="show_welcome_video()">
                                <img src="/public/images/buddy.jpg" class="Ximg-thumbnail" width="200" height="150" />
                                <div class="cover abspos text-white">
                                    <div style="position: absolute; top: 50%; left: 50%; margin-top: -10px; margin-left: -10px" class="hover-grow transition-fast">
                                        <i class="fa fa-play fa-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="Xpull-right center-block" style="padding: 10px">
                            <div>
                                <span class="label label-black">Click to start</span>
                            </div>
                            <div class="img-thumbnail" style="border: none; width: 200px; background-color: black; padding: 5px 0">
                                <div>
                                    <a ng-click="nbUser.login_facebook()" class="btn btn-block">
                                        <img src="/public/images/facebook_sign_in.png" class="img-responsive" Xwidth="160" />
                                    </a>
                                </div>
                                <div>
                                    <a ng-click="nbUser.login_google()" class="btn btn-block">
                                        <img src="/public/images/google_sign_in.jpg" class="img-responsive" style="border-radius: 3px" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pad-40"></div>
        </div>
        <div class="bottom-abs text-center">
            <div class="container">
                <a href="#page1" class="scroller btn btn-default">
                    More info <i class="fa fa-angle-down fa-lg"></i>
                </a>
            </div>
        </div>
        <div class="poster text-center">
            <div class="wave-img" ></div>
        </div>
    </div>


    <div class="welcome-page" id="page1">
        <div class="curtain">
            <div class="container">
                <div class="col-left">
                    <h1>Share videos</h1>
                    <p>
                        Sharing collections of video, audio, images with your friends has never been so easy. Connect using your Facebook or Google+ account and click on their faces!
                    </p>
                </div>
            </div>
        </div>
        <div class="bottom-abs text-center">
            <div class="pad-20"></div>
            <div class="container">
                <a href="#page2" class="scroller btn btn-default">
                    More info <i class="fa fa-angle-down fa-lg"></i>
                </a>
            </div>
        </div>
        <div class="poster text-center">
            <div class="bike-img" ></div>
        </div>
    </div>


    <div class="welcome-page" id="page2">
        <div class="curtain">
            <div class="container">
                <div class="col-left">
                    <h1>Watch videos</h1>
                    <p>
                        Watching your own videos is always fun, but let’s face it, it's even more interesting what our friends are watching.
                    </p>
                    <p>
                        With our watch feed it is easy and fun to watch videos shared by your friends, comment, keep the good stuff, and share with another friend.
                    </p>
                </div>
            </div>
        </div>
        <div class="bottom-abs text-center">
            <div class="pad-20"></div>
            <div class="container">
                <a href="#page3" class="scroller btn btn-default">
                    More info <i class="fa fa-angle-down fa-lg"></i>
                </a>
            </div>
        </div>
        <div class="poster text-center">
            <div class="snow-img" ></div>
        </div>
    </div>


    <div class="welcome-page" id="page3">
        <div class="curtain">
            <div class="container">
                <div class="col-left">
                    <h1>Access anywhere</h1>
                    <p>
                        Videos are accessible from any device, anywhere, anytime, from our web application or client. Stream directly from the cloud so you don't have to wait for downloads.
                    </p>
                </div>
            </div>
        </div>
        <div class="bottom-abs text-center">
            <div class="pad-20"></div>
            <div class="container">
                <a href="#page4" class="scroller btn btn-default">
                    More info <i class="fa fa-angle-down fa-lg"></i>
                </a>
            </div>
        </div>
        <div class="poster text-center">
            <div class="skate-img" ></div>
        </div>
    </div>


    <div class="welcome-page" id="page4">
        <div class="curtain">
            <div class="container">
                <div class="col-left">
                    <h1>Protect your memories</h1>
                    <p>
                        Hard drives fail. Keep a copy on the cloud for safekeeping and peace of mind.
                    </p>
                </div>
            </div>
        </div>
        <div class="bottom-abs text-center">
            <div class="pad-20"></div>
            <div class="container">
                <a href="#page5" class="scroller btn btn-default">
                    More info <i class="fa fa-angle-down fa-lg"></i>
                </a>
            </div>
        </div>
        <div class="poster text-center">
            <div class="fall-img" ></div>
        </div>
    </div>


    <div class="welcome-page" id="page5">
        <div id="clouds-viewport">
            <div id="clouds-world"></div>
        </div>
        <div class="curtain">
            <div class="container">
                <div class="col-left">
                    <h1>How it works</h1>
                </div>
                <div class="pad-20"></div>
                <div class="row">
                    <div class="col-sm-5">
                        <i class="fa fa-recycle fa-fw fa-4x text-muted pull-left"></i>
                        <div class="hflow">
                            <h2 style="margin-top: 0">
                                CO-SHARE
                            </h2>
                            <p class="lead">
                                Get up to 400 GB of cloud space by allocating unused space on your computer and get the same amount of space on the cloud.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <!-- <i class="fa fa-mobile fa-fw fa-4x text-muted pull-left"></i> -->
                        <i class="fa fa-desktop fa-fw fa-4x text-muted pull-left"></i>
                        <div class="hflow">
                            <h2 style="margin-top: 0">
                                DEVICES
                            </h2>
                            <p class="lead">
                                Use web, desktop, and mobile devices to access your account seamlessly.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pad-20"></div>
                <p>
                    Want to understand the technology that makes it possible?
                    <br/><a href="/blog/item/faq" class="a-link">Check out our FAQ</a>
                </p>
                <p>
                    Ready to go?
                    <br/><a ng-click="nbUser.open_signin()" class="a-link">Click to get started</a>
                </p>
            </div>
        </div>
        <div class="bottom-abs text-center">
            <div class="pad-20"></div>
            <div class="container">
                <a href="#page0" class="scroller btn btn-default">
                    Top <i class="fa fa-angle-up fa-lg"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- TODO -->
    <div class="Xbottom-abs">
        <div ng-include="'site_foot_template.html'"></div>
    </div>

    <div>
        <?# def.include( 'common_scripts.html') ?>
    </div>

</body>

</html>
