@import (less)"theme.less";
 @import (less)"welcome.less";

/**/

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
/**/

/******************************************************************************
    HOME
 ******************************************************************************/

@home-max-width: 600px;
 @home-max-height: 600px;
 .app-container {
    // .center-block;
    // max-width: @home-max-width;

}
.app-bg {
    // background-color: @body-bg;
    // .bgnoise2;

}
.app-body {
    /* pad for navbar-fixed-top */
    padding-top: 51px;
    hr {
        margin: 0;
    }
    .panel {
        margin: 0;
        .panel-heading, .panel-body, .panel-footer {
            .clearfix;
            padding: 0;
        }
    }
    > .noobaa-logo {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .app-area {
        height: 100%;
        width: 100%;
    }
    .app-panel {
        max-width: @home-max-width;
        .center-block;
        height: 100%;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        border: none;
        > .panel-body {
        }
        > .panel-footer {
            border: none;
            padding: 10px 0;
            background-color: @navbar-inverse-bg;
            .bgnoise2;
            .navbar {
                .app-container;
                border: 1px solid @border-color;
            }
        }
    }
    .app-view > .panel {
        border: none;
        height: 100%;
        > .panel-heading, > .panel-body, > .panel-footer {
            > div {
                .app-container;
            }
        }
        > .panel-body {
            .app-bg;
            // border-top: 1px solid @border-color-light;
            // border-bottom: 1px solid @border-color-light;
            overflow-y: auto;
            > div {
                // border-left: 1px solid @border-color-light;
                // border-right: 1px solid @border-color-light;

            }
        }
    }
    .feed-panel {
        max-width: 100%;
    }
}
@media all and (max-width: (@home-max-width+200px)) {
    .app-body {
        > .noobaa-logo {
            display: none;
        }
    }
}
@media all and (max-height: @home-max-height), all and (max-width: @home-max-width) {
    .app-body {
        .app-area {
            > .app-panel {
                > .panel-footer {
                    padding: 0;
                    .navbar {
                        border: none;
                    }
                }
                .app-view > .panel > .panel-body {
                    // border-top-width: 0;
                    // border-bottom-width: 0;

                }
            }
        }
    }
}
.app-panel.panel-too-small {
    > .panel-heading, > .panel-footer {
        height: 0;
        overflow: hidden;
    }
    /*
    input:focus {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
    }*/
}
/**/

/******************************************************************************
    NAVBAR 
 ******************************************************************************/

.navbar2 {
    margin: 0;
    padding: 0;
    border: none;
    .bgnoise1;
    // position: static;
    z-index: 0;
    line-height: 40px;
    .navbar-brand {
        padding: 10px;
    }
    .btn-link {
        padding: 15px 6px;
        .user-image {
            margin: -5px 0;
        }
    }
    .btn-success, .btn-default {
        margin: 10px;
    }
    .btn-back {
        padding: 0 20px 0 10px;
        vertical-align: top;
        .fa-angle-left {
            font-size: 46px;
            line-height: 46px;
        }
        .fa-home {
            .fa-2x;
            line-height: 50px;
        }
    }
    .user-image {
        margin: 10px;
    }
    .navbar-text {
        font-size: 18px;
        line-height: 50px;
        margin: 0;
        float: none;
        // color: @text-color;

    }
}
.noobaa-logo {
    // padding: 10px 10px;
    > img {
        height: 25px;
        width: 80px;
        vertical-align: top;
    }
    > div, > span {
        .text-center;
        font-size: 10px;
        line-height: 8px;
    }
}
.navbar2.navbar-top {
    height: @navbar-top-height;
    border-bottom-width: 1px;
    .navbar-brand {
        display: inline-block;
        float: none;
        .noobaa-logo;
    }
    .navbar-user {
        a {
            padding: 8px 10px;
            text-decoration: none;
        }
        .user-image {
            width: auto;
            height: 32px;
        }
    }
}
.navbar2.navbar-bottom {
    height: @navbar-bottom-height;
    > ul {
        display: table;
        // table-layout: fixed;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        height: 100%;
        > li {
            display: table-cell;
            height: 100%;
            float: none;
            font-size: 13px;
            .text-center;
            padding-top: 10px;
            border-bottom: 4px solid transparent;
            &:not(:first-child) {
                border-left: 1px solid @border-color;
            }
            &.active, &.active:hover {
                background-color: darken(@navbar-inverse-bg, 15%);
                border-bottom-color: @brand-success;
                > a {
                    color: white;
                }
            }
            &:hover {
                background-color: darken(@navbar-inverse-bg, 7%);
            }
            > a {
                line-height: 0;
                position: relative;
                display: block;
                text-decoration: none;
                // color: @gray-light;
                > .fa {
                    font-size: 30px;
                    .fa-fw;
                }
                span {
                    .hidden-xs;
                }
                > .fa-bell {
                    .fa-fw;
                    .text-success;
                    // .tossing;
                    .pulse;
                    font-size: 1.4em;
                    line-height: 0;
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 4px 1px;
                    // @d: 1px;
                    // @s: 2px;
                    // @c: black;
                    // text-shadow: @d @d @s @c, -@d @d @s @c, @d -@d @s @c, -@d -@d @s @c;

                }
            }
        }
    }
}
/**/

/* TODO remove? */

.user-menu {
    .fadeIn;
    background-color: @navbar-default-bg;
    border-right: 1px solid @gray-dark;
    position: absolute;
    top: 51px;
    bottom: 0;
    overflow: auto;
    width: 160px;
    left: -170px;
    > hr {
        margin: 10px 0 5px 0;
    }
    > ul {
        .nav;
        padding: 0;
        margin: 0;
        > li {
            font-size: 13px;
            > a {
                margin: 0;
                padding: 15px 10px 10px 10px;
                color: hsl(0, 0%, 35%);
                > .fa {
                    font-size: 1.4em;
                    .fa-fw;
                }
            }
            &.active a {
                color: @brand-primary;
            }
            &:hover > a {
                background-color: transparent;
            }
            &:hover {
                background-color: darken(@navbar-default-bg, 5%);
            }
        }
    }
}
/**/

/******************************************************************************
    CLUB 
 ******************************************************************************/

.club-bg {
    .bgnoise2;
    &, &:hover, .club-title, .navbar-text {
        color: white;
    }
    .navbar-text {
        float: none;
    }
}
.club-title {
    font-size: 18px;
    line-height: 1.4em;
    vertical-align: middle;
}
.club-list {
    .fa-caret-right {
        text-align: left;
        margin-left: 2px;
        width: 10px;
    }
    .fa-check {
        text-align: left;
        font-style: italic;
    }
    .club-title {
        font-size: 24px;
        line-height: 1.4em;
    }
}
.club-info {
    > .panel-body {
        position: relative;
    }
}
.club-panel {
    .club-input {
        .clearfix;
        border-top: 1px solid @border-color-light;
        border-bottom: 1px solid @border-color-light;
        padding: 0;
        margin: 0;
        .club-msg-btn {
            padding: 5px;
        }
        textarea {
            .inner-input;
            padding: 10px 10px 0 10px;
        }
    }
    .club-content {
        // .bgnoise2;
        // background-color: @gray-darker;
        // padding: 10px 10px 0 10px;

    }
    .alert {
        .club-msg;
    }
    .club-msg-muted {
        color: lighten(@gray, 10%);
    }
    .club-msg-time {
        .club-msg-muted;
        font-size: 0.7em;
    }
    .line {
        img.content-item {
            max-width: 200px;
        }
    }
}
.club-msg {
    .well;
    padding: 8px 13px;
    border-radius: 5px;
    // border-style: solid;
    // border-width: 1px;
    position: relative;
    // max-width: 100%;
    img.content-item {
        max-width: 200px;
    }
}
.club-triangle-base {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
}
.club-msg-mine {
    .club-msg;
    float: left;
    @c: lighten(@brand-success, 40%);
    color: @gray-darker;
    // box-shadow: 1px 1px 2px hsl(0, 0%, 60%);
    border-color: @c;
    background-color: @c;
    &::after {
        .club-triangle-base;
        content:"";
        top: 10px;
        left: -9px;
        border-width: 7px 8px 7px 0;
        border-color: transparent @c transparent transparent;
    }
    /*
    &::after {
        .club-triangle-base;
        content:"";
        top: 10px;
        right: -9px;
        border-width: 7px 0 7px 8px;
        border-color: transparent transparent transparent @c;
    }
    */
}
.club-msg-user {
    .club-msg;
    float: left;
    @c: hsl(0, 0%, 99%);
    color: @gray-darker;
    // box-shadow: 0 1px 2px hsl(0, 0%, 60%);
    border-color: @c;
    background-color: @c;
    &::after {
        .club-triangle-base;
        content:"";
        top: 10px;
        left: -9px;
        border-width: 7px 8px 7px 0;
        border-color: transparent @c transparent transparent;
    }
}
/**/

/******************************************************************************
    FILES 
 ******************************************************************************/

.files-panel {
    height: 100%;
    margin-bottom: 0;
    > .panel-heading {
        border: none;
        .club-msg-mine {
            padding: 2px 5px;
            @c: lighten(@brand-success, 35%);
            &::after {
                content:"";
                .club-triangle-base;
                right: 10px;
                top: -9px;
                border-width: 0 7px 8px 7px;
                border-color: transparent transparent @c transparent;
            }
        }
    }
    > .panel-body {
        overflow-y: auto;
        padding: 0;
        .line {
            min-height: 50px;
            > a {
                margin: -9px -9px -9px 10px;
                padding: 12px 15px;
                // border-left: 1px solid @border-color;

            }
        }
    }
    > .panel-footer {
        border: none;
    }
    .content-item {
        border-radius: 4px;
    }
}
.file_line {
    line-height: 40px;
    vertical-align: top;
    border-color: transparent;
    border-style: solid;
    border-width: 0;
    padding-left: 10px;
    padding-right: 10px;
    &.active {
        background-color: @gray-lighter;
    }
    &:hover {
        border-radius: 7px;
        border-left-width: 7px;
        border-right-width: 7px;
        padding-left: 3px;
        padding-right: 3px;
        border-color: lighten(desaturate(@brand-primary, 60%), 10%);
    }
}
/**/

/******************************************************************************
    FRIENDS 
 ******************************************************************************/

.friend-chooser {
    .user-image {
        width: 64px;
        height: 64px;
        vertical-align: top;
    }
    .fa-caret-right {
        text-align: left;
        margin-left: 2px;
        width: 10px;
    }
    .fa-check {
        text-align: left;
        font-style: italic;
    }
    .fa-envelope {
        .text-success;
    }
    .fa-facebook-square {
        .text-primary;
    }
    .fa-google-plus-square {
        .text-danger;
    }
    .line {
        &.disabled {
            .text-muted;
            cursor: default;
        }
        &:not(.disabled) .show-on-disabled {
            display: none;
        }
    }
}
/**/

/******************************************************************************
    BLOG 
 ******************************************************************************/

.blog-body {
    .bgnoise2;
    > .panel {
        height: 100%;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        border: none;
        > .panel-heading {
            padding: 0;
        }
        > .panel-body {
            padding: 0;
            overflow-y: auto;
            .container {
                // max-width: 1100px;

            }
        }
    }
}
.blog-item {
    .well;
    border-color: @border-color-light;
    box-shadow: none;
    border-radius: 10px;
    margin: 20px 0;
    .blog-img {
        max-width: 25%;
    }
    hr {
        margin: 20px -20px;
        border-color: @border-color-light;
    }
    .blog-content p {
        // font-size: 16px;
        // line-height: 1.5em;
        // letter-spacing: 0.02em;
        text-align: justify;
    }
}
/******************************************************************************
    FEED 
 ******************************************************************************/

.feeds_container {
}
.feed_item {
    width: 300px;
    vertical-align: top;
    padding: 5px 20px 40px 20px;
}
@media all and (min-width: 400px) and (max-width: 500px) {
    .feed_item {
        width: 370px;
    }
}
@media all and (min-width: 500px) and (max-width: 600px) {
    .feed_item {
        width: 470px;
    }
}
@media all and (min-width: 600px) and (max-width: 768px) {
    .feed_item {
        width: 570px;
    }
}
.feed_item .panel, .feed_item .panel-footer {
    // .bgnoise2;
    background-color: white;
    // background-color: @gray-lighter;
    border: none;
}
.feed_item .panel {
    /*
    -webkit-box-shadow: 0 0 4px 4px hsl(0, 0%, 90%) !important;
    -moz-box-shadow: 0 0 4px 4px hsl(0, 0%, 90%) !important;
    box-shadow: 0 0 4px 4px hsl(0, 0%, 90%) !important;
    */
}
/**/

/******************************************************************************
    GENERAL 
 ******************************************************************************/

.tour .popover-content {
    /*background-color: rgba(50,50,50,1);*/
    /*color: white;*/
    /*background-color: rgba(255,200,0,0.6);*/
    background: rgb(210, 255, 82);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(210, 255, 82, 1)), color-stop(100%, rgba(145, 232, 66, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%);
    /* IE10+ */
    background: linear-gradient(135deg, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}
.tour .popover-title, .tour .popover-navigation {
    /*background-color: #5cb85c;*/
    background-color: white;
}
.tour-step-backdrop {
    z-index: 1010 !important;
    /* forced below tour step */
}
.tour-step-background {
    display: none !important;
}
/**/
