html, body {
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	height: 100%;
	min-height: 100%;
	font-family: 'Nunito', 'Ubuntu', sans-serif !important;
}

.fntblk {
	color: black;
}
.fntwht {
	color: white;
}
.fntpaint {
	font-family: 'Finger Paint', cursive !important;
}
.fntdata {
	font-family: 'Ubuntu', sans-serif !important;
	font-size: 16px;
	line-height: 26px;
}
.fnttour {
	font-size: 22px;
	line-height: 34px;
}
.tour .popover-content {
	background-color: rgba(0,0,0,0.85);
	color: white;
}


.navbar {
	width: 100% !important;
	margin: 0 !important;
	z-index: 1020 !important;
	background-color: rgba(34,34,34,0.9) !important;
	background-image: none !important;
}
.navbar .navbar-brand {
	padding: 0;
}
.navbar .navbar-brand img {
	height: 48px;
	margin-left: 5px;
	margin-right: 5px;
}

.nb_page_pad {
	padding-left: 150px !important;
	padding-right: 150px !important;
}
@media all and (min-width: 480px) and (max-width: 768px) {
	.nb_page_pad {
		padding-left: 50px !important;
		padding-right: 50px !important;
	}
}
@media all and (max-width: 480px) {
	.nb_page_pad {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
}

.nb_nav_top_pad {
	padding-top: 30px;
}

.bglight {
	background-color: white;
}
.bgdark {
	background-color: #222222;
	color: #fafafa;
}

.H1 {
	font-size: 120pt;
	line-height: 120pt;
}
.H2 {
	font-size: 50pt;
	line-height: 50pt;
}
@media all and (min-width: 480px) and (max-width: 768px) {
	.H1 {
		font-size: 60pt;
		line-height: 60pt;
	}
}
@media all and (max-width: 480px) {
	.H1 {
		font-size: 40pt;
		line-height: 40pt;
	}
	.H2 {
		font-size: 40pt;
		line-height: 40pt;
	}
}


.text-ellipses {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.filling {
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin: 0;
}

.hfill { 
	height: 100%;
	/*min-height: 100%;*/
}

.wfill { 
	width: 100%;
	min-width: 100%;
}

.roundbord {
	/*border-radius: 7px/7px;*/
	/*padding: 5px;*/
	border-style: solid;
	border-width: 2px;
	border-color: rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 	0 0 6px 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.3);
	box-shadow: 		0 0 6px 6px rgba(0, 0, 0, 0.3);
}

.modal-backdrop {
	background-color: rgba(0,0,0,0.1) !important;
}

.ui-dialog {
	/*border: solid 2px rgba(0, 0, 0, 0.9) !important;*/
	-moz-box-shadow: 	0 0 6px 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.3);
	box-shadow: 		0 0 6px 6px rgba(0, 0, 0, 0.3);
}
.ui-dialog,
.ui-dialog-content,
.ui-dialog-buttonpane {
	background: none !important;
	background-color: white !important;
	/*color: #fafafa !important;*/
}
.ui-dialog-titlebar {
	background: none !important;
	background-color: #5bc0de !important;
	/*color: black !important;*/
}
.ui-widget-overlay {
	background: none !important;
	background-color: rgba(0,0,0,0.1) !important;
	opacity: 1 !important;
}

.tour .popover-title, .tour .popover-navigation {
	background-color: #5cb85c;
}

.bgpattern {
	background-image: url('/public/images/pattern.png'); 
	position: absolute;
	width: 100%;
	height: 100%;
}

.notextselect {
	/* begin disable text selection highlight */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.selectable .ui-selecting { background: #FECA40; }
.selectable .ui-selected { background: #F39814; color: white; }
.selectable { list-style-type: none; }

/*
	Allow angular.js to be loaded in body, hiding cloaked elements until 
	templates compile.  The !important is important given that there may be 
	other selectors that are more specific or come later and might alter display.  
*/
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}


.t-table {
	display: table;
	width: 100%;
}
.t-row-group {
	display: table-row-group;
}
.t-row {
	display: table-row;
}
.t-cell {
	display: table-cell;
	padding: 3px;
}