html {
	/* force scroll-y to show, to prevent flickery resizes */
	/*overflow-y: scroll;*/
	/*overflow-x: auto;*/
}
html, body {
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	height: 100%;
	min-height: 100%;
	/*background-image: url('/public/images/bg_wall_tile.png');*/
	/*background-image: url('/public/images/grey_bg.jpg');*/
	/*background-repeat: repeat-x;*/
	/*background-color: hsl(40, 7%, 18%) !important;*/
	/*color: hsl(0, 0%, 95%) !important;*/
}
/* COLOR SCHEME */
 .bgdark {
	background-color: hsl(40, 7%, 18%) !important;
}
.bgdark-image {
	background-image: url('/public/images/grey_bg.jpg');
	background-repeat: repeat-x;
}
.bggrey {
	background-color: hsl(192, 7%, 87%) !important;
}
.progress-bar-grey {
	background-color: hsl(192, 7%, 80%) !important;
}
.btn-hover-only {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.btn-hover-only:not(:hover) {
	background-color: transparent !important;
	border-color: hsl(0, 0%, 60%) !important;
}
.btn.btn-default.btn-transparent {
	background-color: hsla(0, 0%, 0%, 0.2) !important;
	color: #eee !important;
	border: white solid 2px !important;
}
.btn.btn-default.btn-transparent:hover {
	background-color: hsla(0, 0%, 40%, 0.2) !important;
	color: white !important;
	border: white solid 2px !important;
}
.panel-default .panel-heading {
	background-color: hsl(0, 0%, 33%);
}
.btn {
	border-radius: 20px;
}
.btn-lg {
	border-radius: 30px;
}
.nav-pills > li > a {
	border-radius: 30px;
}
/* COLOR BLACK & WHITE */
 .bg-white {
	background-color: hsl(0, 0%, 100%) !important;
}
.btn-white {
	background-color: hsl(0, 0%, 100%) !important;
}
.btn-white:hover {
	background-color: hsl(0, 0%, 95%) !important;
}
.text-white {
	color: hsl(0, 0%, 95%) !important;
}
.text-black {
	color: hsl(0, 0%, 5%) !important;
}
/*
a.btn-link.text-white {
	color: hsl(0, 0%, 60%) !important;
}
a.btn-link.text-white:hover {
	color: hsl(0, 0%, 95%) !important;
}
/**/

/* MENU */
 .nb-menu-item {
	text-decoration: none !important;
	font-size: 30px;
}
/**/

/* FILE BROWSER */
 .browser .panel {
	margin-bottom: 0;
}
.browser .panel-body {
	/*background-color: hsl(192, 20%, 90%);*/
	/*background-color: white;*/
}
.file_line {
	line-height: 40px;
	vertical-align: middle;
	border-color: hsla(192, 50%, 54%, 0.1);
	border-style: solid;
	border-width: 0;
	padding-left: 10px;
	padding-right: 10px;
}
.file_line:hover {
	border-radius: 7px;
	border-left-width: 7px;
	border-right-width: 7px;
	padding-left: 3px;
	padding-right: 3px;
	border-color: hsl(192, 50%, 54%);
}
/**/

/* FEED */
 .feed_item {
	border: 1px hsl(0, 0%, 80%) solid;
	margin-bottom: 20px;
	background-color: white;
	border-radius: 4px;
	width: 100%;
}
@media all and (min-width: 768px) and (max-width: 991px) {
	.feed_item {
		width: 300px;
	}
}
@media all and (min-width: 992px) and (max-width: 1199px) {
	.feed_item {
		width: 300px;
	}
}
@media all and (min-width: 1200px) {
	.feed_item {
		width: 300px;
	}
}
.feed_item:hover {
	-moz-box-shadow: 0 0 1px 1px white;
	-webkit-box-shadow: 0 0 1px 1px white;
	box-shadow: 0 0 1px 1px white;
}
.feeder .content-item {
	border-radius: 4px;
}
.browser .content-item {
	border-radius: 4px;
}
.content-switcher > span, .content-switcher > span > .fa-stack-2x, .feed_item {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.content-switcher > span:hover {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
.content-switcher > span > .fa-stack-1x {
	color: white !important;
}
.content-switcher > span > .fa-stack-2x {
	color: black !important;
}
.content-switcher > span:hover > .fa-stack-2x {
	color: hsl(0,0%,60%) !important;
}
.nav > li.active > a > i.fa.text-muted {
	color: hsl(0,0%,20%) !important;
}
/**/

/* LAYOUTS */
 .btn, .form-group input, .form-group textarea, .form-control, .panel, .panel-heading {
	/*border-radius: 3px;*/
	/*border-radius: 3px !important;*/
	/*border-radius: 0 !important;*/
}
.thumbnail {
	/*border: none !important;*/
}
.panel-heading {
	/*border: none !important;*/
}
a[ng-click], a[role=button] {
	cursor: pointer;
}
.btn-link, .navbar-link {
	-webkit-transition: color 0.6s;
	-moz-transition: color 0.6;
	-o-transition: color 0.6;
	transition: color 0.6;
}
.btn:not(.btn-link) {
	-webkit-transition: background-color 0.6;
	-moz-transition: background-color 0.6;
	-o-transition: background-color 0.6;
	transition: background-color 0.6;
}
a.btn-link, button.btn-link {
	/*color: hsl(0, 0%, 5%);*/
}
.panel-heading .badge {
	/*background-color: white;*/
	/*color: black;*/
}
.fnt, body, h1, h2, h3, h4, h5, h6, .ui-widget, button {
	font-family:'Ubuntu', sans-serif !important;
	/*font-family: 'Nunito', 'Ubuntu', sans-serif !important;*/
}
.fntpaint {
	font-family:'Finger Paint', cursive !important;
}
.fntthin {
	font-family:'Ubuntu', sans-serif !important;
}
.fntmd {
	/* normal font is 14px and line 1.428em by bootstrap */
	font-size: 16px;
	line-height: 1.5em;
}
.shades {
	text-shadow: 1px 3px 3px black;
}
.H1 {
	font-size: 60px;
}
@media all and (max-width: 480px) {
	.H1 {
		font-size: 50px;
	}
}
.fntblk {
	color: black;
}
.fntwht {
	color: white;
}
.navbar .navbar-brand {
	padding: 5px 0px 5px 10px;
}
.navbar .navbar-brand img {
	height: 36px;
}
/*
@media all and (min-width: 992px) and (max-width: 1099px) {
	.container {
		width: 750px !important;
	}
}
@media all and (min-width: 1100px) and (max-width: 1400px) {
	.container {
		width: 1000px !important;
	}
}
*/

/**/

/* GENERAL */
 .bgpattern {
	background-image: url('/public/images/pattern.png');
	position: absolute;
	width: 100%;
	height: 100%;
}
.notextselect {
	/* begin disable text selection highlight */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.text-ellipses {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.text-wrap {
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
}
.filling {
	min-width: 100%;
	min-height: 100%;
}
.hfill {
	min-height: 100%;
}
.wfill {
	min-width: 100%;
}
.bottom-abs {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.view-animate.ng-enter {
	opacity: 0;
}
.view-animate.ng-enter.ng-enter-active {
	opacity: 1;
}
.view-animate.ng-leave {
	opacity: 1;
}
.view-animate.ng-leave.ng-leave-active {
	opacity: 0;
}
.view-animate {
	-webkit-transition: opacity 0.5s linear;
	-moz-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
/**/

/* DIALOGS */
 .nbdialog {
	display: none;
	outline: none;
	overflow: hidden;
	background-color: white;
	color: black;
	/*border-radius: 10px/10px;*/
	/*
	-moz-box-shadow: 	0 0 3px 3px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 		0 0 3px 3px rgba(0, 0, 0, 0.4);
	*/
	border: 3px solid rgba(50, 50, 50, 0.5);
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
}
.nbdialog_header, .nbdialog_content, .nbdialog_footer {
	padding: 15px;
}
.nbdialog_content {
	/*includes bggrey*/
	background-color: hsl(192, 20%, 90%);
	border-top: solid 1px rgba(0, 0, 0, 0.2);
	border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}
.nbdialog .inode_label {
	margin: 20px;
	word-wrap: break-word;
}
.alert_dialog .nbdialog_header .alert_icon {
	font-size: 35px;
	color: rgba(255, 200, 100, 1);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.confirm_dialog .nbdialog_header .confirm_icon {
	font-size: 35px;
	color: rgba(255, 200, 100, 1);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.nbdialog_modal_backdrop, .tour-backdrop {
	background-color: black;
	opacity: 0.5 !important;
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	height: 100% !important;
	width: 100% !important;
}
.tour .popover-content {
	/*background-color: rgba(50,50,50,1);*/
	/*color: white;*/
	/*background-color: rgba(255,200,0,0.6);*/
	background: rgb(210, 255, 82);
	/* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(210, 255, 82, 1)), color-stop(100%, rgba(145, 232, 66, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%);
	/* IE10+ */
	background: linear-gradient(135deg, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
}
.tour .popover-title, .tour .popover-navigation {
	/*background-color: #5cb85c;*/
	background-color: white;
}
.tour-step-backdrop {
	z-index: 1010 !important;
	/* forced below tour step */
}
.tour-step-background {
	display: none !important;
}
/*.selectable .ui-selecting {
	background: #FECA40;
}
.selectable .ui-selected {
	background: #F39814;
	color: white;
}
.selectable {
	list-style-type: none;
}
.t-table {
	display: table;
	width: 100%;
}
.t-row-group {
	display: table-row-group;
}
.t-row {
	display: table-row;
}
.t-cell {
	display: table-cell;
	padding: 3px;
}
.radius_right {
	-webkit-border-top-right-radius: 100px !important;
	-moz-border-radius-topright: 100px !important;
	border-top-right-radius: 100px !important;
	-webkit-border-bottom-left-radius: 100px !important;
	-moz-border-radius-bottomleft: 100px !important;
	border-bottom-left-radius: 100px !important;
}
.radius_left {
	-webkit-border-top-left-radius: 100px !important;
	-moz-border-radius-topleft: 100px !important;
	border-top-left-radius: 100px !important;
	-webkit-border-bottom-right-radius: 100px !important;
	-moz-border-radius-bottomright: 100px !important;
	border-bottom-right-radius: 100px !important;
}
*/

/**/

/*
	Allow angular.js to be loaded in body, hiding cloaked elements until 
	templates compile.  The !important is important given that there may be 
	other selectors that are more specific or come later and might alter display.  
*/
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}
/**/

/* http://getbootstrap.com/examples/non-responsive/
 * 
 * Non-responsive overrides
 * 
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
 .nonresp .container {
	max-width: none !important;
	/* fixed width seems unneeded */
}
/* Always float the navbar header */
 .nonresp .navbar-header {
	float: left;
}
/* Undo the collapsing navbar */
 .nonresp .navbar-collapse {
	display: block !important;
	height: auto !important;
	padding-bottom: 0;
	overflow: visible !important;
}
.nonresp .navbar-toggle {
	display: none;
}
/* Always apply the floated nav */
 .nonresp .navbar-nav {
	float: left;
	margin: 0;
}
.nonresp .navbar-nav > li {
	float: left;
}
.nonresp .navbar-nav > li > a {
	padding: 15px;
}
/* Redeclare since we override the float above */
 .nonresp .navbar-nav.navbar-right {
	float: right;
}
/* Undo custom dropdowns */
 .nonresp .navbar .open .dropdown-menu {
	position: absolute;
	float: left;
	background-color: #fff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-width: 0 1px 1px;
	border-radius: 0 0 4px 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.nonresp .navbar .open .dropdown-menu > li > a {
	color: #333 !important;
}
.nonresp .navbar .open .dropdown-menu > li > a:hover, .nonresp .navbar .open .dropdown-menu > li > a:focus, .nonresp .navbar .open .dropdown-menu > .active > a, .nonresp .navbar .open .dropdown-menu > .active > a:hover, .nonresp .navbar .open .dropdown-menu > .active > a:focus {
	color: #fff !important;
	background-color: #428bca !important;
}
.nonresp .navbar .open .dropdown-menu > .disabled > a, .nonresp .navbar .open .dropdown-menu > .disabled > a:hover, .nonresp .navbar .open .dropdown-menu > .disabled > a:focus {
	color: #999 !important;
	background-color: transparent !important;
}
/**/

/**/
 .fileinput-button {
	position: relative;
	overflow: hidden;
}
.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	transform: translate(-300px, 0) scale(4);
	font-size: 23px;
	direction: ltr;
	cursor: pointer;
}
