html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
}

/* 
see http://stackoverflow.com/questions/1260122/expand-div-to-take-remaining-width 
that explains why we use "overflow: hidden" in order to cause the divs to
take the remaining width.
for smaller screen sizes, we unset the float left in order to cause both to
spread and take an entire line each.
*/
#nb_menu {
	float: left;
	overflow: hidden;
}
#nb_navbar {
	float: right;
	overflow: hidden;
}
#nb_content {
	overflow: hidden;
	padding: 20px 20px 0px 10px;
}
@media all and (max-width: 768px) {
	#nb_menu {
		float: inherit;
	}
	#nb_navbar {
		float: inherit;
	}
	#nb_content {
		padding: 20px 0 0 0;
	}
}

/* menubar style */
#nb_logo {
	width: 230px;
	z-index: 1000;
}
#nb_menubar {
	margin: 0px;
}
#nb_menubar #user_pic {
	text-align: center;
	cursor: pointer;
	margin: 20px 0px 15px 0px;
}
#nb_menubar #user_pic img {
	width: 44px;
}
#nb_menubar #menu_ext {
	margin: 0px;
	padding: 0px 20px 0px 20px;
	display: none;
}
#nb_menubar #menu_list {
	margin: 0px;
	padding: 15px 20px 0px 20px;
}

/**** CLASSES ****/


.bglight {
	background-color: #f2f2f2;
}

.bgdark {
	background-color: black;
	color: #f2f2f2;
}

.H1 {
	font-size: 120pt;
	line-height: 120pt;
}
@media all and (max-width: 600px) {
	.H1 {
		font-size: 60pt;
		line-height: 60pt;
	}
}
.H2 {
	font-size: 50pt;
	line-height: 50pt;
}

.fntblk {
	color: black;
}
.fntwht {
	color: white;
}
.fntpnk {
	color: #d219b0;
	/*color: #cf09ab;*/
}
.fntsans {
	font-family: sans-serif;
}
.fntread {
	font-family: 'Comfortaa', cursive;
}
.fntpaint {
	font-family: 'Finger Paint', cursive;
}

/* GOOGLE FONTS */
	/*font-family: 'Finger Paint', cursive;*/
	/*font-family: 'Special Elite', cursive;*/
	/*font-family: 'Oswald', sans-serif;*/
	/*font-family: 'Armata', sans-serif;*/

/* OTHER FONTS */
	/*font-family: "Brush Script MT", cursive;*/
	/*font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;*/
	/*font-family: Century Gothic, sans-serif;*/
	/*font-family: Georgia, "Times New Roman", Times, serif;*/
	/*font-family: Copperplate, "Copperplate Gothic Light", fantasy;*/
	/*font-stretch: condensed;*/
	/*font-weight: normal;*/
	/*font-size: 14px;*/

.filling {
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin: 0;
}

.hfill { 
	height: 100%;
	/*min-height: 100%;*/
}

.wfill { 
	width: 100%;
	min-width: 100%;
}

.roundbord {
	border-radius:10px/8px;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
}

.notextselect {
	/* begin disable text selection highlight */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* setting the bootstrap tooltips to be more solid and larger font */
.tooltip.in {
	opacity: 1;
	filter: alpha(opacity=100);
	font-weight: bold;
	font-size: 10pt;
}

.selectable .ui-selecting { background: #FECA40; }
.selectable .ui-selected { background: #F39814; color: white; }
.selectable { list-style-type: none; }

/*
	Allow angular.js to be loaded in body, hiding cloaked elements until 
	templates compile.  The !important is important given that there may be 
	other selectors that are more specific or come later and might alter display.  
*/
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}

.gridStyle{
       height: 300px;
       width: 100%
}


/*
.dtable {
    display: table;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
}

.dtable-row-fill {
    display: table-row;
    width: 100%;
    min-width: 100%;
}

.dtable-row-fix {
    display: table-row;
    width: 100%;
    min-width: 100%;
    height: 1px;
}
*/
