<!DOCTYPE html>
<html style="overflow-y: auto">

<head>
	<meta charset="utf-8" />
	<title>NooBaa App</title>
	
	<link rel="shortcut icon" href="../nblib/img/noobaa_icon.ico"/>

	<!-- Bootstrap css -->
	<link href="../vendor/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" media="screen"/>
	<link href="../vendor/bootstrap/css/bootstrap-responsive.min.css" type="text/css" rel="stylesheet"/>

	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Finger+Paint' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>

	<!-- NooBaa css -->
	<link href="../nblib/css/nb_classes.css" type="text/css" rel="stylesheet"/>

	<!-- SCRIPTS -->

	<script type="text/javascript">
		// use the planet main (main.js) to initialize the application
		window.noobaa_planet_app = 
			new process.mainModule.exports.App(window);
	</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="../js/dashboard.js" type="text/javascript"></script>
</head>

<body class="bglight">

	<div class="fntpaint fntblk" align="center"
		style="font-size: 30pt; line-height: 30pt; margin: 30px 0 0 0;">
		NooBaa Dashboard
	</div>

	<div align="center">
		<br/><br/>
		<iframe nwdisable nwfaketop src="http://127.0.0.1:5000/auth/facebook/planet/"
			width="90%" scrolling="auto" frameborder="no" align="center"></iframe>
		<br/><br/>
	</div>

	<button onclick="window.noobaa_planet_app.new_win('http://www.facebook.com')">FB</button>

	<div id="log" class="fntread fntblk"></div>


	<script type="text/javascript">
		// once all loading scripts are done, show the window
		window.noobaa_planet_app.open();
	</script>
</body>

</html>
