<!DOCTYPE html>
<html ng-app="noobaa_app" style="overflow-y: auto">

<head>
	<meta charset="utf-8" />
	<title>NooBaa App</title>
	
	<link rel="shortcut icon" href="../nblib/img/noobaa_icon.ico"/>

	<!-- Bootstrap css -->
	<link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" type="text/css" rel="stylesheet"/>
	<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" type="text/css" rel="stylesheet"/>

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Finger+Paint' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>

	<!-- NooBaa css -->
	<link href="../nblib/css/nbstyle.css" type="text/css" rel="stylesheet"/>
</head>

<body ng-controller="DashboardCtrl" class="bglight">

	<div class="fntpaint fntblk" align="center"
		style="font-size: 30pt; line-height: 30pt; margin: 30px 0 0 0;">
		NooBaa Dashboard
		<button class="btn btn-small pull-right"
			ng-click="reload_home()">
			<i class="icon-refresh"></i>
		</button>
		<button class="btn btn-small pull-right"
			ng-click="gui.Window.get().showDevTools()">
			<i class="icon-cog"></i>
		</button>
		<button class="btn btn-small pull-right"
			ng-click="new_win()">
			<i class="icon-plus"></i>
		</button>
	</div>

	<br/>
	<br/>

	<table class="table">
		<tr>
			<td class="fntread fntblk">
	 			Device Login
			</td>
			<td>
				<div ng-cloak ng-hide="planet_user">
					<span class="badge badge-warning">
						Not Connected
					</span>
					<a ng-click="do_connect()" style="cursor: pointer">
						<img src="../nblib/img/facebook_login_button.png"></img>
					</a>
				</div>
				<div ng-cloak ng-show="planet_user">
					<span class="badge badge-info">
						<i class="icon-user icon-white"></i>
						{{planet_user.name}}
					</span>
					<a class="btn btn-link" 
						ng-click="do_disconnect()">
						Disconnect this device...
					</a>
				</div>
			</td>
		</tr>
		<tr>
			<td class="fntread fntblk">
				Co-Shared Space
			</td>
			<td>
				<span ng-cloak class="badge badge-info">
					{{ human_size(planetfs.total_size()) }}
				</span>
				<a class="btn btn-link">
					Increase...
				</a>
			</td>
		</tr>
		<tr>
			<td class="fntread fntblk">
				Used Space
			</td>
			<td>
				<span ng-cloak class="badge badge-info">
					{{ human_size(planetfs.used_size()) }}
				</span>
			</td>
		</tr>
	</table>

	<!-- iframe used to make authentication -->
	<iframe id="auth_frame" hidden nwdisable nwfaketop></iframe>


	<!-- SCRIPTS -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
	<script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script src="../vendor/angular-ui/build/angular-ui.min.js" type="text/javascript"></script>
	<script src="../vendor/ng-grid/build/ng-grid.debug.js" type="text/javascript"></script>
	<script src="../nblib/js/angular_common.js" type="text/javascript"></script>
	<script src="../js/dashboard.js" type="text/javascript"></script>

</body>

</html>
